[2018-03-30 06:23] mjsisley opened #1 "Prevent Default Behavior of Gesture (Back Navigation on Mobile)"
On mobile browsers (at least on iOS: Safari, Chrome), I'm getting the default behavior of a swipe to the left triggering a back navigation (along with the gesture provided with this library). It would be great if this library exposed a way to prevent that default behavior.

I see you removed `preventDefault` on the last release, I'm not sure what the issue was... but it would be great if there was

[2018-04-05 11:37] drcmda commented on #1
@mjsisley i think i got some console warnings in chrome, didn't they change the way events worked? I'm a bit out of the loop, do you know what would be the *right* way to do it? Would you go for an option, or use a reasonable default.

[2018-04-19 03:34] mateeyow opened #4 "[Question] y assigned to pageX"
Just curious, is there a reason why you assigned `y` state to `pageX` and not `pageY`?

[code]

This instance is in both `handleMouseDown` and `handleMouseMove`

[2018-04-20 15:29] drcmda commented on #4
Typo. Haven't used pageX/Y in an app with this libs before and didn't see it. Thanks for the PR!

[2018-04-20 15:29] #4 closed

[2018-10-09 22:17] sampl opened #8 "Add example for triggering actions on swipe"
I'd love to know the best way to trigger an event based on a gesture.

For ex: let's say someone using [the demo](https://codesandbox.io/embed/jzn14k0ppy) drags the box to the right and releases it to "accept" that item. Where and how would you actually call an `acceptItem` function?

Happy to refile elsewhere if this isn't the right place. Thanks!

[2018-10-10 17:59] sampl commented on #8
@monstersintokyo just what I needed--thank you so much!

[2018-10-11 05:07] monstersintokyo commented on #8
@sampl you're welcome :-)

[2018-11-05 10:59] biernacki opened #10 "Small naming bug in `mousemove` event listener"
In the current implementation there is a small bug regarding the `mousemove` event handler - `this.handleMouseMoveRaf` doesn't exist, it should be `this.handleMouseMove`

https://github.com/drcmda/react-with-gesture/blob/master/src/index.js#L41

[2018-11-05 14:30] drcmda commented on #10
Ups, saw it, thanks - i'll take care of it after cleaning up the useGesture code duplication.

[2018-11-05 15:32] biernacki commented on #10
@drcmda you're quick 👍

[2018-11-05 15:32] #10 closed

[2018-11-05 15:53] biernacki opened #12 "[BUG] Uncaught ReferenceError: initialstate is not defined in v2"
On line [105](https://github.com/drcmda/react-with-gesture/blob/master/src/index.js#L105) and [108](https://github.com/drcmda/react-with-gesture/blob/master/src/index.js#L108) `initialstate` is lowercased which causes an `Uncaught ReferenceError: initialstate is not defined`.

[2018-11-05 16:04] drcmda commented on #12
should be fixed now, thanks!

[2018-11-06 07:54] #12 closed

[2018-11-23 09:46] dbismut opened #15 "[useGesture] Transient mode: is there a way to read state?"
Hi! I'm testing `useGesture` with `transient: true` to avoid re-rendering on drag with `react-spring` and `animated.div`.

In the `onAction` callback, I'd like to set the spring coordinates to something that depends on the component state. However, `onAction` never reads the updated state. Is this by design? Wouldn't there be a way to tell `onAction` to recompute on re-render or on variable change

[2018-12-18 08:52] rppld opened #17 "Allow disabling of touch or mouse event listeners"
I was building a carousel that should be draggable with a mouse, while on touch devices it just uses native horizontal scroll behaviour. So `<Gesture />` shouldn't listen for touch events in this case. [I've opened a PR](https://github.com/drcmda/react-with-gesture/pull/16) that implements those options for both touch and mouse.

[2018-12-30 00:02] drcmda commented on #15
This is how hooks work, you never can access hook state in events, it's all stale data. One way to get around this is using useRef, this is also in the hooks docs. Another thing i did today was change how bind works, it's a function now that lets you inject stuff (see frontpage), "transient: true" also isn't needed, just the callback.

[2018-12-30 10:49] dbismut commented on #15
Thanks @drcmda I'm trying to play with `react-gesture@3.0.1` but `bind()` returns `Object {onMouseDown: undefined, onTouchStart: undefined}`, see here: https://codesandbox.io/s/jpwjzkpqv

Not sure what I'm doing wrong 😬

[2018-12-30 11:47] drcmda commented on #15
Here's the fixed box: https://codesandbox.io/s/740lo2k9y1

The problem was that you got "interpolate" from react-spring, react-spring/hooks is a separate bundle, so it's gotta be `import { interpolate, config, animate, useSpring ........ } from "react-spring/hooks"`

[2018-12-30 11:49] dbismut commented on #15
Oh ok thank you so much! I’ll close this then 👌

[2018-12-30 19:44] drcmda commented on #15
No, and it doesn't. The log output is from the event handler, the component only renders once per click (because of the set function that is called). You can remove the RAF. Then you will get an outdated count because the click event fires before React renders set(count =>  count + 1). RAF puts you one frame behind React.

[2018-12-30 19:49] dbismut commented on #15
Right sorry, everything’s crystal clear! Thanks a million.

[2018-12-30 19:49] #15 closed

[2018-12-30 21:12] #8 closed

[2018-12-30 21:15] rppld commented on #17
Hmm, yes I feel like there could be a smarter way to handle this indeed. I'll see if I can come up with a suggestion. Gonna close this issue meanwhile since the changes got merged.

[2018-12-30 21:15] #17 closed

[2018-12-31 12:34] zvictor commented on #1
I am having a similar issue with Chrome reloading the page when I swipe down. Having the ability to stopPropagation/preventDefault is a must 🤳

At first I tried using `onAction` to achieve this goal, expecting it to send down the event, but that's not possible. So, my proposal is that we change the api to expose `event` somehow.

[code]

[2019-01-01 11:12] drcmda commented on #1
Makes sense, the event is now included in 3.0.3. I've switched it to passive mode, though, so in order to be able to do e.preventDefault it would be something like this:

    useEvent({ transient: true, onAction: props => props.event.preventDefault(), passive: false })

[2019-01-02 07:11] niwsa commented on #1
@drcmda Is it possible to preventDefault in render props pattern? I don't quite understand transient mode, how are things different in transient mode will something like below work ?

![code](https://user-images.githubusercontent.com/3107922/50582871-a8fe6c80-0e8b-11e9-988e-ca1e6c519ac3.png)

[2019-01-02 12:38] drcmda commented on #1
Yeah, I noticed, there’s no way currently to pass props. I think it would be a breaking change at for the HOC. Should we do it?

[2019-01-02 17:01] niwsa commented on #1
Seems yes from my side.I am facing the same issue that Victor faces i.e the browser refreshing the page on swiping down.Hopefully the breaking change you mentioned won't cause issues somewhere else or do they (I don't have the whole picture)?

[2019-01-02 21:58] zvictor commented on #1
thanks for the great and quick work, @drcmda!
I pushed a little as #18 and I would like to also make a comment about the `passive` prop added by you.

I think the code you posted above contains some imprecisions. Wouldn't the correct way be as below?
[code]

If my understanding of the code is correct we are sending the prop `passive`, as it is, down as the third argument of [addEventListener](http

[2019-01-04 14:03] drcmda commented on #1
Released it today: https://twitter.com/0xca0a/status/1081185260208078849

[2019-01-06 14:05] yyyhehehe opened #21 "typescript type definition is wrong"
[code]

`GestureState` does not describe actual value passed to event handler.

[2019-01-06 16:30] drcmda commented on #21
There currently aren't any definitions, there's this file: https://github.com/drcmda/react-with-gesture/blob/master/index.d._ts but outdated. I don't know/use TS, relying on contributions.

[2019-01-08 12:40] zvictor opened #24 "event listener is being called twice"
The  event listeners for `mousedown` and `touchdown` are being called twice when they are not followed by a drag movement.

As consequence, problems arise with released/nullified synthetic events.

steps to reproduce it (or go to https://codesandbox.io/s/yjj0kp778x):
1- open any demo that uses `useGesture` and the `onAction` method.
2- add `console.log(event.type)` to it
3- perform a single, fast

[2019-01-08 12:54] drcmda commented on #24
Do you know how to solve it? I don't have a mouse here right now, using a trackpad. Some users have seen weird effects that things stick to the cursor sometimes, it's probably that.

[2019-01-08 13:00] zvictor commented on #24
Unfortunately I couldn't figure out what is causing it, but you should be able to reproduce it even without a mouse. I actually notice it while simulating touch events.

[2019-01-09 20:42] brunolemos opened #26 "React Native support"
Any plans?

[2019-01-10 08:30] drcmda commented on #26
Would you send in a PR for this? The code is small and It's just a bunch of events so it should be relatively straight forward to extend. I don't use RN so much that i know it.

[2019-01-12 11:35] forNope commented on #21
@yyyhehehe  I think it can work for typescript now

[2019-01-20 13:06] arvigeus opened #32 "Direction is wrong"
This is hard to reproduce, but sometimes `direction` is [0, 0] although the mouse had moved. Here is a video of that: https://youtu.be/YfDXwAw9mr4

`react-with-gesture` v4.0.2

[code]
(if this is useful at all)

[2019-02-06 19:23] mgrip opened #33 "Any way to reset the local delta?"
Hoping someone can help me with this - not sure if I'm missing how to implement with the existing functionality, or if this is a valid use case to warrant additional functionality.

Basically I'm using touch events to control the height of a drawer being slid up and down the y axis. The `local` delta works perfectly for this, as the height is kept stable across multiple touch events (similar to [t

[2019-02-06 19:24] mgrip commented on #33
I think basically my question boils down to in the [README example](https://github.com/react-spring/react-with-gesture#react-hooks-basic-dragndrop), how would you keep the existing functionality, while _also_ having a button that moves the dot to pre-determined points.

[2019-02-07 14:09] drcmda commented on #33
isnt this what you want? https://codesandbox.io/embed/zq19y1xr9m

you can dragndrop the thing, but outward functionality can decay it away. you'll still be able to pick it up at the right spot.

[2019-02-07 21:47] daryl commented on #26
Need this also.

[2019-02-07 22:13] drcmda commented on #26
problem is that i don't work with RN personally atm, i just don't know the api.

[2019-02-13 15:04] williamtstanley commented on #24
I wanted to chime in to add that I am also getting this error on a fork of the `View Pager` example.
![screenshot from 2019-02-12 18-08-04](https://user-images.githubusercontent.com/12862939/52720422-705ab400-2f5c-11e9-9ec1-519281f30886.png)

I just played with a fork again and I get the error after updating the version to 4.0.3,  4.0.0 and 4.0.2 do not have this issue. 4.0.1 has a different error

[2019-02-13 15:14] drcmda commented on #24
could you link it? would be interesting if it pops up here as well, i haven't seen it for a while.

[2019-02-13 19:53] williamtstanley commented on #24
Sorry I totally should have done that. [Sandbox example with error - v4.0.3](https://codesandbox.io/s/rj0z6872rq)

[2019-02-13 20:45] drcmda commented on #24
should be fixed, it was due to a new props that's in there, the shift key status, forgot that i need to store it locally due to reacts re-pooling.

[2019-02-18 22:34] ralexand56 commented on #21
These types are all screwed up. This:
const [bind, { local: [x, y] }] = useGesture()

gives an error that useGesture doesn't accept an array as a return value.

[2019-02-19 02:48] #21 closed

[2019-02-25 18:07] tkvw opened #35 "Compatibility issue with react-spring 8.x"
The example https://codesandbox.io/embed/zq19y1xr9m does not seem to work with with the latest versions of react-spring and react; @see: https://codesandbox.io/s/j2nl5z3m45 . Any ideas?

[2019-02-25 19:54] drcmda commented on #35
ah, good catch, decay was an experimental feature i was working on. i will fix it ...

[2019-03-05 01:00] tim-soft commented on #24
Interestingly I'm still seeing the error with the render props version of 4.0.5, downgrade to 4.0.2 and the error goes away

[2019-03-05 09:52] drcmda commented on #24
could you try to trace it? you can copy the source and use it locally for quicker results, it's just one file.

[2019-03-05 23:41] tim-soft commented on #8
@drcmda how would this example work now that we only have the `onAction` callback?

Including `onAction` means we can update component state based on events but the children of `<Gesture />` don't re-render.

Doing it like this isn't gonna work well
[code]

[2019-03-06 06:36] drcmda commented on #8
@tim-soft did something change? how did you do it before? i think otherwise in the class base api that needs to be componentDidUpdate that does the updateState().

[2019-03-06 06:54] tim-soft commented on #8
In an older version, we could call setState() based on some gesture event like in https://codesandbox.io/embed/w0x1030lwk without interfering in the animation

[code]

[2019-03-06 07:25] drcmda commented on #8
the last bit i don't understand yet. if you're in onAction and you cause a setState, why wouldn't the spring animate?

[2019-03-06 07:28] tim-soft commented on #8
Here's a codepen where I try to replicate  https://codesandbox.io/embed/3vv25z07j6

The top slider uses onAction to decide when to call setState()
The bottom slider tries to call setState() inside the render function --> obviously a noop

[2019-03-06 07:34] drcmda commented on #8
I see. Could i interest you in adding these events back via PR?

now: https://github.com/react-spring/react-with-gesture/blob/master/index.js

then: https://github.com/react-spring/react-with-gesture/blob/5f243e0b1da7cf7e2c7ba5dc41f440993e8acca2/src/index.js

[2019-03-06 07:35] tim-soft commented on #8
definitely 👍

[2019-03-06 19:55] tim-soft commented on #24
This line seems to be the culprit https://github.com/react-spring/react-with-gesture/blob/master/index.js#L33

[2019-03-07 18:34] dbismut opened #38 "Get xy without dragging"
Hi! I understand this lib is made for handling gestures on mobile which translate to the mouse being clicked on desktop, but I was curious if there was a way to make it work onMouseMove like for a rollover?

[2019-03-07 20:02] tim-soft opened #39 "Two finger touch gesture events"
I modified a local version of react-with-gesture to return a simple distance between two fingers

[code]

I'm using this for calculating a pinch/zoom `scale(x)` factor. While I'd like to see this lib support two finger events, what I've got feels really specific to my usecase.

What would/should the api look like if it had handlers/events specific to two finger gestures?

[2019-03-07 23:01] drcmda commented on #38
what is a rollover? you mean something like a hover?

[2019-03-07 23:03] dbismut commented on #38
Yes sorry a hover. We call that rollover in French I was certain it was a word.

[2019-03-07 23:06] drcmda commented on #39
never thought about it but would be a useful addition. do you have any ideas regarding the api that you like? i think i would trust your realworld usecase more than my whims right now, i haven't done much with multitouch before.

[2019-03-07 23:10] drcmda commented on #38
i only know it as a trick for dogs : D (not a native english speaker). i guess it would be easy to add - though it would re-render the component when onAction isn't defined. wouldn't it be easier to just read out onMouseMove on the div you bind to a gesture? that way it's under your control. or propose an api, maybe it does makes sense adding it.

[2019-03-07 23:12] drcmda commented on #26
@brunolemos @daryl so this will soon happen, i will make it work with [react-three-fiber](https://github.com/drcmda/react-three-fiber) so it has to be made cross platform, which then includes react-native. do you have any ideas how we can pull this off? i guess it needs to know some platform specifics, and the platform has to support start/move/end.

[2019-03-08 00:42] brunolemos commented on #26
I don't have experience with gestures but you'll probably need to use this api: https://facebook.github.io/react-native/docs/panresponder

[2019-03-08 11:01] dbismut commented on #38
This is what I'm doing at the moment but, I don't have access to all velocity, etc. that you provide in your package :) I was curious that maybe https://github.com/react-spring/react-with-gesture/pull/37 would help my case?

[2019-03-08 11:13] drcmda commented on #38
i think not because onmove is only called when you click and drag. maybe we could expose the calculation stuff, so that you can call it like so:

[code]

[2019-03-08 11:20] drcmda commented on #38
thinking about it, maybe including the possibility to receive move is perhaps the best, then you don't need to fiddle around with extra events and you can create one gesture in one place.

just needs to be a clear and easy api.

[2019-03-08 12:59] dbismut commented on #38
Yeah, that's what I was trying at the moment.

So just to clarify, this is what I had was:

[code]

So I've modified `react-with-gesture` to have a `move` prop in the config to be able to do:

[code]

That works ok, but unfortunately I'm not sure about two things:
- where to remove the event listener that is created in `handlers`
- how to inject the `isTransitioning` dependency (but I think you've

[2019-03-08 14:20] drcmda commented on #38
I dig the move prop, let's do this!

[code]

could you explain `isTransitioning` once again? i am kinda out of the loop a little.

[2019-03-08 14:34] dbismut commented on #38
Thanks! Not I'm not clear where to use `useEffect` though, I think it's forbidden to use it in `handlers`? At least that's what `eslint-plugin-react-hooks@1.5.0` tells me (`handlers` is not a custom hook, and it can't be since it's used in the callback of `useState`).

Sorry, `isTransitioning` is essentially a custom prop that my component gets that reflects the fact the router is transitioning fr

[2019-03-08 18:08] dbismut commented on #38
Humpf sorry I'm stupid. Since I need hover and not drag, I don't need to have a window.listener to anything. I just need to write:

[code]

Now there's the dependency issue though :)

[2019-03-12 10:37] dbismut commented on #38
Hey @drcmda so here is a sandbox demo that shows how hover would behave: https://codesandbox.io/s/llrwmpozq

The only lines that I've added to the package are below (I've changed the `move` prop to `hoverOnly` as I thought it was clearer:

[code]

One thing that is not handled there is boundaries but I don't think they're handled for drag either anyway?

[2019-03-13 12:15] drcmda commented on #38
looks good to me, i'll keep on working on this lib after some of the other stuff in react-three-fiber. hope i can finish it quickly.

[2019-03-14 16:34] dbismut commented on #38
I've just been looking at how we could also implement scroll events, and I think it would be a matter of a few extra lines, with 95% code reuse. I don't know if you consider it to be a _gesture_ in the sense you intended this lib though :)

[2019-03-14 18:04] dbismut commented on #38
Here's a quick try: https://codesandbox.io/s/8x05x4xr3j
There is still some work to do since at the moment it only works on the window element but you get the idea (although I get horrible perf in Safari so I might be doing some wrong) here.

[2019-03-15 05:56] kossel opened #42 "lock axis with gesture in the examples?"
If you go to the "Draggable List" example in mobile view, dragging items vertically causes the browser to scroll, is there a way to prevent that like preventDefault? I think would be nice to show in the example

https://www.react-spring.io/docs/hooks/examples

[2019-03-15 14:05] dbismut commented on #42
Here is an updated sandbox without the browser scrolling, with just a minor css fix:
https://codesandbox.io/s/wwz6nxp8xw

[2019-03-15 15:50] kossel commented on #42
@dbismut I think you missunderstood my point. we can not always just lock the body with overflow: hidden, would be nice if there a way to lock axis like React pose from popmotion (https://popmotion.io/pose/) see interactivity example.

you can also see this example, when you scroll horizontal the browser vertical scroll is ignored
https://codepen.io/kossel-the-styleful/pen/EMERBe

[2019-03-15 16:11] dbismut commented on #42
Sorry I thought your question was related to that specific example.
I think your question is two-folded:
1. can we lock axis
2. is there a way to `preventDefault`

#### Question 1
Contrary to `pose` or `react-pose`, `react-with-gesture` needs you to be more explicit with your code. So if you only want an element to react to horizontal gestures you could have:

[code]
See codesandbox here: https://

[2019-03-15 17:31] drcmda commented on #42
The event is passed through, but if you're in passive mode you can't preventdefault. Another possibility would be to simply set the overscroll container to overflow: hidden. that's what i would probably go for.

[2019-03-15 18:31] kossel commented on #42
Ok, I made it work https://codesandbox.io/embed/y28q726919?codemirror=1

but I still think would be good to include the event.preventDefault() into the examples so when user actually testing it with phone, they don't see the page scrolls

[2019-03-15 21:21] drcmda commented on #42
The event is listed on the front-page, look where it says "Event data", that's the generic browser event with all the methods you can call on it. The passive handler stuff is mentioned under config. Passive events are faster and don't cause lag, but it doesn't allow you to stop propagation or prevent defaults.

[2019-03-16 02:14] kossel commented on #42
thanks for the explanation!

[2019-03-16 02:14] #42 closed

[2019-03-20 14:24] tkvw commented on #35
Any update?

[2019-03-20 14:57] jccedre opened #44 "Window not defined in default prop"
Looks like version 4.0.7 introduced a default prop for window but my SSR rendering app is now crashing because there isn't a catch for when window is not defined. For the time being I just rolled back to version 4.0.5 and everything is working fine.

[2019-03-20 15:18] drcmda commented on #44
Oh, it was caused by this PR https://github.com/react-spring/react-with-gesture/pull/43/files

Do you know how to solve it?

[2019-03-20 15:30] drcmda commented on #35
I was so busy i couldn't look at it still. Just fixed it: https://codesandbox.io/s/zq19y1xr9m?from-embed

[2019-03-20 23:20] xD3CODER commented on #44
Same issue here

[2019-03-21 00:11] drcmda commented on #44
i reverted the commit and made a patch

[2019-03-21 00:22] jccedre commented on #44
I think a possible solution may be to use ternary operator to check if window is undefined.  I am able to confirm this worked in my case with Gatsbyjs when running the build command.

[code]

[2019-03-22 10:16] dotlouis commented on #39
Actually trying to work with multi-touch events too(pinch to zoom). I will report any findings if it can help

[2019-03-22 19:19] tim-soft commented on #39
@dotlouis I haven't had much time to mess with this recently but here is the actual code that I'm using for a lightbox library

https://github.com/tim-soft/react-with-gesture/commit/5bef96844c99f0f4e09b1592e8af5ce2632903f2

Then you can use this by

[code]

Now that I think about it, I could probably just return the pinch delta from the lib and calculate the zoom on my own, not really the library'

[2019-03-25 08:44] janbaykara commented on #44
@jccedre would you like to submit that as a PR?

[2019-03-25 17:01] drcmda opened #45 "🤞Roadmap"
## v7

Read #109 for more

## v6.0.x
- [x] Renaming gesture keys

[Breaking changes](https://github.com/react-spring/react-use-gesture/blob/master/CHANGELOG.md#breaking-1)

## v5.1.x and v5.2.x
- [x] support for zoom on trackpads
- [x] support for pinch on trackpads on Safari
- [x] Typescript rewrite
- [x] Commodity handlers `useDrag`, `usePinch`, etc.

## v5.0.x
- [x] rename repo to react-use-ges

[2019-03-25 19:28] drcmda commented on #39
@tim-soft so let's put this into 5.x?

[2019-03-27 12:31] 0m15 opened #47 "Usage with targets outside render"
Hi,
this is not a real issue, just a quick tip for people who needs the listener to be added to a target outside of the component render, for example, `window`:

[code]

This works fine.

[2019-03-27 14:26] drcmda commented on #47
Next version will have api support with automatic cleanup for that (@dbismut made it), so that you can do something like this:

[code]

[2019-04-05 18:22] #38 closed

[2019-04-11 12:53] dbismut commented on #47
Hi @0m15, we've just released a beta of v5.0.0 (`react-use-gesture@5.0.0-beta.3`) that does what @drcmda mentioned. The proper api is:

[code]

[2019-04-11 12:58] dbismut commented on #44
Hey @jccedre we've just released a beta of v5.0.0 (react-use-gesture@5.0.0-beta.3) that should implement your PR.

There's quite a few api changes that are mentioned [here](https://github.com/react-spring/react-use-gesture/blob/5.x/CHANGELOG.md), some of them might affect you.

[code]

[2019-04-11 13:03] dbismut commented on #39
Hey @tim-soft we've just released a beta of v5.0.0 (react-use-gesture@5.0.0-beta.3) that introduces new gestures, including pinch.

The pinch handler returns `da` instead of `xy` (for `d` for distance and `a` for angle), but you'll probably end up using `local` that returns `delta` with book-keeping, and that you should use to calculate the scale or the rotation. Here is a temp [codesandbox here](

[2019-04-11 13:07] dbismut commented on #32
@arvigeus we've just released a beta of v5.0.0 (react-use-gesture@5.0.0-beta.3) that might correct your problem.

However, there's quite a few api changes that are mentioned [here](https://github.com/react-spring/react-use-gesture/blob/5.x/CHANGELOG.md), dropping render-props and relying solely on hooks might affect you I'm afraid.

[code]

[2019-04-11 13:08] #24 closed

[2019-04-11 13:09] jccedre commented on #44
@dbismut wow! So happy with the direction v5.0.0 is going in. I took a look at the code and hopefully catching window inside the defaultConfig should do the trick for SSR. Thank you for implementing that fix. If there is anything I can do to help let me know. I am happy to support this project!

[2019-04-11 13:10] #1 closed

[2019-04-11 13:10] #35 closed

[2019-04-11 13:17] dbismut commented on #44
Good to hear! 5.0.0 introduces many new gestures, and hasn't been thoroughly tested on many browsers yet, so if you happen to try it let us know if there's anything that breaks. Other than that yes, it should do the trick, since we're only adding listeners to the `window` when the user starts the drag (i.e. presses the element), and that can't happen in the server 😅

[2019-04-11 15:02] #32 closed

[2019-04-11 15:15] dbismut commented on #32
If you have a codesandbox with the old code I'd be happy to migrate it to hooks to see if it's solved.

[2019-04-12 07:18] arvigeus commented on #32
Thank you for your kindness! The code is too convoluted. Unless you hate life and free time, I think I'll spare you "the pleasure".

[2019-04-12 07:31] dbismut commented on #32
Haha fair enough. Well if you use this lib again with hooks and stumble upon the same problem let me know!

[2019-04-16 12:36] mrsimb opened #49 "5.x Bind only stores last args"
I have one useGesture handler for multiple items. I use bind(itemIndex) for each item.
All handlers created by bind now seem to store the last itemIndex passed to bind, instead of unique for each one (like it was in 4.x).

[2019-04-16 17:37] dbismut commented on #49
You’re right! I think I know how to fix this. Shouldn’t take long!

[2019-04-17 10:18] dbismut commented on #49
Hi @mrsimb this should be fixed (and tested) in `@5.0.0-beta.5`!
https://codesandbox.io/s/935470jo44

[2019-04-19 13:17] mrsimb commented on #49
Neat! Just tried it, works great!
Can we close this issue now?

[2019-04-19 13:17] #49 closed

[2019-04-29 16:20] #44 closed

[2019-04-29 16:21] #47 closed

[2019-04-29 16:21] #39 closed

[2019-04-30 03:47] ziyoshams commented on #26
Reach out to the author of react-native-gesture-handler

[2019-05-01 21:01] niieani opened #51 "Support for trackpad-based moving and pinch & zoom"
I noticed that current version only works with real touch devices. It would be great if we could support at least some multi-touch gestures on trackpads, like moving around and pinch to zoom.

Here's an article that explains how to achieve that cross-browser: https://medium.com/@auchenberg/detecting-multi-touch-trackpad-gestures-in-javascript-a2505babb10e

[2019-05-02 04:26] dbismut commented on #51
Good point, I believe this is proprietary to WebKit but it shouldn’t be to hard to implement in the future. I’ve referenced the feature in the roadmap issue right there:

https://github.com/react-spring/react-use-gesture/issues/45

[2019-05-02 08:01] niieani commented on #51
Great to hear it's on the roadmap! 👍

The two basic gestures (moving and pinching) work cross-browser via a sanctioned "hack" (e.g. Google Maps uses it), though no individual finger tracking is possible. That article I mentioned actually mentions how it's implemented :)

[2019-05-02 09:53] dbismut commented on #51
Ok I’ll have a closer look! Thanks for the tip 👊

[2019-05-07 16:08] morgs32 opened #52 "Calling cancel on drag gets called twice (on strong drags)"
See your codesandbox here: https://codesandbox.io/s/n9vo1my91p

If you give it a forceful drag, it will skip a slide because it appears the `cancel` method is getting called twice (it happens that the slide++ is embedded in the `cancel` call).

[2019-05-07 16:11] morgs32 commented on #52
In this line [here](https://github.com/react-spring/react-use-gesture/blob/master/index.js#L253), why do we have to use a `requestAnimationFrame`. Some other race condition?

[2019-05-07 16:13] morgs32 commented on #52
What the... I just "updated" codesandbox and this ceases to happen. Sorry for the noise.

[2019-05-07 16:15] morgs32 commented on #52
Ok... it only happens when dev tools is open?

[2019-05-08 10:10] dbismut commented on #52
Hey @morgs32, thanks for reporting the issue, nice catch :) Yes, `requestAnimationFrame` is used to let the gesture logic finish before terminating it with `cancel`.

[code]

What seems to happen with the devtools opened in the example is that RAF debounces the call to terminate the gesture and the browser sometimes has time to execute the gesture twice, hence the logic (that depends on `cancel` b

[2019-05-08 11:25] dbismut commented on #51
Hey @niieani I'm trying the example mentioned in the article you sent (https://multi-touch-trackpad-gesture.stackblitz.io/) and although this works in Safari (because of `gesturechange` I guess), it doesn't seem to work on Chrome nor Firefox. Does it for you?

Anyway, I'm considering implementing trackpad gestures at least for Safari but React doesn't support proprietary APIs so I'd have to handle

[2019-05-08 16:45] morgs32 commented on #52
I figured as much! Here's what resolved it for me:
https://github.com/react-spring/react-use-gesture/pull/53

Of course, it was only really an issue because in development. Interesting!

[2019-05-08 18:32] niieani commented on #51
Hi @dbismut it works for me on:

- macOS + Chrome (zoom & pan)
- macOS + Firefox (zoom & pan)
- macOS + Safari (zoom & pan & rotation)

I'm not sure how good the support on Windows trackpads is though (if at all).

[2019-05-09 05:05] dbismut commented on #51
That's really weird, what's the trackpad you're using? Can you also let me know versions of the browsers and OS?

On my end, with a 2016 MacBook Pro, MacOS 10.14.4, Chrome 75.0.3770.18 (beta), Firefox 67.0b18 (beta) it just scrolls through the page with no effect on scale.

[2019-05-09 05:13] dbismut commented on #52
I think it's actually an issue every time the browser would drop frames so I believe this needs a fix! I'll review your PR now :)

[2019-05-09 09:06] niieani commented on #51
@dbismut I'm using the built-in trackpad of MacBook Pro (15-inch, 2018) and was testing on dev versions of Chrome and FF. No idea why it's not working for you, maybe it's due to some setting/configuration change? I have another MacBook Pro 13" from 2015, I can test it there if you'd like?

[2019-05-09 11:00] dbismut commented on #51
That would be awesome, I’ll also run some tests at agency. You don’t actually need to press ctrl right?

[2019-05-09 23:59] noeljackson commented on #26
Using a `View`, without using a ref, you can use `{...bind()}` or similar, for now, and it works with https://github.com/necolas/react-native-web

[2019-05-10 03:32] niieani commented on #51
@dbismut No, in fact pressing CTRL has no effect for me. Only actual pinching/panning triggers that meta change. I'll have a look over the weekend.

[2019-05-10 08:43] dbismut commented on #51
@niieani forget it, it works now for some reason, I'll have a shot at this this week-end.

[2019-05-11 07:48] dbismut commented on #51
Hey @niieani here's a first attempt that should work on Safari (scale and rotation) and Chrome (scale only):

[Full Screen](https://54wvx0w1z4.codesandbox.io)
[Code](https://codesandbox.io/s/54wvx0w1z4) - gestures won't work in the iframe preview I think

Implementation is a bit clumsy at the moment, also for some reason I had to preventDefault on document gestures to prevent Safari showing tab ov

[2019-05-11 10:33] dbismut commented on #52
Should be fixed in `5.0.1`!

[2019-05-11 10:33] #52 closed

[2019-05-11 13:07] niieani commented on #51
Hey @dbismut great! There's one issue on Chrome for me, when I zoom, sometimes the native zoom functionality also gets triggered, so I'm zooming the viewport together with the element. Not sure if I said it clearly?

[2019-05-11 14:19] dbismut commented on #51
It does. I think it has to do with the gesture being captured by the document instead of the element, it happens to me when I’m unzooming and the element becomes small enough so that my mouse is not over it anymore. Would that make sense?

[2019-05-11 14:51] littlee opened #54 "update local value from outside ?"
[code]

I am trying to adopt the example code in my project, but after clicking the button to move to div to some position, dragging the div will make it move to its previous position first and then the start moving with drag gesture.

I think that's because the `local` in `onDrag` doesn't sync its position with `set`, but I can't find a method to do this.

[2019-05-11 15:03] dbismut commented on #54
Hey @littlee can you create a codesandbox for this? I think this is a good usecase for `temp` actually, happy to show you but you can have a look at this example to see how it works: https://codesandbox.io/s/zq19y1xr9m

[2019-05-11 15:44] littlee commented on #54
https://codesandbox.io/s/9j66qwk5yw

@dbismut please take a look at this sandbox, you can drag the aqua-colored div, the click the button, then drag the div again, you will see what I meant.

[2019-05-11 15:58] dbismut commented on #54
@littlee yep, that's what I thought, here is the amended codesandbox that should work as you want.
https://codesandbox.io/s/5mx7vx12px

Temp is used as a cache value that is set at the element position when the gesture starts: in this case it works a little bit like `initial`, only here we set it to the actual element position instead of the pointer position like `initial` works.

Feel free to clo

[2019-05-11 16:02] littlee commented on #54
That's cool

[2019-05-11 16:02] #54 closed

[2019-05-11 17:00] niieani commented on #51
@dbismut yeah, although when zooming in it also happens so that sometimes it's currently hard to say if I'm zooming the page or triggering the component.

[2019-05-15 11:14] sami616 opened #55 "Pragmatically set value of X"
Hi, i'm using this lib to track the x value of an element when it is dragged. is there currently any way of me pragmatically setting this value for example when the window is resized?

Sami.

[2019-05-15 12:53] dbismut commented on #55
Hey @sami616, this is almost the same question as https://github.com/react-spring/react-use-gesture/issues/54 so the answer is almost the same: you need to use `temp`. If you have a codesandbox set up I can quickly show you how it's done.

[2019-05-15 14:21] sami616 commented on #55
HI @dbismut i followed an example and got to this point which is working. However i don't care about the y values, could this be done more efficiently. Also not sure what the add function is doing, is this necessary for my use case?

https://codesandbox.io/s/ko68lqp9pv

[2019-05-15 15:00] dbismut commented on #55
Add is just a commodity for adding vectors. All it does is essentially `[ v1[0] + v2[0], v1[1] + v2[1] ]`

If you only care for `x`, your example could be simplified like so:

[code]

[2019-05-15 15:50] sami616 commented on #55
Thank you so much, this has helped me understand where i was going wrong.

[2019-05-15 16:02] #55 closed

[2019-05-15 16:15] dbismut commented on #51
Just published `5.1.0-beta.2`, example has been updated to use it: https://54wvx0w1z4.codesandbox.io/

I think you’ll encounter the same issues. If you wish to get your hands dirty don’t hesitate to PR on branch #next !

[2019-05-16 08:16] sami616 opened #56 "Drag bounds?"
Hi i'm trying to implement some bounds for an x value when dragging an element.

Basically i need the bounds to be 100px from the sides of the window.

I have a codesandbox where i'm partly there but cannot resume dragging after the event has been cancelled. Is this the recommended way to implement this type of behaviour? I couldnt see anything in the docs about this.

https://codesandbox.io/s/ko6

[2019-05-16 09:34] dbismut commented on #56
Hey I've just updated the readme with an example that handle boundaries.
https://codesandbox.io/s/r7xnzk4x0o

Again, using temp is the way to go.

[2019-05-16 09:34] #56 closed

[2019-05-16 10:46] mrsimb opened #57 "Wrong event.button"
Try to drag the square with middle or right mouse button.
Every event that is not first or last will have event.button === 0 (left button).
https://codesandbox.io/s/strange-surf-g4xsy

[2019-05-16 11:36] sami616 commented on #56
Amazing, thank you so much for your help @dbismut

[2019-05-16 12:22] dbismut commented on #57
Hey @mrsimb thanks for reporting the issue. I think I understand what you mean, however the `event` attribute that is returned to you in the gesture handler is the untouched source event, meaning we can't "fix" any of its attributes. It's literally the event created by the browser, it can't be wrong 🙃

However, your issue makes me realize that we're firing the drag gesture without checking which b

[2019-05-16 12:28] mrsimb commented on #57
This is normal. I wanted to use middle mouse button for panning, and left for dragging items.
I think i got it wrong, as i can just call cancel() if first event is fired with wrong button.

I am closing this as it is not a library issue.

[2019-05-16 12:28] #57 closed

[2019-05-16 13:45] dbismut commented on #57
I'm interested in this use case though. Are you handling the panning through `react-use-gesture` or otherwise?

We could have a `button` attribute that would be set when drag starts, and which would tell you which button has initiated the drag event all along. You could rely on that attribute to pan or drag depending on your logic. Would that be helpful?

[2019-05-16 13:53] mrsimb commented on #57
Yes, i have a background div which is draggable with any mouse button.
And there are item divs, which are only draggable with left mouse button (and the event propagation is stopped, to prevent simultaneous panning).

We already have touches, button will be a nice addition.

[2019-05-16 14:44] dbismut commented on #57
You can try installing `yarn add react-use-gesture@next` if you don't mind (it shouldn't break anything but it's a major refactoring so some there might be side issues)

It exports `buttons` which should give you the correct button pressed for any mouse event.

See this as an example: https://codesandbox.io/s/54wvx0w1z4
Dragging the card with the left button has inertia while there's no inertia wh

[2019-05-16 15:55] mrsimb commented on #57
Works good for me

Oh, i missed that. Thanks for the explanation!

Never noticed that one

Awesome! Have no trackpad though, so can't check this out.

[2019-05-16 18:04] eXtreme opened #58 "Pinch center position"
I'm migrating from hammerjs to react-use-gesture@next and one thing I'm missing is getting coordinates of center position of the pinch. For pinch we only have distance and angle but no center position between fingers. I would use it to set transformOrigin in CSS to make the scaling originate from actual central position of the pinch. I tried accessing event.touches but typescript complains that `P

[2019-05-17 00:16] dbismut commented on #58
Hey! Thanks for the feedback. This was indeed a quick one so I just released `5.1.0-beta.5` under the `next` tag, which exports the `origin` attribute. It should give you the central position of the pinch. I haven't tested it yet, but as you said the calculation is trivial so hopefully we're good 😅

Note that it doesn't work for `GestureEvent` just yet, I'll work on that later as it requires a bit

[2019-05-17 06:28] eXtreme commented on #58
@dbismut that was quick, thanks! I will test it later in the day and report back!

This is actually probably very specific to my usecase - the object of pan/pinch is relative to the whole area of the page (with some left and top offset to accommodate UI elements). So the object at [0,0] coordinates is at top left corner of the page. So calculating transformOrigin is just as simple as PinchCenter -

[2019-05-17 07:48] dbismut commented on #58
I see, thanks for the explanation. I’m asking mostly because there are situations where it’s interesting to get the gesture relatively to the node position. That could be doable but if it’s to the cost of `getBoundingClientRect` (which I believe triggers a layout calculation) it’s better to leave this in user land.

[2019-05-17 07:48] #58 closed

[2019-05-17 11:33] eXtreme commented on #58
@dbismut OK so I tested it and the center position works fine 👍

The only problem I see now is that when implementing "Awesome" pan(drag) and pinch experience, hammerjs calculates xy delta as difference between center coordinates, while react-use-gesture always uses first touch position (in onDrag handler). I managed to workaround it like this:

[code]

And now the origin point is glued to the sam

[2019-05-17 15:11] dbismut commented on #58
You mean hammers calculates the delta based on the position of the node element itself, correct? Yeah that's possibly the most tricky part of `react-use-gesture`, the `temp` attribute will need some further explanation / documentation.

Regarding your code, would you mind setting up a codesandbox for it? In theory, Drag gesture shouldn't be fired if more than one pointer is touching the screen, so

[2019-05-20 08:35] eXtreme commented on #58
@dbismut

No, it's actually it's in the file mentioned earlier: https://github.com/hammerjs/hammer.js/blob/563b5b1e4bfbb5796798dd286cd57b7c56f1eb9e/src/inputjs/get-center.js

For one input, "center" is just a coordinate of pointer[0], for pinching (and more pointers) it is that "central" point between them. And the actual delta XY of movement is calculated based on that central point (so for panni

[2019-05-20 16:47] dbismut commented on #58
Great let me know!

[2019-05-27 11:37] isBatak opened #60 "Arrow functions are not supported on IE11"
I managed to fix react-sping on IE11 by using `react-spring/web.cjs`, but `react-use-gesture` doesn't have `.cjs` module and it's using arrow functions which are not supported in IE11.
Could you make '.cjs` bundle also, or transpile arrow functions?

[2019-05-27 14:45] dbismut commented on #60
Hey @isBatak this should be fine in `react-use-gesture@next`, can you please confirm?

[2019-05-27 15:19] isBatak commented on #60
Thx @dbismut it works with `5.1.0-beta.6` version!

[2019-05-27 15:19] #60 closed

[2019-05-27 16:14] dbismut commented on #60
Cool! In the meantime, I've bumped it to... `5.1.0-beta.9` since then as I had issues with TypeScript. Hopefully it would still work for you.

[2019-06-03 10:41] schabluk commented on #45
@drcmda hi, is there a plan to support other native DnD events? Like:

[code]

Using them with together with useGesture breaks the effect.

[2019-06-03 11:38] drcmda commented on #45
@dbismut do we cover those?

[2019-06-03 12:49] dbismut commented on #45
@drcmda I'm not sure about the question: we're not covering dnd events, but the lib shouldn't break them though. But there's no plan in supporting dnd handlers as useGesture is generally used to simplify gesture-based interaction with out-of-the box detection for drag / pinch gestures but not as as dnd replacement library. Unless you think otherwise?

@schabluk do you mind opening an issue with a

[2019-06-03 13:23] schabluk commented on #45
@dbismut please, see this example: https://codesandbox.io/s/eloquent-yalow-0kv87

I am using `draggable`  attribute together with `onDragOver` to capture the index of the element over which I'm dragging. Than breaks the interaction. If you set `draggable={false}` the spring animation is working correctly.

[2019-06-03 13:26] schabluk opened #61 "React synthetic DnD events break the interaction."
Following the topic started in the [#45](https://github.com/react-spring/react-use-gesture/issues/45).

@dbismut please, see this example: https://codesandbox.io/s/eloquent-yalow-0kv87

I am using `draggable` attribute together with `onDragOver` to capture the index of the element over which I'm dragging. That breaks the spring animation. If you set `draggable={false}` the springs are working corr

[2019-06-03 14:06] dbismut commented on #61
I see. Silly question: are you using draggable _just_ for the purpose of showing the ghost of the dragged div or do you on using dnd capabilities?

Could you please describe what is your targeted _ideal_ behavior? You might not need `useGesture` in that situation and on rely solely on dnd handlers to trigger animations?

[2019-06-03 14:20] schabluk commented on #61
@dbismut

No, I would like to avoid the native 'ghost' effect.

I would like to implement a sortable list, just like the one from examples: https://codesandbox.io/s/r5qmj8m6lq.

The issues is, that my elements are not fixed with height, so to calculate `curRow`, I would have to use very complex logic, like tracking Bounding Client Rect of every element, and calculating dragging direction. With nat

[2019-06-03 14:38] dbismut commented on #61
I understand. On top of my head i don’t think it would require a lot of work, let me check this when I have some time this week!

[2019-06-03 14:39] dbismut commented on #61
Btw direction should be given to you out of the box, just saying ;)

[2019-06-03 14:41] schabluk commented on #61
@dbismut if you could give me some hints, on where this logic is implemented, maybe I could contribute. Can't promise though ;)

[2019-06-03 15:22] dbismut commented on #61
That would be awesome! I'm currently iterating on the #next branch that is a major refactoring rewritten in Typescript (I'm not exactly sure why I did this, it's more an excuse for me to learn TS ^^).

Anyway, the [file that handles drag stuff is this one](https://github.com/react-spring/react-use-gesture/blob/next/src/recognizers/DragRecognizer.ts). However, I need to setup a real-life testing en

[2019-06-04 07:25] schabluk commented on #61
@dbismut sounds challenging! Let me see what I can do :)

[2019-06-04 13:09] dbismut commented on #61
@schabluk I've set up a repo similar to `react-spring-examples` for `react-use-gesture` and that allows seamless development: https://github.com/dbismut/react-use-gesture-examples

Just copy this repo in the same location as the location of your fork of `react-use-gesture`, install dependencies and you should be good to go. I've added your example in the `/tests` directory, you just have to _activ

[2019-06-04 16:16] ddennis opened #62 "OnDrag does not always detect on release"
Hi
I have made a quick [demo](https://codesandbox.io/s/boundariesthrow-o1dvp)

I am using a mouse and alot of times OnDrag does not detect that have have released the mouse button, which makes the content stick to the mouse.

I am missing something?

Otherwise great library.

[2019-06-04 17:27] dbismut commented on #62
Hey, I’ll have a look tomorrow. In the meantime, could you try if it does the same with 5.1.0? It’s currently in beta but some minor bugs have been fixed (onDrag now makes sure there is always a button pressed).

[2019-06-04 21:16] leantide opened #63 "Renamed repo"
Not sure you can do anything about it or not, but when you renamed your repo from 'react-with-gesture' to 'react-use-gesture', there was of course no ```npm outdated``` or ```yarn outdated``` indication that I needed to upgrade.

[2019-06-04 21:17] leantide commented on #63
Just FYI.

[2019-06-04 21:17] ddennis commented on #62
Thank you.

Using version 5.1.0.beta.9 seems to fix the button released bug. But dragging is buggy seems delta is not updating correctly.

I dont experience any difference using version 5.1.0

[demo](https://codesandbox.io/embed/boundariesthrow-o1dvp)

[2019-06-05 07:48] dbismut commented on #62
Hey @ddennis, latest beta version is `5.1.0-beta.9` (I'm not sure what is 5.1.0 😬). I'm testing your latest sandbox with Chrome and I'm not sure what's wrong? Can you please describe the expected behavior?

[2019-06-05 07:53] dbismut commented on #63
Hey @leantide thanks! I'm not sure what we can do about this. Also note `react-with-gesture` provided render-props api which is removed from `react-use-gesture`, so I'm not sure what should be the best strategy here for people that didn't use hooks.

@drcmda any idea?

[2019-06-05 08:16] leantide commented on #63
Just a little side note.

I also observed that for react-with-gestures, all subsequent onDrag handler events had access to the  parent props of the wrapping parent function which used useGesture that were available when it was first called, something like a singleton. But react-use-gestures more normally seems to use a call stack of the props corresponding to the prop values each time the useGestu

[2019-06-05 08:21] drcmda commented on #63
@dbismut Yes, that was the reason, hooks are such a radical api change that letting "with-gesture" stand as is seemed like a good way to me. But going hooks as the primary api and then continuing with that name didn't seem good and i had lots of requests asking for "use" instead.

@leantide Hybrids are indeed a sore spot atm, sorry for the trouble. I had the same problem in react-spring, it's not

[2019-06-05 08:32] #63 closed

[2019-06-05 08:47] dbismut commented on #63
@leantide I think this is kinda documented in the [changelog here](https://github.com/react-spring/react-use-gesture/blob/master/CHANGELOG.md#improved-3) (I just fixed the code as it had an error in it tbh):

[code]

But it might be a breaking change rather than an improvement indeed.

[2019-06-05 08:49] dbismut commented on #61
Hey @schabluk I had a quick shot at it and tbh, I'm not sure there's a lot we can do to make it work fine. This is what I get when using `onDrag` handlers:

![onDrag](https://user-images.githubusercontent.com/5003380/58943123-65cc6080-877f-11e9-9feb-d1635345f21e.gif)

The ghost can't be removed cleanly (I've seen some hacks on SO but they don't feel right). I'd try to find another solution for det

[2019-06-05 09:19] schabluk commented on #61
@dbismut AFAIK the ghost can only be removed by setting transparent pixel as a preview:

[code]

[2019-06-05 09:26] leantide commented on #63
I see now. Thanks.

[2019-06-05 10:01] dbismut commented on #61
Oh ok :)

Well if you want to make some tests I've just published the [#next-dnd branch](https://github.com/react-spring/react-use-gesture/tree/next-dnd) that adds the `onDnd` handler. It hides the ghost using the sample of code you provided above so no need to add it. It also sets `draggable` to `true` in the object returned by the `bind` function so no need to add it manually.

You just have to

[2019-06-05 18:09] eXtreme commented on #58
Just quick update, so far I wasn't able to make a short and concise demo, my implementation is more difficult to port than I thought (and it's not finished yet). When I have it and is easy and understandable, I will definitely post it, but right now it does not look like this. But that enhancement helped me either way.

[2019-06-06 07:52] dbismut commented on #58
Thanks for the update! Well, let me know if there's anything I can do to help.

[2019-06-07 10:03] dbismut commented on #62
@ddennis 5.1.1 is out FYI.

[2019-06-07 10:12] schabluk commented on #61
Hi! I've setup my sandbox with the next-dnd branch, and yes there are some issues with lags.

As I mentioned before, there are some quirks with Drag events in comparison to Mouse events. For example, the `onDrag` event is emitted, event if the cursor is still, and that probably generate lags.

Also, I noticed that the cursor coordinates (*x, *y) after the last `drag` event are set to zero (which i

[2019-06-07 10:51] dbismut commented on #61
Hey @schabluk I'm not sure that helps, but I had an idea of using `onMouseOver` rather than `onDragOver`, setting `pointer-events` to `none` for the dragged element.

https://codesandbox.io/s/summer-thunder-fr6o8

Maybe you had thought of this, I'm not exactly sure how to make that work for touch, but there might be something here?

[2019-06-07 14:04] schabluk commented on #61
Hay, that worsk suprisingly well! I discovered the issue with `onDragOver` and the issue is, that when you drag an element over another, the `onDragOver` is not triggered, because the cursor is over dragged element... so I think the `onMouseOver` is only option here.

[2019-06-07 22:55] ddennis commented on #62
@dbismut  Thanks alot - seems to have fixed it.

[2019-06-08 05:00] #62 closed

[2019-06-08 13:31] alihassan0 commented on #45
Hello , Thanks for the libarary.
I was wondering wether that means as of version v5.1.1 that typescript is supported.
I just tried the libarary for the first time today in a new create react app typescript project and I got the following error
[code]
so I am guessing typescript typing are unreliable right ?

[2019-06-08 15:21] dbismut commented on #45
Damn I suck at TS. I’ll have a look later tonight. Really sorry about this.

[2019-06-08 18:20] dbismut commented on #45
I’m OOH and left my charger. This will have to wait til Wednesday I’m afraid.

[2019-06-08 19:58] alihassan0 commented on #45
No problems .. thanks for taking the time.
I excluded the library types in tsconfig which seems to solve the issue for now

[2019-06-10 19:55] garkin opened #64 "Module '"../../../node_modules/react-use-gesture/web.cjs"' has no exported member 'useGesture'"
`"react-use-gesture": "^5.1.1"`

[code]
[code]

[2019-06-10 20:34] dbismut commented on #64
I’ll be working on this on Wednesday. Sorry about this!

[2019-06-11 12:25] timuric commented on #64
Downgrading to 5.1.0 seems to help

[2019-06-11 16:38] #61 closed

[2019-06-12 07:35] dbismut commented on #64
@timuric @alihassan0 @garkin  This should be fixed in `5.1.2`. I'm no expert in TS so if you anyone wants to have a look, here's a warm welcome :)

[2019-06-12 11:27] #64 closed

[2019-06-13 03:04] garkin commented on #64
Release commit is not tagged.
https://github.com/react-spring/react-use-gesture/releases

[2019-06-13 07:50] dbismut commented on #64
Done now @garkin. Sorry to ask, but how is this useful? I'm a bit new to managing repos, just curious...

[2019-06-23 23:49] codypersinger opened #66 "How to use onClick and onDrag together?"
I'm using react-use-gesture and react-spring to create moveable divs like so: https://codesandbox.io/s/xmqwz

[code]

When double-clicking on a div, it will become selected. When dragging, all selected divs should move at the same time.

This already works great - except after selecting one div so that it's draggable, double-clicking on any other div in an attempt to select it will cause the first

[2019-06-24 06:35] dbismut commented on #66
Hey, thanks for reporting the issue. Do you mind creating a functional (simplified?) codesandbox reproducing the problem?

[2019-06-24 15:02] codypersinger commented on #66
No problem, here is the codesandbox showing the issue. Try double-clicking to select two divs and move them both at the same time. Selecting the second div is difficult: https://codesandbox.io/s/xmqwz

I've noticed that setting a different `top` value for each `.content > div` in the CSS and zeroing out the initial `xy` values will somewhat alleviate the issue, as you can see here: https://codesan

[2019-06-24 15:57] dbismut commented on #66
Hey, thanks for putting up the codesandbox!
Is that what you want to achieve? https://codesandbox.io/s/awesome-surf-414f1

I'm pretty sure this can be further simplified, but let me know if this works as is?

[2019-06-24 16:56] codypersinger commented on #66
Yes, that's *exactly* what I wanted, and I don't think I would've figured that out on my own! It looks like the main trick is mapping the temp value? I'm sure I'll use this much more in the future, thanks very much for taking the time to help and teach.

[2019-06-24 16:56] #66 closed

[2019-06-24 17:59] dbismut commented on #66
Yes, that’s the main trick. Essentially, `useGesture` keeps track of just one state, which is relative to pointer coordinates. What you usually want to do is move objects based on the mouse movement (ie the `delta` value). But you need to know the origin position of each objects prior to the mouse movement so that you can add it to the `delta` value.

Note that in a simple case where you only have

[2019-06-28 18:52] codypersinger commented on #66
@dbismut I've been playing around with the library more, and have come across a situation or two where it would still be useful to differentiate between a click and a drag event. Is there some way to do this, using the previous example in this thread? Thank you for your time!

[2019-06-29 06:17] dbismut commented on #66
That’s a bit trickier, as drag gesture is currently triggered by `onMouseDown`, so at the moment a click event would inevitably trigger a drag gesture. One way to solve this would be to only trigger a drag event when the pointer actually moves or after a short delay. I’ll see if I can do this without generating regressions.

[2019-06-29 16:16] codypersinger commented on #66
I thought that might be the case - and I had the same thought about triggering a click only if the pointer has moved, but I thought that might tend to trigger false clicks if someone was intending to drag but just hadn't decided where to move yet. Even with the delay, it doesn't sound like a concretely reliable solution, but it would likely be better than nothing.

I was wondering if it might be p

[2019-06-30 09:09] dbismut commented on #66
Just to clarify the idea would be to trigger a drag to the earliest condition:
- after a short delay following a mousedown event
- whenever the pointer moves after a mousedown

I think this is the logic adopted by [hammerjs](https://hammerjs.github.io/). Unfortunately I’m not sure there is a perfect alternative.

[2019-06-30 14:25] codypersinger commented on #66
I agree, there is likely no perfect solution. I think what you've proposed is probably as good as it gets, and I think it would work well enough in the vast majority of situations.

[2019-06-30 14:54] dbismut commented on #66
onDragStart would require to make the element draggable right (ie attribute `draggable` set to `true`)? That means conflicting with the native draggable api, we’ve tried that before and it’s a tough battle.

[2019-06-30 15:30] codypersinger commented on #66
Yes, that's right. The native api absolutely leaves a lot to be desired. I've created one implementation in the past that goes this route, within React, and worked on the web as well as across all native devices that we tested with (at a big agency, so pretty extensive iOS/Android testing) - but it absolutely involved fighting against the native implementation. I might play around with this idea i

[2019-07-01 12:49] pavel1860 opened #67 "module not found for "extends" and "objectWithoutPropertiesLoose""
[code]

getting this error for "extends" and for "objectWithoutPropertiesLoose". I do have the "extends" file but its under `@babel/runtime/helpers/extends` without `esm`.
Im using typescript for this project, do you know how can I fix this issue?
thanks

[2019-07-01 15:21] dbismut commented on #67
Hey, thanks for reporting the issue. Is there a way to set up a reproduction repo somewhere?

[2019-07-02 15:23] pavel1860 commented on #67
it's a little bit problematic since it is a part of the application that I can't upload into a public repository. but after I tried to create a fresh project with `create-react-app` it was ok.
I believe it's because there is no `esm` library in my `@babel/runtime/helpers` folder.

[2019-07-02 15:38] dbismut commented on #67
I'm not a big expert on rollup build configs, is there anything you would suggest to fix this?

[2019-07-03 14:26] dbismut commented on #66
Hey @codypersinger I have something working where drag only happens after a short delay or the mouse moving, but I just have one question: what's the difference between a drag and a click in your use case? The question is a bit silly, but is it the fact that the pointer should not move during a click, or is it that the click is supposed to be short?

[2019-07-03 15:03] codypersinger commented on #66
Awesome! I'm still playing around with the native API implementation, making slow progress. It's not a silly question at all. For pretty much all the use cases I can think of, the click being short is the more important and reliable factor.

[2019-07-03 16:00] dbismut commented on #66
Maybe there's no need for what I was mentioning above then:
https://codesandbox.io/s/awesome-surf-414f1

It's a bit silly, but I think this is more or less what you want isn't it?

[2019-07-03 16:37] codypersinger commented on #66
It does more or less achieve the effect. It's fairly easy to both drag and click with quick gestures, which is not ideal behavior in the example codepen - I think making sure the pointer hasn't moved would take care of that. It would be nice to have an `onClick` binding abstraction which is configurable with props like `duration` and `allowMovement`, so that click-based logic doesn't have to live

[2019-07-03 16:57] dbismut commented on #66
I've just published it on npm with the `next` tag. `yarn add react-use-gesture@next` should do it.

[2019-07-03 17:48] codypersinger commented on #66
I'm not noticing any difference in when `react-use-gesture`'s `onDrag` is triggering in regards to either delay or cursor position after upgrading to `5.2.0-beta.1`, but perhaps I'm doing something wrong? I have to run to a meeting now but I'll knock together a codepen ASAP

[2019-07-03 18:11] dbismut commented on #66
I haven’t tested it myself except locally tbh so maybe there’s something wrong!

[2019-07-03 18:12] codypersinger commented on #66
I'd be happy to take a look sometime tonight, if there's somewhere I can see the commits / history for that release? Thanks for all your time and effort on this so far, I truly appreciate it.

[2019-07-03 20:19] dbismut commented on #66
Have left my computer at work :) will push the branch tomorrow morning CET time.

[2019-07-04 00:36] codypersinger commented on #66
Smart choice! That sounds great, no rush. :v:

[2019-07-04 08:03] dbismut commented on #66
Hey, so I just pushed the code on the `next` branch (tests are failing but that's expected).

Have a look at: https://codesandbox.io/s/dazzling-vaughan-4j8dd
I've set the time threshold to 1 second so that the lag is noticeable.

1. If you just briefly click on the pink square, only the click counter should increment.
2. If you mouse down for 1 second or more **without moving your mouse**, the dra

[2019-07-04 14:30] hwinkler opened #68 "Guidance for usage in class components"
Is it possible to use `react-use-gesture` in class components? All the examples use function components, and when I try passing a ref to `useGesture` in `componentdidMount`, I see errors in the console:
[code]

Pretty sure my case is (2), breaking the Rules of Hooks, since I'm using React & react-dom 16.8.3, and I see that hooks may only be called from function components.

If there is a pattern f

[2019-07-04 15:49] jcarraway commented on #26
It looks like they are working on web support for `react-native-gesture-handler` here: [Web Support #555](https://github.com/kmagiera/react-native-gesture-handler/pull/555#issue-268609928)

[2019-07-04 16:14] dbismut commented on #68
Unfortunately `react-use-gesture` can only be used with hooks and therefore in functional components. It shouldn’t be too hard to wrap the hook in a functional component that then renders the class component you need.

In case that doesn’t work out for you, there’s the legacy `react-with-gesture` that only supports drag but that offers render props components.

[2019-07-04 17:13] hwinkler commented on #68
Understood. Thanks. I'm having success wrapping in a functional component.

[2019-07-04 17:54] #68 closed

[2019-07-04 18:17] codypersinger commented on #66
Very nice, this works extremely well. The only issue I've noticed is with `immeditate: true` when calling `set`, the `click` counter is incremented when the drag ends. Other than that, this looks flawless from my admittedly limited testing.

[2019-07-04 19:16] dbismut commented on #66
Well yes... as I was saying, if you release your mouse over the dragged element it’s still considered as a click by the browser. `immediate:true` pretty much guarantees that the dragged element follows your mouse so that’s why the click counter increments. Theres not much we can do about this.

[2019-07-04 19:33] codypersinger commented on #66
I see what you mean, my mistake.

[2019-07-05 14:13] sisp commented on #67
I'm having the same issue with [Parcel](https://parceljs.org/) in a tiny example app that accompanies a library I'm writing which uses `useGesture`.

How about using [tsdx](https://github.com/palmerhq/tsdx) by [Jared Palmer](https://github.com/jaredpalmer) et al., who is also the author of [Formik](https://github.com/jaredpalmer/formik), instead of a handwritten Rollup config etc.? tsdx is similar

[2019-07-05 14:18] dbismut commented on #67
That looks great @sisp! Let me check what I can do.

[2019-07-05 16:42] codypersinger commented on #66
Is it possible to optionally prevent the click from being triggered if you are actively dragging and release the mouse over the pink square?

[2019-07-05 16:48] dbismut commented on #66
It is, but not natively in the lib. You can use the same trick from my sandbox above:

https://codesandbox.io/s/awesome-surf-414f1

[2019-07-05 17:40] codypersinger commented on #66
That makes sense. Here's a simple example for anyone that sees this in the future: https://codesandbox.io/s/exciting-surf-89ncy

[2019-07-07 07:37] dbismut commented on #67
Hey, I've made an attempt to use `tsdx` (thanks @sisp) on the [tsdx branch](https://github.com/react-spring/react-use-gesture/tree/tsdx), and released it under `5.1.3-beta.1` on `npm`.

Can you let me know if this fixes it? Also, I'm pretty sure the way I handled TypeScript definitions can be optimized, I also feel the definition for `useGesture` is a bit messy.

[2019-07-07 07:49] sisp commented on #67
Thanks a lot @dbismut! I'm not getting the error anymore.

[2019-07-07 10:11] dbismut commented on #67
Cool! I’ll iterate a bit on this branch until I’m more satisfied with TS definitions and I’ll merge into master.

[2019-07-07 10:13] sisp commented on #67
Sure, thanks for your efforts!

[2019-07-08 10:42] orouz opened #69 "onWheel handler not called on wheel events"
Hey there!

first of, gigantic kudos! this lib is super useful. thank you!

i've noticed a case where the `onWheel` event handler is not getting called while using `bind()`
as opposed to attaching an event listener via React (`onWheel`) which does result in the handler being called.

[demo](https://codesandbox.io/s/serene-shaw-1slmk?fontsize=14)

is this a bug or am i doing something wrong?
if it'

[2019-07-08 22:02] dbismut commented on #69
Hey @orouz, thanks for the kind words, much appreciated. You forgot to use the spring value somewhere. Like:

[code]

Does that make sense?

[2019-07-08 22:02] #69 closed

[2019-07-10 18:09] heygrady opened #70 "Breaks bundlephobia"
https://bundlephobia.com/result?p=react-use-gesture

I rely on bundlephobia for evaluating new packages. Got the following error:

[2019-07-10 19:43] dbismut commented on #70
Hey, I think this is a duplicate of #67, can you try installing `react-use-gesture@beta` see if this fixes it?

[2019-07-11 18:09] orouz commented on #69
yep that makes total sense. sorry mate!

[2019-07-11 21:33] skrichten opened #71 "Swipe getures?"
Curious, why are there are no handlers for basic swipe gestures?

[2019-07-12 05:22] dbismut commented on #71
Hey @skrichten, good question thank you! Actually it’s pretty easy to handle swipes in all directions from the `onDrag` handler, using `last` and `vxvy` which gives velocity per axis.

So horizontal swipes could be handled like so:

[code]

I've made a small carousel utility that uses swipe, you can see the related bit of code [here](https://github.com/dbismut/react-soft-slider/blob/1e9cb34e8743c4

[2019-07-12 11:33] skrichten commented on #71
Cool, thanks for the examples!

[2019-07-12 11:50] skrichten opened #72 "react-three-fiber onWheel"
From the docs...
"If you use react-three-fiber, onWheel might prove useful to simulate scroll on canvas elements."
@drcmda Do you have an example of this yet? :)

[2019-07-12 16:54] #71 closed

[2019-07-13 09:33] dbismut commented on #71
For reference, here is a working example that was added to the readme: https://codesandbox.io/s/crimson-dawn-pzf9t

[2019-07-16 10:57] dbismut commented on #70
Fixed in 5.1.3

[2019-07-16 10:57] #70 closed

[2019-07-16 10:58] dbismut commented on #67
5.1.3 is now released, hopefully this still works!

[2019-07-16 10:58] #67 closed

[2019-07-19 17:43] smeijer opened #74 "draggable jumps based on mouse cursor"
I'm trying to resize a flex element, based on the movement of the drag handle. But somehow, the element keeps shifting based on the click/grab location of the mouse.

In the example below, the drag handle (red) shifts when I click on the right side of that handle. If I click left, it doesn't move. This shift is also applied when I drag it. Drag by starting on the left side, and all goes fine. Drag

[2019-07-19 22:24] dbismut commented on #74
Hey @smeijer, thanks for taking the time to capture the gif and creating the sandbox.

I suspect the bug is only due to `z-index` messing up things. Here is a working example (at least it works with me):
https://codesandbox.io/s/react-use-gesture-07q16

I've also corrected some code: here is your original code commented with the problems highlighted.

[code]

The other problem here is that you're

[2019-07-19 22:47] smeijer commented on #74
Thanks for the fast response. I'll try that first sandbox later tomorrow, but it seems to make sense.

The second sandbox wouldn't work for me though. As the elements left and right from the dragger will contain content, and thereby both need to be resized.

[2019-07-19 23:23] dbismut commented on #74
Whatever works best, but in any case make sure you’re not te-rendering your whole component on each drag frame. You will probably need to have several `animated.div` nodes but I think you can still work it out with only one spring value.

Yes it is required by design to return temp. Essentially temp is a gesture state attribute that is undefined when the gesture starts, but then takes the return v

[2019-07-19 23:23] #74 closed

[2019-07-20 10:36] smeijer commented on #74
Thanks for the assistance, the second sandbox turned out to be very informative after all. Your explanations are very clear, and much appreciated.

I would suggest adding that explanation about returning `temp` to the `Frequently asked questions` that already exists in the readme. It's very useful knowledge.

For whoever comes here after me, here is a sandbox to a working split-pane solution build

[2019-07-20 11:02] dbismut commented on #74
Clever use of flex :) yeah I know that temp is yet a somewhat obscure area of this lib, there is a section dedicated to it in the read me but I agree that it doesn’t explain a lot. I also think the name doesn’t help!

[2019-07-20 11:09] smeijer commented on #74
Maybe naming it `ref` or `reference` would help? As I now understand it does pretty much the same as `useRef` from react. And `return reference;` or even `return current;` does sound more understandable than `return temp;`.

To close this chapter from my side, I created a reusable and nestable component for the `SplitPane` above. Hope it might be useful for anyone:

https://codesandbox.io/s/react-

[2019-07-20 11:12] dbismut commented on #74
Sure, happy to help. I’ll ask the creator of this lib @drcmda what he thinks about a new name for temp!

[2019-07-23 08:34] dbismut commented on #74
Just so you know, I've finally changed `temp` to `memo`, as I think of it as a sort of cached value. `temp` is still there if you need it with the same value as `memo` :)

[2019-07-27 00:46] mpolichette opened #76 "Supporting passive event listeners and preventDefault()"
Hey guys, your project rocks.

I noticed that you support a config value for `{ event: { passive: true } }`.  However in the basic usage of `useGesture` (and others), your package doesn't actually do the event binding.  So the event binding ends up not being passive except for the few global bindings (for drag).

I think this is fine and once you return the bindings its outside this packages scope

[2019-07-27 08:05] dbismut commented on #76
Hi @mpolichette, thanks for the kind words and reporting the issue. You're absolutely right. React [doesn't support passive events](https://github.com/facebook/react/issues/6436) (yet).

Feel free to add an item to the FAQ, might not be very frequent but it's been in the back of my head for a while, it would be great if it was clarified once and for all!

[2019-07-29 16:29] mpolichette commented on #76
I just pushed up a PR for the FAQ [#77].  You might be right about touch events, I ran into this for calling `preventDefault` on wheel events.

[2019-07-29 16:48] #76 closed

[2019-07-29 16:48] dbismut commented on #76
That’s perfect! Thanks so much for this :)

[2019-07-31 17:44] rynoV opened #78 "Scroll event triggered twice on touch screen scroll"
When listening for scroll events on the window and scrolling on a mobile device with a touch screen the scroll event will sometimes end and then start again and quickly finish. I think it might have something to do with the way the mobile browser resizes and/or handles overflow scroll on the window.

This is the code I'm using to listen for the scroll events:
[code]

### Steps to reproduce:
Clone

[2019-07-31 18:40] dbismut commented on #78
Hey, thanks for reporting the issue, but I'm not sure I can reproduce. Can you please clarify and possibly set a simple example on codesandbox (ideally not using `console.log` to make iPhone debugging easier)?

Just to clarify, depending on the version you're using, Safari iOS doesn't handle `scroll` events the same way. Also, the onScrollEnd event is debounced (there's no native `scrollend` event

[2019-07-31 19:45] rynoV commented on #78
Thanks for the quick response! [Here is a codesandbox](https://codesandbox.io/s/react-use-gesture-issue-gh1si) where you should be able to reproduce the behaviour I described.

[2019-08-01 13:44] dbismut commented on #78
Hey @rynoV I changed the default timeout from 100ms to 120ms and released 5.2.2 but I'm not sure it helps... Let me try this once more when I get home.

[2019-08-02 22:19] rynoV commented on #78
Seems to have fixed it, thanks a lot!

[2019-08-02 22:19] #78 closed

[2019-08-04 12:06] #51 closed

[2019-08-05 21:39] mpolichette opened #79 "onWheel clamping at boundaries."
Hey guys, I'm wondering if you guys would have a good idea how to do clamping w/ the onWheel event.

The problem I'm hitting is that a group of wheel events are being treated as a single gesture, which means, if I clamp the position at a boundary, but you continue to scroll, `useGesture` thinks you're still scrolling into infinity.  If you _quickly_ change directions, you have to make up for whate

[2019-08-05 22:29] dbismut commented on #79
Hey Matt, thanks for the kind words! Unless there’s something I’m missing, you should use the exact same strategy as for the drag boundaries example, ie clamping the delta and using `memo` to retain the initial wheel value as you suggested in your last paragraph.

[2019-08-05 23:14] mpolichette commented on #79
Hmm, Maybe I need to build an example.

The issue is that the `delta` which my handler is called with is not clamped, just the final scroll position.

E.g.
1. You start with 100px below your current position
2. You scroll down 200px, however, the clamp stops you at 100px
3. If you scroll up 100px in the same gesture... what happens?

What I currently see is no motion.  The delta my handler gets ha

[2019-08-06 10:30] dbismut commented on #79
Hadn't seen your edit sorry, well... your example works fine, no? make sure you're actually testing in a new window, as it seems that `onWheel` events on `window` don't seem to be triggered properly in the csb iframe.

Btw, here's your csb tweaked using the latest versions of `react-use-gesture` and `react-spring`: https://codesandbox.io/s/boundaries-r3dj7

And here is a csb showing that boundarie

[2019-08-06 16:31] mpolichette commented on #79
Yep, thats exactly the idea!  Your solution does what was I was trying to get to!

As for `xy-prev` I think it would be a decent api to include since the typical scroll handler provides an `event.deltaX`and `event.deltaY` which are "local to each independent event".  When I first started using this library it took me a second to realize that `delta` was local "to the gesture".

I'm also probably u

[2019-08-06 18:27] dbismut commented on #79
Sure, happy to help, it’s useful to face common problems and in that situation it also allowed me to spot a bug.

Yeah, local and delta concepts were a bit weird to me too (not to mention memo) when I took over the lib, but they really feel natural now.

When you mention the scroll event and deltas I presume you meant the wheel event. That’s true, and actually the lib sums the event deltas so that

[2019-08-09 07:46] dbismut commented on #72
Hey! It's still in progress, but there is now one:
https://codesandbox.io/s/react-three-fiber-suspense-gltf-loader-l900i

[2019-08-09 07:46] #72 closed

[2019-08-09 10:11] dbismut commented on #79
For info, we’ll rename `delta` to offset and `current - previous` will be labeled `delta`. I think it’s less confusing, maybe `local` could also be renamed to something more explicit. That will be a breaking change, so planned for v6.

[2019-08-09 10:11] #79 closed

[2019-08-13 15:47] andreas-eberle opened #80 "Pinch gestures trigger onWheel"
I try to use your component to zoom an image in a canvas by scrolling as well as by pinching. Therefore I use `useGesture` to add `onWheel` and `onPinch` listeners. However, when I pinch, both callbacks are called.

So I tried to only use the onWheel callback. It is enough to zoom my canvas whenever the user scrolls or pinches. However, since pinching gives way less onWheel events as the actual sc

[2019-08-13 16:12] dbismut commented on #80
Right, I think see where this comes from. Can you confirm you’re using a trackpad with Chrome or if using Safari, are your binding the component (ie not using domTarget)? Essentially when you pinch to zoom on a trackpad browsers might send the onWheel event with the ctrl modifier key flag set to true. I’ll write a fix asap.

[2019-08-13 16:50] andreas-eberle commented on #80
I'm using the touchpad of my Dell XPS 15 with Windows 10 in Firefox.
I'm not setting domTarget.
And yes, I can confirm, the ctrlKey flag is set for pinches. Thanks for the hint and thanks for fixing it!

[2019-08-13 21:53] dbismut commented on #80
@andreas-eberle I've released `6.0.0-beta.2` just now, which does the below regarding this issue:

- Added a warning when using trackpad zoom without a `domTarget` or `event.passive` set to true.
- Doesn't trigger the `onWheel` handler when the ctrl key is pressed and `onPinch` is active
- Adds a `gesture` key to the event passed to handlers indicating which gesture originated the event.

Regardin

[2019-08-14 08:43] andreas-eberle commented on #80
@dbismut: I tried out version `6.0.0-beta.2`. However, I still get the `onWheel()` callback when pinching.

My code looks like this:

[code]

and when I pinch, I get the following output in the console:

[code]

Am I doing something wrong? Or is there still an issue in the library?

[2019-08-14 09:10] dbismut commented on #80
That's really weird, here is the code in the WheelRecognizer:

[code]

Would you be able to set a simple repro sandbox somewhere?

Here is a csb where the left square reacts to wheel, and the right square should react to pinch.
https://codesandbox.io/s/react-use-gesture-issue-wheel-fj4rc

Do both square updates on pinch on your end?

[2019-08-14 13:00] andreas-eberle commented on #80
If you change the code of the callbacks in your sandbox to:

[code]

You can see in the console that `onWheel` and `onPinch` are called, when you pinch (at least it is that way for me).

[2019-08-14 13:12] dbismut commented on #80
Hm indeed my code is a bit dumb since I’m not showing the same offset index 😅 I’m on my phone and will only be able to check that back later tonight. Can you confirm this is also happening on Chrome? does this (both gesture logging in the console) also happen when you wheel while physically pressing the ctrl key?

[2019-08-14 13:20] andreas-eberle commented on #80
* I can confirm that it behaves the same in Chrome.
* Using ctrl+scrolling looks like using the pinch gesture (it logs `onWheel` and `onPinch`).

[2019-08-14 18:33] dbismut commented on #80
There must have been an issue when I published on npm. Please try `6.0.0-beta.3`, my sandbox has been updated and it works properly. Sorry about this.

[2019-08-15 07:38] andreas-eberle commented on #80
No worries! Thanks for the support and super fast help! It works now 👍

[2019-08-15 07:38] #80 closed

[2019-08-27 19:55] dbismut commented on #45
@tim-soft as a matter of fact, `onPinch` already exists and works for trackpads, check this example out: https://codesandbox.io/s/9o92o24wrr

It should zoom properly on Chrome and Firefox. If you have a Mac and using Safari, then you should also be able to scale _and_ rotate. This can only happen when you use the `domTarget` option, as `gesturechange` handlers are required to be added to the dom n

[2019-08-27 21:24] dbismut commented on #45
Ohhh ok sorry my bad. I guess that should be doable indeed. Note that in v6, `onWheel` would no longer be fired when `onPinch` is run (ie when `ctrlKey` flag is `true`), and I understand that might be an issue in your case. Let me think on this.

Very cool component by the way!

[2019-09-03 14:43] rejifald opened #82 "[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive."
Error: `[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive.` occurs when adding pinch gesture
Example
[code]
My goal is - handle macbook touchpad pinch gesture, and prevent default behavior.

[2019-09-03 14:57] rejifald commented on #82
You can see an example of the issue here https://codesandbox.io/s/9o92o24wrr
Try zoom picture by pinch gesture.

[2019-09-03 15:34] dbismut commented on #82
Hi, please make sure you read [this from the readme](https://github.com/react-spring/react-use-gesture#why-am-i-getting-warnings-from-preventdefault-after-i-pass--passive-false-).

Note sure what's wrong with the example?

[2019-09-03 15:59] rejifald commented on #82
Thank you for the link.
In the example when I try zoom picture, it also scales whole page.
I am using macbook touchpad to zoom.
Also, there error in console.

[2019-09-03 16:43] dbismut commented on #82
What browser are you using?

[2019-09-03 16:44] rejifald commented on #82
Google Chrome. I can capture a video. Will it help ?

[2019-09-03 17:01] dbismut commented on #82
That's fine! I've fixed the sandbox, you can check the link again and it should work ok ;)

[2019-09-03 17:01] #82 closed

[2019-09-03 17:07] rejifald commented on #82
It works ok !
Please, help me, I don't understand why it doesn't work in my code.
[code]

[2019-09-03 17:12] rejifald commented on #82
I have this error
`[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/6662647093133312`

[2019-09-03 17:28] dbismut commented on #82
When using the `domTarget` option you can't spread the `bind` object to the component. You need to use `React.useEffect` as [explained here](https://github.com/react-spring/react-use-gesture#adding-gestures-to-dom-nodes).

[code]

[2019-09-03 17:29] dbismut commented on #82
Also, in your example you should make sure to remove `gesture` listeners when the component unmounts.

[2019-09-03 17:31] rejifald commented on #82
It works. Appreciate your help !

[2019-09-10 05:06] zhuochen83 opened #84 "Pinch does not work on child element"
Hi I am trying to make use pinch to zoom on an element with some child element.

Here is an example I made with CRA. If you have one finger inside the red box one finger outside the box, pinch does not work.

[code]

[2019-09-10 13:04] dbismut commented on #84
Hi @zhuochen83 I'm not sure about your implementation to be honest.
Can you try this and let me know if this is what you want:
https://codesandbox.io/s/react-use-gesture-template-hwyjz

If not, can you please create a sandbox?

[2019-09-10 21:51] zhuochen83 commented on #84
Thanks @dbismut for the quick reply
Here is my sandbox.
https://codesandbox.io/s/react-use-gesture-template-4b0wv
I am using react-use-gesture: 5.2.4 while your example uses 6.0.0-beta-3. This may be why mine doesn't work

[2019-09-10 22:19] dbismut commented on #84
Hm 6.0.0 doesn’t have much internal differences for now, it just does some renaming of state props.

What I don’t understand is how and why you handle scale with velocity?

[2019-09-11 01:06] zhuochen83 commented on #84
Yes, delta works perfectly. I will use that instead.

Correct me if I am wrong. I would still think velocity should work in this case. For some reason, the event got triggered but the velocity would not change.

[2019-09-11 11:50] dbismut commented on #84
@zhuochen83 I've just published `6.0.0-beta.4` that should prevent `usePinch / onPinch` to run twice on `touchmove` for the same event. This would make velocity equal to `0` every two frames which is what you're experiencing I think. However, I can't make sense of your formula using velocity, you're converting pixels per millisecond to pixels so that can't work properly...

Note that beta version

[2019-09-11 11:50] #84 closed

[2019-09-11 19:40] Magellol opened #85 "How to create step by step onWheel gesture"
Hi 👋

I'm trying to create some sort of sliding carousel based on the `onWheel` event.
I'd like to be able to trigger the onwheel from the left or the right and move the elements accordingly but step by step, not going all the way to the end or the beginning.
I have a csb here that shows my issue: https://codesandbox.io/s/onwheel-fire-once-f5p7s

If you onWheel over the blue elements, it goes from

[2019-09-18 15:50] dbismut commented on #45
Hey @tim-soft I just took some time to investigate your problem. As far as I understand, panning can only be achieved through `wheel` events, so there's no real way to distinguish wheel from two fingers moving on the trackpad. In this [example](https://stackblitz.com/edit/multi-touch-trackpad-gesture), panning only occurs through `wheel` events.

However, I think you can improve the swipe detectio

[2019-09-19 08:06] Fabiantjoeaon opened #86 "Not able to cancel onWheel"
Hi there,

My page is navigated using a big 'carousel' on the vertical axis, it's possible to navigate using the mousewheel and using dragging, I have recreated it in a CodeSandbox:

https://codesandbox.io/s/staging-bash-rge63.

I set the Y position based on the current delta, and cancel the gesture and navigate to the next position after a certain threshold. This works as expected for dragging, h

[2019-09-19 09:15] dbismut commented on #86
Hi @Fabiantjoeaon, I'll possibly clarify this in the docs but only drag and pinch gestures are cancelable. Since wheel has no start or end native handlers, there's no way to cancel it. You can have a look at this example that I think does what you're trying to achieve by attempting to detect wheel deceleration: https://codesandbox.io/s/react-use-gesture-wheel-clamp-urdco

[2019-09-19 09:16] #86 closed

[2019-09-19 09:53] Fabiantjoeaon commented on #86
Ah okay, this wasn't clear to me indeed. Thanks, I'll have a look into it.

[2019-09-20 22:14] colepeters opened #88 "Handling for drop targets?"
I've been digging around the issues and examples looking for solutions for discrete draggable components and drop targets, but haven't been able to find much (aside from some related conversation in #60 about the `draggable` attribute — apologies if this issue is too close to duplicating that issue). There are some great examples using list reordering, but I'm curious if this library is capable of

[2019-09-20 22:24] dbismut commented on #88
Hey, I’m sorry but unfortunately this lib doesn’t support drag and drop events. I remember trying but draggable creates a ghost that requires a hack to hide, plus some other side effects I can’t remember but I know I had to face. Could you explain the usecase where drag and drop native API doesn’t suffice for what you’re trying to achieve?

[2019-09-20 22:25] colepeters commented on #88
@dbismut Thanks for the fast reply! What I'm after is creating a nicer dragging animation along the lines of the examples I've seen here, as the native DnD API is a little primitive in that regard.

[2019-09-20 22:38] dbismut commented on #88
I’m afraid that would be really tricky to implement. If you ever find a way to make it happen let me know though! Sorry 😥

[2019-09-20 22:38] #88 closed

[2019-09-20 22:39] colepeters commented on #88
@dbismut No worries — I can definitely see how that would be a challenge. Thanks!

[2019-09-24 10:32] AlQa-hOlic opened #89 "support for SSR"
**TypeError: Cannot convert undefined or null to object**

[code]

is this happening because `window` is undefined?

[2019-09-24 10:51] dbismut commented on #89
This happens because you’re not using the API properly. Have a look at the docs and let me know if your troubles persist.

[2019-09-24 10:51] #89 closed

[2019-09-26 14:32] mhamel opened #90 "New exemple available but can't fix boudaries"
Hi!

I've made an exemple on sandbox but there is one thing I can't figure out: set boudaries with acceleration enable.  I think this would be a good addition to your exemples.

https://codesandbox.io/s/blissful-lichterman-d4r2s?fontsize=14

[2019-09-27 09:28] dbismut commented on #90
Hey @mhamel I'm really not sure of what you're trying to achieve, but from what I understand, is more related to react-spring than this lib. If it helps, here is a codesandbox that simulates inertia with bounce on boundaries. With the final release of react-spring v9 the implementation should be greatly simplified.

[2019-09-27 09:28] #90 closed

[2019-09-28 09:49] rhulse opened #91 "Demo wont run locally"
Hi.

I used the code from [this official demo](https://codesandbox.io/embed/n9vo1my91p) as the basis of some work in a project, but the drag did not work at all.

So I copied the demo cleanly into a new create-react-app project (which is what I'm using) and the drag still does not work. If I change the useGesture hook to explicitly use `onDrag` it sort of works. The picture scales down as I drag,

[2019-09-28 10:13] rhulse commented on #91
I've found the issue, as one often does after writing it down. ;-)

 I did not check the version of react-use-gesture, and upon looking at the change log I spied breaking changes, and I have now got this fixed. The fix (for anyone else looking) is to simply to replace `delta: [xDelta]` with `movement: [xDelta]`, and put the block into `onDrag`.

[2019-09-28 10:13] #91 closed

[2019-09-28 11:15] dbismut commented on #91
Indeed I need to work with @aleclarson and @drcmda to use the same sandboxed demos for react-spring and react-use-gesture (mine are up to date, just sayin’ 🙉

[2019-09-28 19:14] rhulse commented on #91
@dbismut No worries - I needed a 'bug' to help me get a better understanding of how to use the library anyway. 😺 This stuff is fantastic, team!

[2019-10-04 04:23] patrickherrmann opened #92 "usePinch 'origin' is always [0, 0]"
Repro: https://codesandbox.io/embed/react-use-gesture-template-zk203
(Note `console.log(origin)` always outputs `[0, 0]`)

Not sure if I understand this property, but I'd expect origin to be the coordinates where the pinch started, and possibly see it drift if the pinch gesture is not perfectly symmetrical. Is that the right assumption?

Edit: I'm realizing now that it's because I'm using a trackp

[2019-10-04 08:39] dbismut commented on #92
Hey @patrickherrmann, I've just released `6.0.3` which sets origin to cursor position when using trackpad. It should work with wheel zoom (ie Mac trackpad and Chrome) or gesture events (ie Mac trackpad and Safari).

[2019-10-04 15:24] patrickherrmann commented on #92
That works beautifully, thanks for the extremely fast release!

[2019-10-04 15:24] #92 closed

[2019-10-04 17:51] NickCarducci opened #93 "usePinch to redirect example"
Hey react-use-gesture contributors,
Can you help with this usePinch to redirect (redirect = react-router's this.props.history.push('/')) example?
I'm sure this isn't an issue, just with me not using it correctly.
I made this [codesandbox](https://codesandbox.io/s/cool-silence-oezmi) for you.
Your response would help so much!
btw, I'm going to usePinch for this on every page of my app.

[code]

[2019-10-04 18:33] dbismut commented on #93
@NickCarducci I'm not sure how great idea this is to use pinch to deal with routing, but anyway! I'll also just focus on your specific question. Here is the code you might want to use:

[code]

I'm using refs as usePinch with trackpads works better when the event is prevented (which is not possible when binding the component directly as React only supports passive events handlers).

Depending on w

[2019-10-04 18:33] #93 closed

[2019-10-04 18:46] NickCarducci commented on #93
Beautiful snippet there thank you... just to get the example for future readers working (and me ha...): when I pinch on it and get error `undefined is not an object (evaluating '_this.props')`... Does this mean it's an issue with my BrowserRouter configuration?  this.props.history.push('/') should work inside BrowserRouter

[2019-10-04 19:07] dbismut commented on #93
I’ve just copy pasted your code but indeed since this is a functional component this.props doesn’t exist. But this is clearly outside the scope of this lib sorry.

[2019-10-04 19:11] NickCarducci commented on #93
No problem thanks!

[2019-10-07 17:00] dmcmorris commented on #66
Looks like this never made it out of beta... anyone have a solution to this issue?  Trying to use onDrag from react-use-gesture and onDblClick from konvajs and I always get a drag triggered for every double click

[2019-10-07 17:46] dbismut commented on #66
Hey @dmcmorris, indeed drag is triggered as soon as the user mouses down. Unless proven otherwise, I’ve found difficult to accurately predict whenever a drag should actually be triggered, this depends on the usecase.

It shouldn’t be a big deal in your case though, nothing forces you to update your UI when the drag handler triggers. A double click generally happens with no mouse movement, so you c

[2019-10-07 18:17] codynova commented on #66
@dmcmorris The solution can be seen [here ](https://codesandbox.io/s/exciting-surf-89ncy) - you need to use `first` and `last` in `useGesture`'s `onDrag`, and store the drag delta time in a ref.

`onDrag`:
[code]

`onClick`:
[code]

[2019-10-07 18:27] dmcmorris commented on #66
thanks @codynova  and @dbismut, I had not fully explored all of the attributes available in onDrag.  For my purposes I used distance to filter/control the UI update and ignore drags:

onDrag:
[code]

The quick replies are much appreciated... awesomely powerful library.

[2019-10-07 18:52] dbismut commented on #66
Just be careful with distance as dragging might start but then if you get back to your point of origin without releasing your drag, distance might pass under the threshold and your UI will not be updated.

[2019-10-07 19:02] codynova commented on #66
@dbismut For the record, using the click speed/delta time solution has been extremely accurate in my experience - although perhaps it depends on the use case, as you said. However this has been my go-to solution for complex UIs that strongly differentiate between clicking and dragging on the same element and it has always seemed perfectly accurate in my experience, I have never seen a false-positi

[2019-10-07 19:17] dmcmorris commented on #66
I'm using a ref to track if the drag has passed the distance threshold or not, I need that to filter other events/logic anyways.  I have some momentum scrolling using spring on this element and longpress events, so time based initiation of the drag was more problematic for me:

[code]

I'll try to throw a simple sandbox together and share later.  Thanks again for the concise and helpful suggestion

[2019-10-07 19:18] dbismut commented on #66
@codynova that’s good to know and I think I’ll add your sandbox to examples / FAQ. However native click events don’t depend on time or movement (I think they’re triggered as long as the target is still under the mouse when it’s released).

[2019-10-07 19:29] dbismut commented on #66
@dmcmorris that’s perfect indeed. No need for a sandbox ;)

[2019-10-07 19:30] codynova commented on #66
@dbismut I made a second sandbox that's a bit clearer, and shows drag/click/double-click all working together. https://codesandbox.io/s/elated-cori-45z3q

What do you mean exactly in regards to native events? Can you describe the effect that would have on the sandbox?

[2019-10-07 19:43] dmcmorris commented on #66
@dbismut one thing to point out, the `{time: 1000}` param doesn't seem to do anything with any versions of react-use-gesture but 5.0.2_beta1

[2019-10-07 20:40] codynova commented on #66
@dmcmorris Good point. I'm not sure whether that is will actually make it into the library at some point, but it is not necessary for the solution.

[2019-10-07 21:00] dbismut commented on #66
You’d just have to ask, I don’t have anything against it 🙃 it would be set to 0 by default.

[2019-10-07 21:39] codynova commented on #66
Sorry if that sounded rude! I realized my comment can be read two different ways - and I definitely didn't intend to throw shade 😅

Honestly I don't have an immediate use case for it, and I don't want to suggest adding a lot of clutter to the API - but I do feel like it could be useful, and I appreciate having access to parameters that allow edge-case solutions.

As far as a name, assuming it effe

[2019-10-08 05:55] dbismut commented on #66
Oh no don’t worry, I was joking! I’m not sure what other gestures would make sense to have that feature, so for now I think I’ll just make it work for drag (`dragDelay` it should be).

It’s not that much of an edge case, being able to distinguish a click from a drag should be pretty common and if this avoids hacks or refs its a good thing to have!

[2019-10-08 07:22] impulse opened #94 "Simple example "xyz.to" is not a function"
`TypeError: xy.to is not a function`

Used dependencies

[code]

Replacing `xy.to` with `xy.interpolate` works fine

[2019-10-08 07:43] dbismut commented on #94
Hey @impulse, examples use `react-spring` beta `v9` as it has a simpler API and should be released pretty soon. `interpolate` is replaced with `to` and `animated` accepts simple transform props in its style attribute ([see here](https://github.com/react-spring/react-spring/pull/782)).

I should probably have written a warning but v9 is really on the edge of being released!

[2019-10-08 07:43] #94 closed

[2019-10-08 08:09] impulse commented on #94
Oh wow this looks way better, thanks for letting me know @dbismut 👍🏻

[2019-10-08 15:15] dbismut commented on #66
There, `v6.0.4` is out with `dragDelay` as an option (set to `false` by default, you can set it to `true` and will take a default value of `180ms` but you can set any value you want).

[2019-10-08 15:35] codynova commented on #66
Awesome! I've updated that [sandbox](https://codesandbox.io/s/xenodochial-dubinsky-l9x7f). That demo still uses refs to determine click and double-click, and uses `dragDelay` to allow initiating a drag event without moving the mouse (by holding in click for `dragDelay` milliseconds).

I suppose it would also be nice to have an example that only uses `dragDelay` without refs. I'm a bit busy right t

[2019-10-08 15:44] codynova commented on #66
@dbismut Just doing some testing and there seems to be a significant difference in behavior between 5.2.0-beta.1 `time` and 6.0.4 `dragDelay`? Here are some example codepens to illustrate the difference:

[5.2.0-beta.1 no time config](https://codesandbox.io/s/sharp-mirzakhani-zmsbw). This setup triggers a drag event very soon after the mouse click is held.

[5.2.0-beta.1 with time config](https://

[2019-10-08 15:48] codynova commented on #66
@dbismut Please disregard my last comment. My example sandbox breaks when updated to 6.0.4, and I initially thought it was due to the `dragDelay` setting, but now I can see that's not the problem. Here's the [original sandbox](https://codesandbox.io/s/stoic-kilby-e4vnr), and that same [sandbox updated to 6.0.4](https://codesandbox.io/s/crazy-noyce-9l1td). Can you help me understand the difference

[2019-10-08 16:05] dbismut commented on #66
@codynova yep that's an easy one, v6 labels things in a better / more conventional way.

Value | v5.x | v6.x
------------ | -------------|---------
delta between current and previous event | N/A | **delta**
last gesture offset (xy - initial) | delta | **movement**
offset since first gesture | local | **offset**

So you just need to replace `delta` with `movement` and you should be good ;)

[2019-10-08 16:27] codynova commented on #66
@dbismut Thanks very much for the speedy reply, I've made the change as suggested - but things still don't seem to be working as I'd expect.

[5.2.0-beta.1 sandbox](https://codesandbox.io/s/elastic-rosalind-6jfpu) with `time` configured to 1000ms (using `delta` instead of `movement`). With this setup, you can click, double-click, and click-and-drag without delay. You can also click-and-hold for 10

[2019-10-08 16:32] dbismut commented on #66
Yeah in 6.0.4 I haven't made so that the drag is initiated as soon as the mouse moves (it really waits for the 1000ms). I can fix this in 6.0.5, I'll see what I can do now :)

[2019-10-08 16:46] codynova commented on #66
Awesome. Hopefully the update in 6.0.5 won't make `dragDelay` confusing for consumers of the API. I suppose it might be possible to have a second parameter `instantDragOnMove` or `dragDelayOnMove` or something, which would allow utilizing `dragDelay` in either the 6.0.4 or 6.0.5 fashion. Honestly without foreseeing exact use-cases, I think it's kind of hard to say whether it would be useful. Thank

[2019-10-08 17:16] jljorgenson18 opened #95 "Typescript errors after removing transform"
We are seeing the following the type errors when upgrading to 6.0.3 because transform was removed.

[code]

It seems like we just need to remove transform from hooks.d.ts.

[2019-10-08 17:18] dbismut commented on #66
Yeah `dragDelay` is optin and pretty sure people will stumble upon this thread if they have any questions ;) 6.0.5 is now out, let me know if it works better for you!

[2019-10-08 17:28] dbismut commented on #95
Reaaaallly sorry @jljorgenson18 this should be fixed in v6.0.6

[2019-10-08 17:30] jljorgenson18 commented on #95
No worries @dbismut

[2019-10-08 17:30] #95 closed

[2019-10-08 19:04] codynova commented on #66
Love it. https://codesandbox.io/s/trusting-pine-jpqi5

I cleaned things up a bunch, and I think this is the best solution I can come up with. I'll be replacing the logic in my current projects with the logic from this sandbox. It requires three different refs, but it's working extremely well in my testing.

Rather than tracking drag delta time, we only use a timestamp ref for tracking the time of

[2019-10-09 08:25] dbismut commented on #66
Hey @codynova I've found a bug with `dragDelay` this morning: in `6.0.6` if you moused down, moved and dragged longer than dragDelay, the square would go back to its origin position (I had forgotten to clear a timeout). This is now fixed in `6.0.7`.
I've copied your sandbox here and made a few tweaks, mainly moving to react-spring v9 which simplifies styling attributes: https://codesandbox.io/s/ha

[2019-10-11 20:44] mpolichette opened #96 "onWheel delta doesn't match event.delta?"
Hey,  I'm using `"react-use-gesture": "^6.0.7"` and I'm getting a weird behavior with `onWheel` and a stepped mouse, e.g. one which physically click between steps.

I first noticed, I was not getting any movement if i did a single step of the wheel.  Investigating, I defined the following handler: `useGesture({ onWheel: console.log })` and got the following event.
![Screen Shot 2019-10-11 at 2 37

[2019-10-11 21:32] dbismut commented on #96
@mpolichette hm this looks like a bug, thanks for reporting this, I’ll investigate this tomorrow.

[2019-10-11 23:27] mpolichette commented on #96
Thanks @dbismut, you're a great maintainer! 👍

[2019-10-12 12:24] dbismut commented on #96
@mpolichette thanks, that's good to hear! `6.0.8` is out and should fix this. It's actually a bigger issue than I initially thought, it actually applies to scroll as well and to `offset` and `movement` state attributes. I also did some refactoring so hopefully this doesn't break elsewhere!

[2019-10-14 03:46] LJEsp opened #97 "onWheel direction bug?"
When using the scroll wheel very slowly (as if reading an article), the direction doesn't update:
![image](https://user-images.githubusercontent.com/36854142/66728436-7bf9d400-ee77-11e9-9295-1bddb757e9fc.png)
But it updates if I scrolled stronger.

Currently I just use state.event.deltaY as a workaround.

[2019-10-14 06:46] dbismut commented on #97
Hi @LJEsp thanks for reporting this issue, it’s actually linked to #96, I forgot to fix some state attributes.  I’ll release a fix today. Sorry about this!

[2019-10-14 07:56] dbismut commented on #97
This should be fixed in `6.0.10`!

[2019-10-14 12:34] #97 closed

[2019-10-14 16:34] abepuentes commented on #96
@dbismut I'm pretty new to this stuff, so sorry if this is not the place to comment this. But I think after this change been applying since 6.0.8, the scroll movement has getting some "jiggle" behavior, because that's kind of difficult to explain, I was testing this example from drcmd (https://codesandbox.io/embed/react-three-fiber-suspense-gltf-loader-l900i ). If you change the version from 6.0.7

[2019-10-14 17:46] dbismut commented on #96
@abepuentes Damn you're right. I though I could solve this in a minor release, but I'll release a cleaner `6.1.0` which might result in some minor breaking changes. Anyway `6.0.11` is released and should the issue with `previous`.

[2019-10-14 21:37] abepuentes commented on #96
@dbismut 6.0.11 is working fine, I test it in my website and is ok. You are doing a great job.

[2019-10-18 15:22] kristkirp opened #99 "viewpager() example to typescript"
Hi guys,

I'm trying to use this drag animation in typescript https://codesandbox.io/s/viewpager-sq9ud

And I'm stuck at this line:
[code]

![image](https://user-images.githubusercontent.com/30670856/67106777-3c91f700-f199-11e9-8f8e-1144e02dcd15.png)

And it gives me this error:

  Overload 1 of 2, '(ds: Partial<Merge<{ x: number; display: string; } & UseSpringBaseProps, { from?: Partial<Pick<{ x:

[2019-10-20 14:26] Maggieryder opened #100 "Firefox last not firing in scroll event"
Have an issue where I'm trying to lock scroll axis. Based on your solution for locking axis during Drag event, and being fairly new to this, the only way I could find to do this was by changing overflow-x or overflow-y styling attribute once direction had been determined and reverting them on the 'last' event. It's working fine in safari, chrome etc, but 'last' does not seem to be firing in Firefo

[2019-10-20 14:45] dbismut commented on #100
Hi Maggie, do you mind creating a sandbox with your latest attempt? This will be easier to settle for me.

[2019-10-20 14:45] #96 closed

[2019-10-20 14:48] dbismut commented on #99
Hi @kristkirp, closing since this looks like a react-spring issue.

[2019-10-20 14:48] #99 closed

[2019-10-20 15:29] Maggieryder commented on #100
Hi dbismut,
Thanks for getting back to me so quickly.
Your codebase is working as expected as I just removed my dynamic overscollX/Y styling and the 'last' event is firing fine in Firefox.
But that leaves me unresolved as to how to locking scrolling in only one direction depending on the first move being more x than y (or vice-versa). Any help would be much appreciated.

[2019-10-20 15:36] dbismut commented on #100
I’m on the move at the moment, but I guess you tried replacing useDrag with useScroll or useWheel in the lock axis example. My guess is that since wheel or scroll are debounced you might not get the result you want (ie you might think last is fired too late), but I’d appreciate if you could describe what doesn’t work for you.

[2019-10-20 15:55] Maggieryder commented on #100
Yes, iPad/tablet is ultimate goal, but desktop should work too.
Not the body dom node, it's an internal node with some complex interaction - you can dynamically add width and height by adding horizontally and vertically aligned elements independently, but if you start scrolling, it's gets really messy if you are able to scroll on both axes at the same time. Hope this explains well

[2019-10-20 17:00] dbismut commented on #100
Ok so this is me thinking out loud from the top of my head and I’m usually really bad at this but I’ll try. So there’s one option that would using drag interaction to fake the scroll. In that case you might have some additional work if you want to emulate Safari’s but that’s doable. Of course that won’t work using the mouse wheel so that might not work for you.

If you want to use scroll, then usi

[2019-10-20 19:04] Maggieryder commented on #100
I'd go for the second option but can't get rid of the "Unable to preventDefault inside passive event listener invocation" error even when I drop the spread on the component and add listener as described in useEffect(bind, [bind]) with domTarget.

[2019-10-20 21:13] dbismut commented on #100
That’s explained in the FAQ, you need to pass `{ event: { passive: false }}` in the config object.

[2019-10-20 23:50] Maggieryder commented on #100
I did that... but I see now I was doing it wrong!!! Think I can handle it from here. Let me know if you ever implement a lockYAxis or LockXAxis only flag that can be added dynamically on the fly - something like: event.lockYAxis = false
Thanks for your help. You're a dream to work with!!!

[2019-10-20 23:55] dbismut commented on #100
Glad I could help! Closing this but let me know if this works out for you eventually.

[2019-10-20 23:55] #100 closed

[2019-10-21 08:46] adamhaeger opened #101 "Prevent scroll when dragging on mobile/tablet."
Is there any way to prevent the page from scrolling when using a drag n drop gesture on tablet/mobile?

I am implementing drag and drop similar to your dnd example (https://codesandbox.io/s/draggable-list-vp020), and the example also scrolls up and down when moving items on tablet.

[2019-10-21 15:21] dbismut commented on #101
That really depends on your use case, it’s not directly linked to the use of this library. As soon as I have some time I’ll check if there is a scrolling issue with the example, but I’m not experiencing any on my iPhone. In any case, if you don’t want the body to respond to scroll you should probably prevent default on all touch events (and please read the FAQ about passive events to understand ho

[2019-10-22 07:26] impulse commented on #101
The easiest solution I have found is to use `style={{ touchAction: 'none' }}` on your `animated.div`.

Here is an example: https://tailwind-slidecards.netlify.com/

[2019-10-22 09:09] dbismut commented on #101
@impulse that actually looks like a way better option!

[2019-10-22 18:19] goldbuick opened #103 "useDrag on mobile safari with pointerEvents set to true"
https://codesandbox.io/embed/react-three-fiber-gestures-dh2jc

I am going to start looking into why this isn't working on iOS 13.1.3
PEP no longer polyfills on iOS, their pointer event examples seem to work fine on the phone
However the linked react three fiber example does not?

I am kind of stuck here because react three fiber requires pointerEvents

[2019-10-23 08:10] dbismut commented on #103
Hi @goldbuick, isn't this more of a PEP issue? This lib will never polypill pointer events I'm sorry...

[2019-10-23 12:12] goldbuick commented on #103
So PEP no longer does polyfill on iOS 13.x because pointer events are now native to the browser.

However that being said with the native pointer events on iOS useDrag isn't working. So please don't mark this as invalid.

[2019-10-23 12:36] dbismut commented on #103
@goldbuick ok I'll reopen the issue for the sake of investigation. The linked sandbox seems to work normally on my phone (running 13.2 beta) but doesn't on my friend's phone running (13.1).

From [Can I Use](https://caniuse.com/#feat=pointer), it looks like there's an issue with the value of the `buttons` property:

In the lib code, there's these lines which involve checking on the `buttons` value

[2019-10-23 12:41] goldbuick commented on #103
I am perfectly okay waiting for 13.2 this is for a personal project!

Thank you so much for checking, and yes being able to drop the legacy events would be pretty nice!

This is what I was working on last night when I discovered the issue when trying from my phone.
https://www.twitch.tv/videos/498304469

[2019-10-23 12:52] dbismut commented on #103
Oh wow this is really cool! @drcmda you might want to check this ;)

[2019-10-23 13:04] dbismut commented on #103
(updated my previous message, the lines are indeed what prevents 13.1 from working correctly). I'll leave this open until 13.2 comes out.

[2019-10-23 13:18] adamhaeger commented on #101
Thanks @impulse , I've tried that as well but it didn't work in my case.
So I've ended up doing this which works fine:

`const bind = useGesture(
    ({ down, delta, xy }) => {
      if (down) {
        // Prevent scroll on touch screens while dragging:
        document.ontouchmove = function(e) {
          e.preventDefault();
        };
      } else {
        document.ontouchmove = function() {

[2019-10-23 14:00] dbismut commented on #101
@adamhaeger Any solution that works is fine I guess! You might want to use `addEventListener` instead?

To expand a bit more on my previous explanation, you might want to h ave a look at this sandbox: https://codesandbox.io/s/react-use-gesture-simple-prevent-scroll-p7cjf

Unfortunately, using refs is incompatible with the idea of passing an argument to `bind`, which ruins the purpose of the dragga

[2019-10-23 16:07] #101 closed

[2019-10-24 10:39] alishah1930 opened #104 "Errors Occurring while Connecting react-native with google-firebase"
[code]
[code]
Unable to resolve module `firebase/app` from `C:\Users\ali_s\nodejs\2-new-project\App.js`: Module `firebase/app` does not exist in the Haste module map or in these directories:
  C:\Users\ali_s\node_modules\firebase

This might be related to https://github.com/facebook/react-native/issues/4968
To resolve try the following:
  1. Clear watchman watches: `watchman watch-del-all`.
  2. D

[2019-10-24 10:57] dbismut commented on #104
?

[2019-10-24 10:57] #104 closed

[2019-10-24 11:05] alishah1930 commented on #104
i couldn't understand why this error is occurring repeatedly. Maybe the firebase is not connected properly. i just need a simple Login connected with a firebase from which i can retrieve or fetch data. Please help me with this.

[2019-10-24 11:21] dbismut commented on #104
How is react use gesture even remotely associated with this problem? Locking this issue. You can reach me on Twitter if needed.

[2019-10-28 16:16] jwmann commented on #85
@Magellol I'm using a combination of https://github.com/d4nyll/lethargy and a setTimeout() to do exactly this.

Here's an example:
[code]

The problem I'm having is that Lethargy needs a new event after we trigger a 'switch'.
Do you know if there's a way to remove the OnWheel listener and then rebind it?

[2019-10-28 18:04] jwmann commented on #85
@dbismut I appreciate the help.
Unfortunately your first example doesn't work well with Trackpads with inertia.
You can't scroll quickly, you must wait until `last` is called, which on a trackpad with inertia can take up to 2-3 seconds.

This is the entire reason why I'm using Lethargy. I appreciate you trying to make an example with Lethargy, however you're not quite using the LethargyJS library

[2019-10-28 20:03] dbismut commented on #85
@jwmann

Hm no, I'm not using last in that example, that I specifically built with inertia in mind and it works on my trackpad. It's very likely that Lethargy does a better job at this though.

Lethargy is just a way to distinguish real scroll events from inertia-triggered scroll events. You _might_ use Lethargy so that you can only scroll one frame at a time (which seems to be your intent), but t

[2019-10-28 22:21] goldbuick commented on #103
iOS 13.2 is out now! Tried the sandbox and it’s working ❤️ I’m really happy to have this

[2019-10-28 22:21] #103 closed

[2019-10-28 23:05] dbismut commented on #103
That’s great news. Just so you know I’ve stumbled upon a bug related to Pointer Events that I’ve reported to the WebKit team:

https://bugs.webkit.org/show_bug.cgi?id=203364

I don’t think it will affect you since you’re using the canvas though!

[2019-10-29 13:29] AudunBeck opened #106 "Page also zooms when using pinch to scale objects using useGesture"
Been trying to get useGesture to work where pinching to scale and rotate won't also zoom the site im currently on, but does not seem to work correctly.
Am I wrong thinking this should work at all? Even the example provided at https://codesandbox.io/s/9o92o24wrr zooms when pinching to scale the object.

[2019-10-29 14:27] dbismut commented on #106
@AudunBeck hey, what's the device you're testing against?

[2019-10-29 14:28] AudunBeck commented on #106
@dbismut firefox on desktop and both firefox and chrome on android.

[2019-10-29 14:32] dbismut commented on #106
@AudunBeck I've updated the sandbox with `touch-action: none`. Let me know if that works for you!

[2019-10-29 14:36] AudunBeck commented on #106
@dbismut  Does not seem like the sandbox have updated yet.

[2019-10-29 14:50] dbismut commented on #106
Damn you’re right. I rushed this before a meeting and now I’m stuck. Will update in 30mn or so but touch-action: none in the outer div should make it work.

[2019-10-29 14:53] AudunBeck commented on #106
I will check it when i get back infront of a pc again!
________________________________
From: David <notifications@github.com>
Sent: Tuesday, October 29, 2019 3:50:21 PM
To: react-spring/react-use-gesture <react-use-gesture@noreply.github.com>
Cc: Audun Beck <audunsbeck@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [react-spring/react-use-gesture] Page also zooms when using pinch

[2019-10-29 14:55] AudunBeck commented on #106
I will look into it when i get infront of a pc again!

[2019-10-29 19:11] jwmann commented on #85
@dbismut
I think we're both on the same page about Lethargy.

Although I'm using a timeout, your new example still uses a reference to achieve the same result.
I'm just using a timeout because of an animation that I want to wait until it completes.

That being said, I no longer have the original issue I described with the event. I think the only thing I changed was checking lethargy after making s

[2019-10-30 08:12] AudunBeck commented on #106
Seems to be working on my end now!

[2019-10-30 08:12] #106 closed

[2019-10-30 20:44] alishah1930 opened #107 "TypeError: Attempted to assign to readonly property."
[code]

[2019-10-31 00:40] Tatamethues opened #108 "Wheel uses deprecated function"
Chrome  78.0.3904.70 on Win10
[code]

[2019-10-31 00:42] aholachek opened #109 "Thoughts"
Hi @dbismut,

Here's a list of thoughts I had after working on the react conf talk. Most of them involve making it easier to implement gesture animation, but part of the charm of this library for me is how flexible it is, it really lets you handle the gestures as you see fit, and I never had to fight with it to do something custom. So maybe just documenting some patterns or exposing some helper fu

[2019-10-31 06:35] dbismut commented on #108
This is weird as this lib doesn’t use any sort of storage. Can you open a sandbox?

[2019-10-31 09:43] dbismut commented on #109
Hi @aholachek

First of all massive thanks for exposing the lib during the React conf and for the insightful feedback. Here are some initial thoughts, I'll probably need some more time to dig into all of your points.

### 1. Velocity

You're absolutely right, I ran into the same issue.

My understanding was that `react-use-gesture` calculates pixels per _millisecond_ (which seems to be the standar

[2019-10-31 09:45] #107 closed

[2019-10-31 12:34] aleclarson commented on #109
Not sure what you mean here. You want `react-spring` to provide a rubberband effect?

If you're not using `useTransition`, you should be able to install [the latest canary](https://spectrum.chat/react-spring/general/try-the-new-v9-canary~c5cad1eb-c6ff-4b40-9a10-76d368c3e404) without any code changes.

As @dbismut said, it fixes the velocity issue and exposes `config.frequency` and `config.damping`

[2019-10-31 13:23] Tatamethues commented on #108
I'm sorry. This only happens when using storybook.

[2019-10-31 13:24] #108 closed

[2019-10-31 16:28] dbismut commented on #109
@aleclarson Sorry I realize I wasn't clear, and maybe we should move this to `react-spring`! It's slightly more complex than rubberband, as it would work with decay: whenever the decayed value goes off bounds, it starts a reverse spring movement to the nearest bound with an initial momentum. This is very similar to what happens on iOS when you scroll off bounds with inertia.

That would mean addin

[2019-11-01 01:06] aholachek commented on #109
Hi @aleclarson,

Quick follow up question: in my experience, frequency response is a number between about 0.1 - 1.5, as seen [here in this apple talk](https://developer.apple.com/videos/play/wwdc2018/803/?time=2115). I think it's also true in equations [like this one](https://gist.github.com/jenox/7ccbb414b8697ceec9463892b2e65162#file-uispringtimingparameters-convenience-swift).

However, with the

[2019-11-01 12:59] drcmda commented on #109
As for the CSS blur, sadly it's being rendered on the CPU on many devices, i believe even some desktop browsers like Firefox. It is completely useless at this point unless it's for static backdrops or Chrome only/newer devices.

[2019-11-06 10:43] dbismut commented on #109
@aholachek Hey Alex, I've just released alpha for v7 (`7.0.0-alpha.5`) that only implements `useDrag`.

You'll find a sandbox here: https://codesandbox.io/s/react-use-gesture-v7-oft72

| State | Type | Description |
| ------ | ----- | ----- |
| click | `boolean` | `click` will be `true` when the total displacement is inferior to `3`.  |
| swipe | `[number, number]` | `swipe[0]` will be `-1 \| 0 \|

[2019-11-06 10:44] #45 closed

[2019-11-06 10:57] dbismut opened #111 "🔮 v7 now in beta!"
Following #109, I've started working on v7, which is now available with the beta tag. You can install it like so:
[code]

### 📕 [Docs](https://use-gesture.netlify.com/)

React-use-gesture has a proper [documentation website](https://use-gesture.netlify.com/)!

### ⛱ Sandbox
You can play with v7 options in this sandbox: https://codesandbox.io/s/react-use-gesture-v7-oft72

### ✅ New features

#### A

[2019-11-07 02:37] aholachek commented on #109
Nice, thank you @dbismut . I'm going to refactor my code examples from my talk with this alpha version and get back to you this weekend with any additional feedback. I think `intentionalThreshold` and `filterClicks` are going to be very helpful.

[2019-11-08 15:22] dbismut commented on #109
@aholachek I've just added `axis` in `7.0.0-alpha-9` that can accept `'x'` or `'y'` (or `undefined`). If you set `axis: 'x'`, the hook will prevent the handler from firing if the movement is intentional and if the displacement on the `y` axis is **once** superior to the displacement on the `x` axis. This is similar to your check but it cancels the gesture as soon as an unwanted gesture is detected

[2019-11-08 15:51] TheHolyWaffle commented on #111
Allow for tree-shaking by marking the library as side-effect free?

See https://bundlephobia.com/result?p=react-use-gesture@7.0.0-alpha.9

[2019-11-08 23:02] dbismut commented on #111
Hey @TheHolyWaffle can you please expand on this? I'm not an expert, I know what tree-shakable means, not sure exactly how to mark the library side-effects free? I'm using `rollup` as a bundler, not sure adding `"side-effects": false` to `package.json` would change anything, but again, I'm not sure about what I'm writing 😅

[2019-11-08 23:37] TheHolyWaffle commented on #111
@dbismut That's exactly how you would enable it :) Indeed, it seems like there is benefit to it yet. But it might help out in the future some time. I don't see a downside of having it be marked side effect for now.

[2019-11-09 05:51] codynova commented on #109
@dbismut This is awesome. Any chance we can get dragDelay added somehow? Maybe even changing prop names like `intentionalDistanceThreshold` and `intentionalDurationThreshold` or whatever makes most sense

[2019-11-09 06:10] dbismut commented on #109
@codynova It is already in there, it’s just renamed `delay`.

Essentially the `useGesture` hook (not yet in alpha v7), will have a config object like so:

[code]

However, each specific gesture hook flattens it’s config options so `useDrag` config object would look like:

[code]

Makes sense?

[2019-11-12 10:01] mrsimb opened #112 "Add elapsed time"
Hello! Thank you again for this wonderful library.

In my case, i have a pannable container with draggable items. I want the drag to actually start if user holds mouse more than 180ms.

I would use config.dragDelay, but i need to catch the first mousedown event, and stop its propagation down to the pannable container, so panning wouldn't start too.

The soultion i have now, is to memoize first tim

[2019-11-12 10:32] dbismut commented on #112
Hey @mrsimb thanks for the suggestion! Can you please share a codesandbox with your current workaround? Thanks!

[2019-11-12 10:53] mrsimb commented on #112
Okay, will do after i get to home.

[2019-11-13 01:49] aholachek commented on #109
I tried adding the following options to a demo:
[code]
`filterClicks` works great and is super useful. I think the `axis` option is getting ignored, though, and `threshold` prevents the animation from ever getting triggered.

(I'm using version `7.0.0-alpha.14`.)

[2019-11-13 06:16] dbismut commented on #109
Hi @aholachek, thanks for giving it a shot. That’s weird, I’m using the same settings in the [sandbox](https://codesandbox.io/s/react-use-gesture-v7-oft72) and it seems to work ok.

What device are you testing this on? Is there any chance you could open a repro sandbox? Thanks a lot!

[2019-11-14 09:56] dbismut commented on #112
Hey @mrsimb did you have time to have a try?

[2019-11-14 17:40] dbismut commented on #109
@aholachek I've just released `7.0.0-alpha.15` which should fix some peripheral important bugs. I don't know if it actually fixes your problem since I wasn't able to reproduce it, but you might give it a chance. Also `lockDirection` is a new config option that locks the gesture axis based on the initial direction of the gesture.

[2019-11-15 15:28] aholachek commented on #109
Hi @dbismut,
I just realized that one of the issues I was seeing was due to using the new react-spring api and not fully updating my code. It looks great now that I've fixed it, the new helper methods allow for more concise code on my end.

One thing I'm trying to figure out is the cleanest way to deal with the threshold offset.

Before, I would wait until the threshold was passed, then [cache it

[2019-11-15 15:40] aleclarson commented on #109
Definitely not intended. I never got around to making a demo for `frequency`/`damping`, so I suspect it's [these lines](https://github.com/react-spring/react-spring/blob/4be2ac3fdcc46da4a564ad21a588dcbc57b1e6fb/packages/core/src/Animation.ts#L170-L173) causing the issue. Feel free to open a PR with a fix :)

[2019-11-15 15:50] dbismut commented on #109
Ok I think I know where this comes from: I thought it would be a good idea that the *first* value returned by `movement` would take into account the threshold, but it's actually stupid. In your case, your threshold is `30` and the first movement value you get is `30`. You could animate smoothly to it with `immediate: !first` but by the time the second frame comes, your value didn't have the time t

[2019-11-15 16:29] dbismut commented on #109
@aholachek should be good in `7.0.0-alpha.18`. Have a look at:
https://codesandbox.io/s/mobile-animation-demos-s602y

I guess this is the behavior you wanted?

I'll investigate rubber banding :)

[2019-11-15 17:56] aholachek commented on #109
Yes, it's working perfectly now. It's allowed me to simplify even further by not having to adjust `movementX` for the initial threshold.

[2019-11-20 10:37] dbismut commented on #109
Hey @aholachek I've had a try at implementing rubber banding. So here is the api for config:

[code]

So both `movement` and `offset` will be returned both _bounded_ and _rubberbanded_. When you release the drag, if `movement` and `offset` are out of bounds, they will return to the closest bound.

You can play with this option here by activating the bounds in the GUI:
https://codesandbox.io/s/reac

[2019-11-21 18:48] drcmda commented on #112
elapsed time would be super useful. i added it to react-three-fiber as well. it's just a

    const now = Date.now()
    const elapsed = (now - last) / 1000
    last = now

[2019-11-25 10:01] dbismut commented on #112
`elapsedTime` has been added in `7.0.0-alpha.22`, which currently supports drag and wheel gesture.

[2019-11-25 10:08] mrsimb commented on #112
great, thanks!
also sorry, i forgot to reply

[2019-11-25 10:08] #112 closed

[2019-11-26 14:44] aholachek commented on #109
Hi, sorry for the delay in response, I’ve been trying to get my thoughts in order so that what  my questions make sense.

A common pattern is for developers to be dealing with flexible bounds for animations rather than fixed ones (since the size of touch devices varies so much).

#### That results in a common flow like the following:

1. User touch begins
2. Component immediately caches relevant c

[2019-11-26 15:18] dbismut commented on #109
Hi @aholachek, I’m no perf expert but I don’t think we should be worried about one additional render in that case. I know there’s a lot of press around minimizing render cycles but React is actually fast (and even faster in production mode).

I think the best way would be to use a hook such as `react-use/useWindowSize` or even `react-use/useMeasure` which would help us keep `bounds` in sync.

Ther

[2019-11-26 15:53] aholachek commented on #109
That makes sense! Regardless, it would be nice to be able to have both a `threshold` as well as an immediate callback for any setup logic (like adding the [`will-change:transform` css prop]((https://dev.opera.com/articles/css-will-change-property/)))

[2019-11-26 16:55] dbismut commented on #109
I don't know how that callback would work I'm afraid. What you could do is have `willChange` as a property of a spring, so that setting it doesn't trigger a render. `react-spring` treats non interpolatable values immediately so I guess this should be ok?

[2019-11-29 03:15] dellwatson opened #113 "useDrag error ?"
on Chrome:
[code]
on Safari: not responding

I used the latest package

I create from the simple example exactly same logic:

[code]

does anyone know what's my problem ??

[2019-11-29 06:41] dbismut commented on #113
Hi @dellwatson a repro sandbox is always welcome, however I’m closing this since this clearly looks like a `react-spring` issue. One piece of advice: try upgrading to `react-spring@next` to install the upcoming version 9 and see if the error persists.

[2019-11-29 06:41] #113 closed

[2019-11-29 10:20] longjinxiang commented on #111
Can I use it in windows？

[2019-11-30 19:56] dbismut commented on #111
@longjinxiang what do you mean?

[2019-12-01 07:26] sinoon opened #115 "If domTarget.current is null at unmount, bind will not return the right cleaning function"
I need use useGesture with passive false mode, and I use useGesture with function as first argument.

Question 1 : gesture bind seems like not work
Question 2 : binds function return a object not a function for remove listener.
`Warning: An effect function must not return anything besides a function, which is used for clean-up. You returned: [object Object]`

But a little bit different. Let me sho

[2019-12-01 07:34] dbismut commented on #115
Hi @sinoon, using a function as the first argument for `useGesture` to make it default for drag was removed when specific gesture hooks were introduced. You can now use `useDrag` instead!

[2019-12-01 08:47] sinoon commented on #115
Thank you , But when i use `useDrag`, i got same error

![image](https://user-images.githubusercontent.com/6065488/69911674-02836880-145a-11ea-81b3-50a879e7b2b1.png)

And more, type error with
![image](https://user-images.githubusercontent.com/6065488/69911693-1a5aec80-145a-11ea-8d0a-6be66aaf1015.png)

Only thing I change it use `useDrag` instead of `useGesture`

[2019-12-01 08:51] dbismut commented on #115
Can you please open a repro on codesandbox?

[2019-12-01 13:30] sinoon commented on #115
https://codesandbox.io/s/multi-gesture-card-zfboo?fontsize=14&hidenavigation=1&theme=dark

[2019-12-01 15:58] dbismut commented on #115
@sinoon I'll see what I can do but I'm not seeing the error you were referring toN

[2019-12-01 16:05] sinoon commented on #115
I don't know why there no error, but is not work when i move the year or month

[2019-12-01 16:06] dbismut commented on #115
Here's a quick fix, you were using `delta` instead of `movement`. I assume you were used to v5, v6 labelled things differently.

https://codesandbox.io/s/multi-gesture-card-0jrcy

I'll see if there's a simpler implementation of it, this seems a bit circumvolved.

[2019-12-01 16:33] sinoon commented on #115
Yeah, it worked, I am using v5 indeed ! Big Thank for you !

I need investigate more because of my local code doesn't work but demo is fine :( It's seem like without binding event handler.

Is't very interesting, when I set show in initialize, it will ok, but is case of initialize with hide, it will not work, because of the ref.current is null, so the bind will not work.

[2019-12-01 16:37] sinoon commented on #115
And If set initialize with hide the component, the error will show

![image](https://user-images.githubusercontent.com/6065488/69916926-e0aad580-149b-11ea-8b54-54caacfc7994.png)

[2019-12-01 17:54] dbismut commented on #115
I'll investigate this. In the meantime here is another demo with simpler code I think, which doesn't use refs. The tip here is to use `touch-action: none` to indicate to the browser it shouldn't scroll the viewport when interacting with the menu.

https://codesandbox.io/s/react-use-gesture-template-4vs50

[2019-12-01 18:51] dbismut commented on #115
Indeed, this is a valid edge-case bug I think. It should be fixed in v7 though (just released `alpha.29` which fixes it).

[2019-12-04 08:49] nickmcmillan commented on #54
Is it possible you could check the Codesandbox link (seems like its no longer published) or let me know how you resolved this? I'm working on something which needs a similar implementation.

[2019-12-10 02:48] codynova opened #117 "useGesture's onClick has old value for props?"
I'm a bit confused by the behavior observed through console.logs in this codesandbox. I'd expect the value of `isEditMode` to be consistent throughout the app. Can you help me understand this behavior? Hopefully I'm not overlooking something super obvious.

https://codesandbox.io/s/draggable-list-ct10q

I think this may be a bug, as the same issue doesn't occur in a standard `onClick` handler.

[2019-12-10 02:50] codynova commented on #117
I think this may be a bug, as the same issue doesn't occur in a standard `onClick` handler.

[2019-12-10 09:41] dbismut commented on #117
@codynova good catch thanks! It is actually not so obvious, it was a closure bug which is a common error when using hooks, sorry about this! It's fixed in `7.0.0-alpha.30`. I will move `7.0.0` to beta state as soon as I finish the first draft of documentation, hopefully by end of week, but the current alpha should be relatively bug-free.

Please leave the issue open, I'll close it when `7.0.0` is

[2019-12-10 19:22] codynova commented on #117
@dbismut Awesome David, thanks for the great work and speedy resolution as always. 7.0.0-alpha.30 is looking great

[2019-12-18 21:21] Krispy3000 commented on #111
Hello, I was testing the bounds and rubberand options and they work great on their own, but don't seem to work with decay. I'm attempting to recreate touch scrolling on iOS. Is this a planned feature or something that I should handle manually with onFrame callbacks?

[2019-12-18 21:24] satvikpendem commented on #74
I've been following this issue as it's similar to something I'm making as well, and I found a few bugs, at least for the latest versions of `react-spring` and `react-use-gesture`. I made a simple slider example shown below.

On versions 6.0.0 or greater of `react-use-gesture`, it looks like the cursor doesn't exactly follow the mouse, when the panel is clamped to a specific value. It goes over or

[2019-12-18 21:33] satvikpendem commented on #111
Just posted on an older issue but there seems to be a bug in versions >6 where a drag gesture will continue even after the mouse is off of the draggable element. This does not appear in versions before 6, such as 5.2.4, so it might be something that was changed between then and now. Could see a fix in v7.

https://github.com/react-spring/react-use-gesture/issues/74#issuecomment-567219459

[2019-12-18 22:24] dbismut commented on #74
Hey @satvikpendem thanks for taking the time to report the issue. Having a sandbox and gifs is indeed super helpful 👍

In this case though, the answer is pretty trivial: 6.x deprecated `temp`, and `delta` was relabeled `movement` (in 6.x delta is `xy - previous` to match common usage).

Here is the updated sandbox: https://codesandbox.io/s/react-use-gesture-simple-id76z

I've commented out another

[2019-12-18 22:53] dbismut commented on #111
@Krispy3000 I think I know what you mean but unfortunately you'll have to look at react-spring rather than react-use-gesture. React-use-gesture doesn't animate per se, it only fires handlers when an event is fired.

However, I had created some weeks ago an inertia example doing what you want, and I just updated it to benefit from v7 and latest react-spring canary. Have a look!

https://codesandbox

[2019-12-18 23:01] Krispy3000 opened #120 "filterClicks broken on 7.0.0-alpha.35 and up"
Click returns "undefined" when filterClicks is set to true for 7.0.0-alpha.35 and up, but not 7.0.0-alpha.34.

[2019-12-18 23:49] dbismut commented on #120
Yeah sorry I’m changing the api from click to tap and filterClicks to filterTaps. I’m planning to release a beta before Christmas, I’m currently writing a full documentation.

[2019-12-18 23:49] #120 closed

[2019-12-19 00:45] satvikpendem commented on #74
Oh thanks, looks good. This may not be entirely react-use-gesture related, but I wanted to make a draggable box, like Google Calendar where you can click and drag to resize events. If there's content inside of them, then the size of the Panel changes, so when I do

[code]

I'm not sure what to put as the initial size instead of 300. Is there a way to dynamically set the `size` property based on th

[2019-12-19 06:19] dbismut commented on #74
It’s actually 100% react spring related. You’ll need to use a hook such as useMeasure that watches the height of the children and set your spring to its value.

[2019-12-19 16:44] satvikpendem commented on #74
I see, thanks. I'm using `useGesture`, is there a way to specify the config object like you showed in the most recent sandbox within the `onDrag` property? It looks like it just takes the `state`. I'm trying to do something like this:

[code]

[2019-12-19 16:45] dbismut commented on #111
**React-use-gesture v7 is now in beta with [new docs](https://use-gesture.netlify.com/)!**

[code]

[2019-12-19 16:51] #109 closed

[2019-12-19 16:58] satvikpendem commented on #74
Figured it out, new docs explain it: https://use-gesture.netlify.com/docs/options

[2019-12-19 20:20] Krispy3000 commented on #111
Great, thank you! The separation of concerns makes sense and I appreciate the code example. You probably already know that it has some erratic behavior and I'd like to help work out a solid code pattern. I'll open a ticket for inertia rubberbanding with react-spring to continue discussion.

The docs are also very helpful. I just wanted to point out there appears to be some missing urls, for exampl

[2019-12-19 22:20] dbismut commented on #111
You’re right, I’ll fix the URLs tomorrow!

[2019-12-20 07:21] dbismut commented on #111
@Krispy3000 can you point me to the erratic behavior on the inertia sandbox? I can’t reproduce :)

[2019-12-20 18:35] Krispy3000 commented on #111
@dbismut I was about to make a video this morning but when I loaded the codesandbox it seems that you have already fixed the bug! Just to be clear, what I was reproducing was giving the block some inertia, then clicking on it (but not dragging) while it was at rest and the it would move with the previous inertia. There would be harder to reproduce issues where the block would fly in the opposite d

[2019-12-20 19:13] Krispy3000 commented on #111
Okay here are some issues I reproduced that have to do with flicking the box on the bounds a bunch of times: https://www.dropbox.com/s/w5vua952ts57ey1/inertia%20bug.mkv?dl=0

[2019-12-21 10:28] dbismut commented on #111
@Krispy3000 I see! I think one of the bug comes from your mouse coming out of the viewport. Maybe that can be fixed in react use gesture directly (ie canceling drag if this happens). I’ve created another sandbox in the meantime that is closer to emulate scrolling. It’s not perfect but let me know if some of the bugs disappear.

hey about the inertia thing: https://codesandbox.io/s/inertia-fake-scr

[2019-12-21 18:50] Krispy3000 commented on #111
@dbismut Thanks, I'm not getting stuck on the bounds anymore (even when I try to force it). I'd say the biggest issue for me right now has to do with inertia and expectations. What I expect to happen is that each swipe builds up inertia (to a reasonable limit) and only a click stops the movement and makes its drag immediate. For example, Flickity works exactly as expected and has an excellent user

[2019-12-21 19:55] dbismut commented on #111
That’s ok no worries. It might be on topic if the bug is on the React use gesture side.

However I’ve just reported a bug on React-spring latest canary which I think has to do with what you’re experiencing:

https://github.com/react-spring/react-spring/issues/887

[2019-12-24 17:07] #115 closed

[2019-12-24 17:08] #117 closed

[2019-12-25 03:11] geofflittle opened #122 "The readme demo doesn't work w/ latest revs"
The demo in the readme doesn't work with current latest library revisions.

See this fork: https://codesandbox.io/s/react-use-gesture-simple-9tlw8

Using `react-spring` library revisions

[code]

[2019-12-25 08:42] dbismut commented on #122
Hi @geofflittle not sure I understand. Demos now use react-use-gesture 7.x and react-spring 9.x (canary build). The sandbox you link is using react-spring v8 and v8 doesn't support shorthand style attributes x / y / scale. You will need to do something like:

[code]

Closing this but feel free to expand if this isn't clear.

[2019-12-25 08:42] #122 closed

[2019-12-25 16:36] geofflittle commented on #122
Hi @dbismut,

Thanks for taking the time.  I'm new to react-spring (and to react and node in general) so when I want to integrate `react-spring` and `react-use-spring` into my project I do

[code]

Currently this command installs versions `8.0.27` and `6.0.14`, respectively.

Then to get started I copy the source from the demo into my project and run it only to find that it doesn't work.

I now un

[2019-12-25 18:17] dbismut commented on #122
Hi @geofflittle, thanks for pointing this out. I will amend the Readme later to be more explicit about the versions use. I’ll give the beta a few more days and will release a stable v7 of react use gesture.

Anyway, to be able to use react use gesture and react spring so that the examples work you should install the packages like so:

[code]

The reason why I use react spring v9 instead of v8 in e

[2019-12-27 22:42] geofflittle opened #124 "Updating a spring's position from a source other than a gesture"
Hello,

I have two sources that update a spring's position, the first being the traditional case, via a gesture, and the second triggered via window resize.  When the resize takes place, I calculate the percent width and height of the spring using the window's previous size, then apply this to the window's current size.

This works when performing a resize--the spring / element moves across the sc

[2019-12-27 23:05] geofflittle commented on #124
I think I figured out a work-around.  I can use the `values` state provided in the `useDrag` callback.  This is not perfect since when I click the spring / element, it moves under the drag so that its anchor (top left of the div) is directly under the mouse, but this slight movement is better than the seemingly random movements I was seeing before.

[2019-12-28 00:16] dbismut commented on #124
Hi @geofflittle, here's your sandbox amended:
https://codesandbox.io/s/holy-cache-nl640

In `<7.0.0`, this was typically a use case for `memo`, but now `7.x` brings `initial` which allows you to set the initial offset for `movement`.

[Read the docs!](https://use-gesture.netlify.com/docs/options#initial)

[2019-12-28 00:16] #124 closed

[2020-01-02 10:19] nnnoel opened #125 "useSprings DraggableList demo breaks with react-use-gesture v6+"
[CodeSandbox](https://codesandbox.io/embed/r5qmj8m6lq) from the react-spring docs.

After toying around with the latest sandbox dependencies, I noticed that the DraggableList demo doesn't work anymore after the release of `react-use-gesture` v6.

[2020-01-02 10:22] nnnoel commented on #125
But after stumbling across the demo from use-react-gesture, it appears to work with v7. https://codesandbox.io/s/fh8r8

[2020-01-02 10:22] #125 closed

[2020-01-02 10:31] dbismut commented on #125
@nnnoel yes we absolutely do need to have the same sandboxes in the react-spring ecosystem, I understand this is confusion-prone!

[2020-01-03 15:11] zvictor opened #126 "elapsedTime of tap events"
In my application I would like to take some action in case the user performs a quick tap - _a touchStart/mouseDown followed by touchEnd/mouseUp in less than 300ms_.

I took a look at

[code]

and it works as I expected when the gesture contains a movement, which means that, as long as the user moves the pointer during the tap, `elapsedTime` will be higher than zero when `last === true`.

However,

[2020-01-03 15:48] dbismut commented on #126
Hey, @zvictor have you tried the [delay](https://use-gesture.netlify.com/docs/options#delay-drag-only) option?

`filterTaps / tap` is designed to detect taps based on gesture displacement, not on duration (note that this is consistent with how browsers detect clicks / taps).

`delay` won't trigger the gesture until the delay is reached or the mouse is moved.

`elapsedTime` measures the elapsed tim

[2020-01-03 16:17] zvictor commented on #126
`delay` is unfortunately not an option because I have multiple actions happening inside the gesture handler (think on Instagram's stories, where you can hold to pause, tap to skip to next or swipe to jump the whole block).

`delay` would remove my ability to handle movements that are based on `first`.

---

I think I understand your point of keeping `elapsedTime` restricted to gesture movements fr

[2020-01-03 18:14] dbismut commented on #126
No that’s ok, I’ll make the change and release it shortly!

[2020-01-04 14:04] zvictor commented on #126
I just tested with `7.0.0-beta.8` and it worked fine. Thank you so much! 🎉

[2020-01-04 14:04] #126 closed

[2020-01-04 14:42] zcaalock opened #128 "left mouse click doesn't drag"
any idea why right click drag works and left doesn't?

![drag](https://user-images.githubusercontent.com/24411061/71767103-b15b0e80-2f08-11ea-9ffb-5d6f7e448eac.gif)

[2020-01-04 15:28] dbismut commented on #126
Hey @zvictor i published the version too fast (I though I unpublished it though!). I’ve made some other adjustments and there were some side effects. I’ll let you know once beta 9 is out.

[2020-01-04 15:28] dbismut commented on #128
Can you please link to the sandbox + OS and browser version?

[2020-01-04 15:47] zcaalock commented on #128
https://codesandbox.io/s/viewpager-xcg52

[2020-01-04 16:35] #128 closed

[2020-01-04 19:48] zcaalock opened #129 "initial value"
is there way to set initial value of which photo will be visible at start (fe. third one)?

i want to store id of current photo and when coming back to the gallery be able to see this photo on top

https://codesandbox.io/s/viewpager-xcg52

[2020-01-04 21:24] dbismut commented on #126
@zvictor `beta.9` should fix it correctly. I was trying to switch to pointer events by default thinking it would be a good idea but it's actually really complex. I'll work on this separately.

Let me know if you encounter any issues!

[2020-01-04 21:31] dbismut commented on #129
@zcaalock I'm not sure how this is related to how the lib functions, it's really something you should ask on Spectrum. In your situation, you should look at setting the initial spring with the value allowing the photo you want to be shown to be at the correct position.

[code]

[2020-01-04 21:31] #129 closed

[2020-01-05 11:37] zcaalock commented on #129
thanks, this works exactly as i want

[2020-01-05 11:38] zcaalock commented on #129
here is the resolve

`const index = useRef(counter)
  const [props, set] = useSprings(pages.length, i => ({
    x: (i - index.current) * window.innerWidth,
    scale: 1,
    display: 'box',
    opacity: 1,
    userSelect: 'none'
  }))`

[2020-01-05 11:56] dbismut commented on #129
Glad you figured it out. Once more though, display and userSelect shouldn’t be in your spring logic unless you actually change them. Just pass them as regular style attributes in the style prop of your component.

[2020-01-08 02:01] fandy opened #130 "Docs only reflect beta"
This was very confusing to me when I was using the `axis` config, which was not available in the stable release. TypeScript was complaining and I kept checking I did something wrong. 😕

[2020-01-08 04:19] fandy opened #131 "Dragging sometimes lags behind"
I'm not sure why this is happening, but sometimes there is a delay between the mouse drag and the element moving. An example of this can be seen in the docs:

https://use-gesture.netlify.com/docs/options#lockdirection-xy-gestures-only lags behind
https://use-gesture.netlify.com/docs/options#axis-xy-gestures-only no lag

The implementation seems very similar. What could be the cause of the poor per

[2020-01-08 09:04] dbismut commented on #130
Fixed in the new readme.

[2020-01-08 09:04] #130 closed

[2020-01-08 09:22] dbismut commented on #131
Thanks for pointing that out. The code in the docs doesn't reflect the actual example shown above so I understand the confusion.

It's not related to react-use-gesture, but rather to react-spring that handles the animation based on the movement. Let me explain.

Let's take the direction lock example, which I'll comment line by line:

[code]

So as you can see, what you're calling _lag_ happens whe

[2020-01-08 09:22] #131 closed

[2020-01-08 12:23] fandy commented on #130
Thanks @dbismut for being responsive! 🎉

[2020-01-08 12:28] fandy commented on #131
Excellent explanation!

[2020-01-08 14:04] Spy-Seth opened #132 "Drag and inertia"
Hi!

First I want to congrats you guys for this wonderful library!

I'm implementing a drag interaction that require to continue after that the user end the drag: aka inertia. After looking the documentation it seems the library manage already the velocity but did not allow to continue the mouvement after the user release the draggable element.

Did you have any plan to implement something to hand

[2020-01-08 14:54] dbismut commented on #132
Hi @Spy-Seth thanks for the kind words.
I think it should rather be part of react-spring rather than react-use-gesture. I made a sandbox a few weeks ago trying to replicate inertia. You can find it right there:

https://codesandbox.io/s/inertia-fake-scroll-wjz5s

It also supports wheel, but it's not perfect on that aspect. Let me know if this helps!

[2020-01-10 10:32] Spy-Seth commented on #132
Ho I didn't know the `useGesture` callback could be trigger after that the movement end. And I'm not sure to understand yet why it get trigger again 😅

This example is perfect thanks! 😄

The inertia concept is really link to user movement and it could be also natural to have helper to manage it in this package

[2020-01-10 10:45] dbismut commented on #132
Not sure what you mean there sorry, can you elaborate?

Valid point, but again, react-use-gesture only gives you the initial velocity and direction of the movement. What you do with it, how you animate your component depending on these two variables is up to the user and the animation library. React-use-gesture will never animate anything: it only gives you data about events.

[2020-01-10 10:45] #132 closed

[2020-01-13 15:09] kivervinicius commented on #111
Swipe not works in last beta, demo is broken

[2020-01-13 15:39] dbismut commented on #111
@kivervinicius seems to work fine on my iPhone can you please expand and specify OS / browser / hardware your using?

[2020-01-13 18:57] kivervinicius commented on #111
Sorry, @dbismut i maked confused here, but demo have a problem on `console` should be `console.log`

[2020-01-14 13:24] dbismut commented on #111
@kivervinicius I'm not sure I know which demo you're referring to then.

[2020-01-14 14:32] kivervinicius commented on #111
@dbismut https://codesandbox.io/s/react-use-gesture-v7-oft72
![image](https://user-images.githubusercontent.com/4115328/72352680-178a2300-36b9-11ea-8372-ed03e3705f07.png)

[2020-01-16 14:44] impulse commented on #111
First of all thanks for this great new version, I really loved the `bounds` and `rubberband` utilities so I tried making a gallery slider (similar to Instagram) out of it. There is one thing which I would like to see in the documentation because I ran into this while using `axis` / `lockDirection`. Having the animated div wrapped in another container (for example a relative div that contained the

[2020-01-16 15:37] dbismut commented on #111
Hey @impulse thanks for the feedback, glad you like it! There’s a `touch-action` section in the docs, did you have a look at it?

Maybe I should point to it in sections dedicated to `axis` and `lockDirection`, is that what you hinted towards?

[2020-01-16 16:06] impulse commented on #111
@dbismut oh perfect, wouldn't really have noticed it without your mention. Linking it at `axis` / `lockDirection` or splitting the `Useful extras` page into multiple with more descriptive names should fix that.

[2020-01-16 16:17] dbismut commented on #111
Yeah I might as well do that. Actually touch-action is useful whenever dragging something in a scrolling component!

[2020-01-16 19:01] impulse commented on #111
I don't know the exact reason why, but touch-action seems to be worse on iOS than Android. Been researching how Instagram does this and they basically have a container with overflow-hidden and `touch-action: pan-y` and some JS to prevent vertical scrolling when swiping through images. The threshold seems to be way lower when starting to drag diagonally on iOS though (doesn't matter which browser).

[2020-01-16 20:19] dbismut commented on #111
Hm can you send me a sandbox so I can test? I know that `touch-action` isn’t perfect on my iPhone but unfortunately I’m not sure there’s a possible alternative. You might have a try at `body-scroll-lock` but I don’t think you can prevent scroll after touchStart...

[2020-01-26 17:38] dbismut commented on #111
v7.0.0 is now out!

[2020-01-26 17:38] #111 closed

[2020-01-30 20:13] ericaolliges opened #135 "useHover is not a function"
I can't find mention of this on the site, but on upgrading to v7.0.0 useHover seems to have been removed and is now returning an Object(...) is not a function error. Is there any relevant changelog for this?

[2020-01-30 20:32] ClayCooperLA commented on #135
I came here to ask about this as well. I was playing with this example here: [https://codesandbox.io/s/react-three-fiber-gestures-v8nlo](https://codesandbox.io/s/react-three-fiber-gestures-v8nlo)
I noticed that if I upgrade `react-use-gesture` to `v7.0.0` there is a `useHover is not a function error`. So I removed the `useHover` stuff and now I see the gesture is not binding to the mesh at all 😢.

[2020-01-30 20:40] ericaolliges commented on #135
From what I can tell this still works in the useGesture block, so I had to rewrite it like this:
`useGesture({
    onHover: () => {/* do stuff */}
 });`

[2020-01-30 21:15] dbismut commented on #135
Damn if that’s true I’m so so sorry guys. The tests only test useGesture, not specific hooks. I’ll fix this ASAP. Sorry for this again.

[2020-01-31 10:02] dbismut commented on #135
Hi @ericaolliges @ClayCooperLA this should be now fixed in `7.0.1`. Hopefully this works out for you! Sorry again about this 🤦‍♂️

[2020-01-31 18:15] ClayCooperLA commented on #135
@dbismut thank you so much for your quick response! I don't want to jump to conclusions, perhaps I am implementing incorrectly. However, I am not experiencing any difference with `v7.0.1`. I am unable to get any values when using `{...bind()}` on a `<a.mesh />` object. The example sandbox has the same issue. 🙇

[2020-01-31 18:20] dbismut commented on #135
Hey @ClayCooperLA I’m on my phone atm but I’ve looked at the sandbox code. The API has slightly changed with v7 and to activate pointers you actually need to pass `{ eventOptions: { pointer: true } }` instead of `{ pointerEvents: true }`. Hope this helps!

[2020-01-31 18:29] ClayCooperLA commented on #135
@dbismut That was it! You're a legend. Thank you!

[2020-01-31 18:57] #135 closed

[2020-02-07 06:22] a-shrub opened #136 "Touch not working on Firefox/Chrome for Windows 8 tablet"
Touch gestures don't work on anything past 7.0.0-beta.7 on Windows 8 tablet for latest Firefox and Chrome. Version 7.0.0-beta.8 will run briefly and die with an InvalidPointerId (tested by incriminating dependencies on https://codesandbox.io/s/react-use-gesture-simple-i5e0j until it broke).

[2020-02-07 07:23] dbismut commented on #136
Hey @a-shrub thanks for raising the issue and taking the time to check which version breaks. It’s going to be very hard for me to debug since I’m not equipped with this hardware so can you please let me know if there’s any specific log in the console?

Also are these tablets with both touch and mouse inputs?

[2020-02-07 10:57] dbismut commented on #136
Hey @a-shrub I've released `7.0.4` that adds `touch` and `mouse` listeners. I had removed it at one point because it seems like iOS 13.1 beta would respond to both touch and mouse listeners, resulting in events being firing twice (therefore harming performance). It looks like it was a beta bug that they fixed for the final release as I tested now and it looks like everything works fine.

Let me kn

[2020-02-08 02:23] a-shrub commented on #136
Thanks for the speedy work, it does seem to be working now with 7.0.4.

[2020-02-08 02:23] #136 closed

[2020-02-14 21:01] ben-styling opened #137 "Is it possible to use drag inside of an iframe?"
I'd like to be able to use drag inside of an iframe. I don't need to drag in or out of it, just inside is fine.

It looks like it knows when it's been clicked, but doesn't know the mouse is moving afterwards.

Here's an example: https://codesandbox.io/s/use-gesture-inside-of-iframe-q8s6e

[2020-02-14 21:05] dbismut commented on #137
Im not in front of a computer but I understand why this might fail. Try using the pointer or window option see this https://github.com/react-spring/react-use-gesture/pull/48

[2020-02-15 10:27] ben-styling commented on #137
Sorry, I must have missed that option!

Supplying the window option works perfectly. Thank you!

Updated sandbox for reference: https://codesandbox.io/s/use-gesture-inside-of-iframe-1qowo

[2020-02-15 10:27] #137 closed

[2020-02-17 09:22] impulse opened #138 "Make useDrag / onDrag compatible with Microsoft Surface"
Seems not to be working on Surface devices (tested on Surface Pro 6 and Surface Studio 2). Events only seem to fire when using onTouchMove.

[2020-02-17 10:12] dbismut commented on #138
Hi @impulse thanks for reporting the issue.

Can you please make sure you're using the latest version (some of the sandbox examples might not be updated)? This seems to be related to #136 (unfortunately I can hardly test this on my side).

Can you please check if passing the following option : `{ events: { pointer: true } }` changes anything?

[2020-02-17 10:34] impulse commented on #138
Oh nice, I was still on `7.0.2` but `7.0.4` fixes the issue (passing the option is not needed).

By the way I did not forget about this https://github.com/react-spring/react-use-gesture/issues/111#issuecomment-575328821, just didn't have the time for it yet (hopefully this week).

Thanks!

[2020-02-17 10:34] #138 closed

[2020-02-17 10:36] dbismut commented on #138
😅 sure let me know when you can, no pressure!

[2020-02-19 19:34] cesarvarela opened #139 "Programatically set x position without breaking bounds"
I've been looking at this https://github.com/react-spring/react-use-gesture/issues/54, but also need the bounds prop and the rubber band to work, is it possible?

[2020-02-19 19:50] dbismut commented on #139
Hi @cesarvarela, please make a sandbox with your best attempt and I’ll take it from there.

[2020-02-19 20:25] cesarvarela commented on #139
Hi, here it is, the bounds functionally is mostly broken when doing the temp thing:

https://codesandbox.io/s/zen-leaf-jybic

thanks in advance!

[2020-02-19 20:59] dbismut commented on #139
Several things:

- you’re linking to an old sandbox which uses react-use-gesture v5. Since then, `movement` has replaced `delta` (which is now the delta between two consecutive events). `temp` has also been relabeled `memo`.
- you’re not using the `bounds` or `rubberband` options in your sandbox
- the `initial` option is what you’re looking at if you need to alter the circle position outside the g

[2020-02-19 21:06] cesarvarela commented on #139
I've forked from an old sandbox but updated the dependencies

![image](https://user-images.githubusercontent.com/1172479/74876374-53f91080-5342-11ea-807a-7ea50fc1af98.png)

Also the bound option is there, maybe it showed you an old version?

[2020-02-19 21:28] dbismut commented on #139
That’s possible I can see it now. Try removing the temp thing, use movement instead of delta, and add the initial option as explained in the docs. I’m on my phone so I can’t really help!

[2020-02-20 15:12] cesarvarela commented on #139
Thanks! got it working https://codesandbox.io/s/zen-leaf-jybic

I saw the other issue about inertia, but is a bit involved, it would be nice to have an easier way.

[2020-02-20 15:12] #139 closed

[2020-02-20 15:31] dbismut commented on #139
Great! Yeah inertia would be great. V9 has a lot on its plate atm so I’m not sure how easy it is to add an inertia at this point of time.

[2020-03-06 05:35] dotlouis commented on #101
Just adding my two cents for anyone looking for a solution.

`touch-action` changes won't be taken into account if the `drag`/`touchmove` gesture has already started. [See the yellow box in the doc](https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action)

It's probably why @adamhaeger could not use it. It seems you wanted to change your element's `touch-action` to `none` when the user had t

[2020-03-06 07:19] dbismut commented on #101
Hey @dotlouis indeed. In regards to your hook, I think this is pretty much what body-scroll-lock does if I’m not mistaken!

[2020-03-07 22:51] arelaxend opened #140 "Set axis = 'x' results in Cannot read property 'map' of undefined for useWheel"
Dear contributors,

**Version**
7.0.4

**Steps to reproduce**
Set option axis = 'x' and use "useWheel"

it throws the following exception:
[code]

**What is the expected result**
It should scroll in the x direction

Best, A.

[2020-03-08 10:33] dbismut commented on #140
Hi @arelaxend thanks for reporting the issue, more complex than I thought to debug but should be fixed in `7.0.5`. Let me know how it goes :)

[2020-03-09 16:17] #140 closed

[2020-03-10 19:03] pennjlin opened #141 "load dynamic data with useGesture?"
Hi there, I'm new to React hooks and am trying to use `react-springs` in conjunction with `react-use-gesture` to render some swipe animations on a deck of cards. However I noticed all the examples online are using hardcoded data. If I wanted to fetch data asynchronously, I'd be prompted an error when calling `useSprings` and `useGesture` in `useEffect()` because (custom) hooks cannot be called in

[2020-03-10 19:37] dbismut commented on #141
You shouldn’t need to reload useGesture. Please note that you’re probably using an old version of react-use-gesture based on what I understand form your code.

[2020-03-10 19:37] #141 closed

[2020-03-10 23:34] georgeawwad commented on #71
Hi with the latest release I'm not able to get swipe gestures working within onDrag, but touchpad swipe gestures work with onWheel. Is this intentional? The above examples don't work for me.

[2020-03-11 00:25] pennjlin commented on #141
How should I be approaching the dynamic reload then? You're correct that I was using `react-with-gesture` previously. Now that I updated it to latest `react-use-gesture`, the same issue persists. What'd be the correct way to support async/await data fetching with `react-springs`?

[2020-03-11 03:55] jaxball commented on #141
@dbismut

[2020-03-11 04:01] pennjlin opened #142 "Fetch data asynchronously in function component with useGesture"
@dbismut How should I handle dynamically loaded data with `useSprings()` + `useGesture()`? I was using `react-with-gesture` previously, but even after I updated it to latest `react-use-gesture`, the same issue persists. What'd be the correct way to support async/await data fetching with `react-springs`?

_Originally posted by @pennjlin in https://github.com/react-spring/react-use-gesture/issues/14

[2020-03-11 06:14] dbismut commented on #142
Duplicate of #141

[2020-03-11 06:14] #142 closed

[2020-03-11 06:16] dbismut commented on #141
Are you able to package a codesandbox example so that I can have a look? There’s no reason why you should need to « reload » useGesture.

[2020-03-11 06:23] pennjlin commented on #141
Thanks @dbismut! This is resolved. some earlier examples of card swipe that imported `react-with-gesture` called `useGesture()` the way you would with `useDrag()` in `react-use-gesture`. Perhaps it'd be helpful for the maintainers to put a comment in the API dos that the deprecated `useGesture` took incompatible arguments.

[2020-03-11 06:51] dbismut commented on #141
I’ll consider this.

[2020-03-11 07:49] moonketo opened #143 "How can I execute useDrag after calculating the height of elements?"
my goal is to reflect the height of the elements in the bounds value of the config. (after first rendering)
the elements can be asynchronous or static files.

[2020-03-11 08:56] dbismut commented on #143
Hey. I'm usually very open to helping people but please make the minimum effort of properly explaining your problem, attempts, sending a codesandbox link so I can understand what you mean. I'm closing as this is a question, and I'm not even sure if your question is _how do I measure the bounds of an element?_ (unrelated to this package) or _how do I pass the calculated bounds to `useDrag`?_, in wh

[2020-03-11 08:56] #143 closed

[2020-03-15 04:46] ilbrigz opened #146 "event.stopPropagation() warning."
Hi! I want the event to not propagate on a container div. So this is what I did.

[code]

But I am getting this warning:
This synthetic event is reused for performance reasons. If you're seeing this, you're accessing the method `stopPropagation` on a released/nullified synthetic event. This is a no-op function. If you must keep the original synthetic event around, use event.persist()

What could b

[2020-03-15 09:50] dbismut commented on #146
This is not specific to this lib, but rather to how React handles events. You need to use the `domTarget` option as explained in the docs FAQ. https://use-gesture.netlify.com/docs/faq#why-am-i-getting-warnings-from-preventdefault-after-i-pass-passivefalse

[2020-03-15 09:51] #146 closed

[2020-03-25 01:04] jmadelaine opened #147 "Outdated and broken spring useGesture examples in React Spring docs"
So I've spent my entire morning trying to replicate [this re-orderable list example](https://codesandbox.io/embed/r5qmj8m6lq) which is featured directly on the [React spring site](https://www.react-spring.io/docs/hooks/examples).

I tried several times to get it working but my list items just weren't dragging more than one or two pixels - and kept resetting their position.

After working on this f

[2020-03-25 06:38] dbismut commented on #147
@aleclarson @drcmda 🤷‍♂️

[2020-03-28 02:21] tommedema commented on #80
@dbismut I have version 7.0.5 and this property is not available, also it says `pinching: false` even though I am definitely pinching (on an iPhone XS Max in Safari)

also how do you know if it is a zoom-in pinch or a zoom-out pinch?

<img width="1232" alt="Screen Shot 2020-03-27 at 7 20 10 PM" src="https://user-images.githubusercontent.com/331833/77812680-251c3b80-7060-11ea-9465-c473bf4afec8.png"

[2020-03-28 02:58] tommedema opened #148 "`onPinchEnd` fired twice when pinching out"
Expected behavior: when I pinch out and release, `onPinchEnd` is fired once

Actual behavior: when I pinch out and release, `onPinchEnd` is fired twice:

<img width="362" alt="Screen Shot 2020-03-27 at 7 54 45 PM" src="https://user-images.githubusercontent.com/331833/77813304-d3c27b00-7064-11ea-8808-fbe8f0c477fc.png">

My code:

[code]

And in my render function:

[code]

react-use-gesture version

[2020-03-28 07:47] dbismut commented on #148
Hi @tommedema thanks for reporting the issue. Would it be possible to set up a sandbox?

[2020-03-28 08:05] dbismut commented on #80
@tommedema the capture shows that the gesture is no longer active so this is not surprising that pinching is false. Zoom in means that the movement displacement between your fingers has increased. So `movement[0]` which measures the distance delta of the whole gesture should be positive. Zoom out is `movement[0]` being negative.

[2020-03-29 02:42] tommedema commented on #148
@dbismut I've been trying to do so the whole evening... but cannot even get it to log on pinch.

This is where I am now:
https://codesandbox.io/s/elegant-perlman-cdyhi

Open the result page in a new window, enable dev tools and mobile device mode, then use command/ctrl + shift to emulate a pinch event, or open the url on your mobile phone and try to pinch. It's not giving an alert or log statement

[2020-03-29 02:59] tommedema commented on #148
@dbismut until we can get the sandbox to work I've created a video of my codebase and a demonstration of the issue here: https://app.usebubbles.com/02d6b5ec-8946-48ab-98c9-56a5b7e7bd42

as you can see it is worse than it just firing a second time, it actually fires every time you do a pointer down or click, after one pinch gesture has been made

[2020-03-29 07:38] dbismut commented on #148
Thanks for detailing the issue. Well actually I could have spotted the error from the code in you first message, I missed it sorry.

The problem is that you’re not using the library correctly using refs. When you use a ref, you shouldn’t spread the bind object onto a component, but rather:

[code]

This is detailed in the docs. I’m not sure why you need to use a ref in your case.

Also, at this po

[2020-03-29 07:46] tommedema commented on #148
@dbismut I thought that was it too earlier today but already changed the code and the behavior is exactly the same:

[code]

I tripple checked and made sure that the original binding was removed from the element and the behavior has not changed. For every click after the first pinchEnd, it keeps re-firing.

[2020-03-29 08:46] dbismut commented on #148
Tom, can you please update your sandbox then? I've made the test with Chrome on MacOS and everything seems to work normally.

https://9r49j.csb.app/
https://codesandbox.io/s/nifty-http-9r49j

[2020-03-29 15:48] tommedema commented on #148
@dbismut you've done it for me :) your codesandbox has the bug, I made a video of it:

https://app.usebubbles.com/d5c3a0df-ad3f-4cd2-9780-b4c553d050ac

[2020-03-29 17:11] tommedema commented on #148
@dbismut here's real life proof on how this is bugged on Android Chrome:

Video: https://drive.google.com/file/d/166_Je_o3AU5rady_V8pbnSZZPpblb6nI/view?usp=sharing

Sandbox: https://codesandbox.io/s/elegant-perlman-cdyhi

Device: whatsmybrowser.org/b/6XIM2

[2020-03-29 17:46] dbismut commented on #148
Hahaha, thanks so much for the details captured, I didn't know about use bubbles, looks like something I will use professionally!

I've just released `7.0.6`, can you let me know if this fixes it for you?

[2020-03-29 17:52] dbismut commented on #148
Btw, doesn't seem like Chrome emulating two fingers touch works for me though!

[2020-03-29 18:08] tommedema commented on #148
@dbismut beautiful, glad we got this resolved quickly. Also appreciate that you added a unit test.

Glad to see Bubbles being useful to you. Feel free to send any feedback you may have to tom@usebubbles.com.

Re Chrome emulating pinch / two fingers touch: it should work, make sure you hold shift or command or ctrl while scrolling (depends on your operating system I believe).

[2020-03-29 18:47] dbismut commented on #148
Wow didn't know you were the author, congratulations. Per Chrome emulation: oh ok, you're talking about control + wheel, which is a way to emulating zooming with a pointer (ie not pinching since there's no angle). This works out of the box, no need to enter responsive mode :)

[2020-03-29 18:48] #148 closed

[2020-03-31 11:04] SidKH commented on #66
For anyone looking to implement `dragDelay` option from this thread, it has been renamed in release `7.0.0`

https://github.com/react-spring/react-use-gesture/blob/fa6dd05957c34450533445224a42fdc89852be68/CHANGELOG.md#breaking-changes

[2020-04-01 19:53] jmadelaine commented on #147
I apologise for demanding that the examples need to be updated - I was very frustrated after being stuck on the same problem for hours.

I've created an [updated CodeSandbox](https://codesandbox.io/s/laughing-shtern-zc9rz) for the example I posted above, that uses react-use-gesture v7.0.6 and `useDrag` instead of `useGesture`.

Would it be possible to update the example featured on the react-sprin

[2020-04-01 20:39] dbismut commented on #147
Well, the examples are already updated on this repo. Take a look at the Readme page.

[2020-04-01 20:39] #147 closed

[2020-04-02 08:56] elitenoire opened #149 "Tap Registered Twice on Touch when setting state inside handler"
I have a button in a draggable Card div which I was able to prevent tapping/clicking on the Card div when the button is clicked by stopping propagation on `onMouseDown` & `onTouchStart` Events.

This draggable Card div can also be opened when it is tapped/clicked. I used the `filterTaps` and `tap` to achieve that.

**Problem:**
When you touch-tap on the Card div, it opens twice. I used console log

[2020-04-02 09:15] dbismut commented on #149
Indeed you're right, thanks for reporting this. I thought I had fixed this but it doesn't look like it. This is because touch devices seem to react to mouseup and mousedown events. I'll see what I can do to filter this out.

[2020-04-02 10:04] dbismut commented on #149
Hey @elitenoire try `7.0.7` that I just released and let me know if this works. I really hope this doesn't have too much collateral!

[2020-04-02 10:21] dbismut commented on #149
This time it should work @elitenoire

[2020-04-02 10:36] dbismut commented on #136
Hey @a-shrub I've just released `7.0.8` that aims at filtering double events on simple touch screens, but I'm afraid this could have an impact on your issue. Do you still have a tablet where you could test the latest version?

[2020-04-02 15:01] elitenoire commented on #149
Thank you for the fix.
It works now.

[2020-04-03 01:15] shrugs commented on #149
Hi! I've encountered the same issue, but i'm running `7.0.8`.

here's a pretty minimal codesandbox: https://codesandbox.io/s/focused-chebyshev-bum24 using the `domTarget` approach, and here's one https://codesandbox.io/s/keen-jang-fdeew using `bind`.

the duplicate tap (with ~2ms `elapsedTime` occurs on my physical iphone 11 pro max in both cases.

[2020-04-03 07:37] dbismut commented on #149
Damn I can reproduce this. I'll work on a fix. Not easy if I still want this lib to support multiple pointer inputs such as Surface tablets.

[2020-04-03 08:46] dbismut commented on #149
@shrugs @elitenoire I've released `7.0.9`, which should fix the problem on all devices. It's an ugly fix, but this comes from touch devices emulating mouse up and down events on clicks. Essentially the logic is:

1. Check if the event is mouse-based
2. If yes, checks if the previous gesture was touch-based
3. If yes, compare start time of the previous gesture and time stamp of the event
4. If the

[2020-04-03 14:24] shrugs commented on #149
confirmed working in my app! much thanks for the fix, and i respect your responsiveness 🙏

fixed in fab7075447161a5562285dc1f84b733e39434c63

[2020-04-04 14:06] Geeman201 opened #151 "Question: Dragging whilst scrolling"
Hey,

Thanks for open sourcing this library!

I have a question probably best explained with an image.

![scrolling-question](https://user-images.githubusercontent.com/1285296/78452243-19450080-7682-11ea-958e-d95adef740d1.png)

* I have a container with height greater than that of the window. It is scrollable.
* Within that container elements are elements absolutely positioned at a given distance

[2020-04-04 16:13] dbismut commented on #151
Hey, I'm not sure I understand what's wrong with your sandbox. There's no reason why the window would scroll (unless you want to address a mobile-specific problem).

Btw `y` is not relative to the window nor the container, it is relative to the origin of the gesture.

[2020-04-04 18:21] Geeman201 commented on #151
Thanks for the prompt reply.. I think this may be my misunderstanding..

In this gif I was expecting `y` to include the distance that was scrolled.

![example](https://user-images.githubusercontent.com/1285296/78458384-bca90c00-76a8-11ea-8d06-6c2d2bea92d8.gif)

[2020-04-04 18:59] dbismut commented on #151
Ok what you’re experimenting here is user selection. This shouldn’t happen like this outside of codesandbox preview window but it might be something you’d want to avoid anyway.

Have a look at this sandbox and let me know if it helps.

https://codesandbox.io/s/epic-feistel-z93vm

[2020-04-05 08:50] matis-dk opened #152 "usePinch: The first gesture state's 'origin' property on iOS is undefined"
When using usePinch, it seems like the `origin` property of the first gesture state on iOS is `undefined`. However, in chrome on desktop it works fine.

Link to code example:
https://codesandbox.io/s/competent-wright-bviyc

[2020-04-05 09:09] dbismut commented on #152
I’ll have a look. Note that origin is just the center of the gesture, it’s not very useful IMO. What would actually be interesting is getting the origin of the gesture relatively to the element so that you can use it for setting the value of transform-origin but that’s another story.

[2020-04-05 09:21] Geeman201 commented on #151
Ahh Perfect!

That makes sense - Thanks! Adding `user-select: none;` whilst draggins fixes my problem 👍

[2020-04-05 09:24] matis-dk commented on #152
Agree. Actually, you are describing my use case.

Currently, I'm calculating the origin relative to the element by adding the scrollTop offset from the scrollview. It seems to work fine.

Let me know, if I can help you in any way.

Btw, great piece of work - I enjoy working with this lib so much :clap:

[2020-04-05 09:25] #151 closed

[2020-04-05 10:12] dbismut commented on #152
Thanks! Well your issue actually drove me to fix a more serious issue (atm the lib was using webkit gesture events for Apple devices even when not using a ref in the `domTarget` option, which resulted in the lib passing incorrect handlers to React).

Anyway, the difficulty here is that I'd still want to use webkit gesture events when possible, which natively handle rotation angle and scaling and s

[2020-04-05 12:10] dbismut commented on #151
@Geeman201 just in case you're using the code in the sandbox I sent, there's actually a cleaner way to toggle classes using native javascript using `toggle` which accepts a `force` optional secondary argument:

[code]

[See the docs here](https://developer.mozilla.org/en-US/docs/Web/API/DOMTokenList/toggle).

[2020-04-07 01:45] mayteio opened #153 "Jest testing mousemove events, translate3d with @testing-library/react"
I'm creating a Material UI Bottom sheet that works like google maps when you tap on a pin and location information is revealed.

I am having trouble testing the mousedown/mousemove/mouseup events though. I have trawled through the [Drag.test.tsx](https://github.com/react-spring/react-use-gesture/blob/master/test/Drag.test.tsx) to try to understand how it is being tested officially but I just can't

[2020-04-07 01:53] mayteio opened #154 "Jest testing mousemove events, translate3d with @testing-library/react"
I'm creating a Material UI Bottom sheet that works like google maps when you tap on a pin and location information is revealed.

I am having trouble testing the mousedown/mousemove/mouseup events though. I have trawled through the [Drag.test.tsx](https://github.com/react-spring/react-use-gesture/blob/master/test/Drag.test.tsx) to try to understand how it is being tested officially but I just can't

[2020-04-07 01:53] #153 closed

[2020-04-07 01:53] mayteio commented on #153
Sorry - ignore this. accidentally posted the issue twice.

[2020-04-07 07:06] dbismut commented on #154
Hey @mayteio I'll try to have a look, although I have a ***load of work today.

I remember spending quite some time working on testing and it has been pretty nerve breaking to make it function correctly. Note that I'm using `test-library@9.x`, I'm having issue with v10 for a reason that I didn't have time to investigate.

Anyway will let you know, please report if you've made progress in the meant

[2020-04-07 07:13] dbismut commented on #154
Oh right, there's a big difference in the sense that I'm not actually transforming the element in my tests, I'm just passing the values in raw HTML. Also you're not waiting for the spring animation to end so that makes sense why you're getting no change in style.

[2020-04-07 07:17] mayteio commented on #154
Thanks @dbismut for the quick response! So you're saying, firstly downgrade to testing-library 9 and making it async. Would I just be waiting for the expect to come back as correct? i.e.

[code]
or is there a way I can know when the spring has finished?

[2020-04-07 07:30] dbismut commented on #154
Tbh I just tried running it myself during breakfast and failed to get it working, but yes that’s the general direction I guess.

No there’s no way to know when the spring has finished from the testing library. The testing library will poll at 50ms for 1000ms (if I remember the docs correctly) until it sees the right value at one point. That’s good enough but you need to be careful with long animat

[2020-04-07 16:00] Noor0 opened #155 "useDrag's down property is always false in tests"
I am using `useDrag` to move a component and execute a function if it's dragged by a certain amount but in my tests when I fire `mousedown`, `mousemove` and 'mouseup' the down property is always false.

I'm using `jest` and `react-testing-library`, i know jest uses jsdom and that it doesn't have layout but shouldn't the down property be true on firing a mousedown event?

[2020-04-07 18:37] dbismut commented on #155
Can you paste the snippet of your test? down is set to true if the buttons property is set to 1. Have a look at this lib test files.

[2020-04-07 20:10] Noor0 commented on #155
oh, my bad, i was just using `fireEvent.mouseDown`, guess i'll have to look deeper into the events interface. Thanks for helping.

[2020-04-07 20:15] dbismut commented on #155
No worries. It’s just a matter of passing `{ buttons: 1 }` to the `mouseDown` function. Hope it works out!

[2020-04-07 20:15] #155 closed

[2020-04-09 12:05] mmmmmmmmn opened #156 "Once dragged outside window, the next drag is not working."
I have a problem when I am trying to use react-use-gesture in next.js app.
Once dragged outside window, the next drag is not working.

I guess onMouseUp event does not fire after dropping outside window.

For detail, could you see movie bellow.
![Kapture 2020-04-09 at 21 01 51](https://user-images.githubusercontent.com/51997429/78893008-6b808a00-7aa5-11ea-9d68-5f0305af3b80.gif)

The code is here.

[2020-04-09 21:33] durad opened #157 "Handlers in useGesture appear to have different TypeScript signatures"
Hi, and thanks for this amazing library!

Consider following code in TypeScript:
[code]

It compiles nicely and when I hover over `e` in VSCode it says that it is of type `FullGestureState<"drag">`.

However if I change `onDrag` to `onDragStart` like:
[code]

I get an error:
[code]

I know I can allow implicit any in tsconfig or set its type explicitly, but it would be nice if the type of the stat

[2020-04-09 21:39] #154 closed

[2020-04-09 22:03] dbismut commented on #157
You're absolutely right. This is now fixed in `7.0.12`. Thanks for reporting the issue. I'll let you close it if you will!

[2020-04-09 22:07] dbismut commented on #156
Hey, so this is a common situation, which I think has to do with `user-select` (the little planet next to your cursor indicates that the browser thinks you're trying to drag and drop something somewhere). To make sure this isn't happening, you may want to add `user-select: none` to your body when you start dragging like in the example below:

https://codesandbox.io/s/epic-feistel-z93vm

Hope it he

[2020-04-10 10:12] mmmmmmmmn commented on #156
It is a very good idea to add `user-select: none;` style only while dragging.

Your comment is very helpful.
Thank you for your comment!

[2020-04-10 10:12] #156 closed

[2020-04-11 03:53] ArgonAlex opened #158 "Error in typings"
<img width="678" alt="Screen Shot 2020-04-10 at 8 48 12 PM" src="https://user-images.githubusercontent.com/4553695/79034700-2c1d7080-7b6d-11ea-8be2-6b4857f4bd2c.png">

react-use-gesture 7.0.12
typescript 3.8.3
@types/react 16.9.34
@types/react-dom 16.9.6

[2020-04-11 06:54] dbismut commented on #158
Hey, I'm not getting that error, see below:
https://codesandbox.io/s/pedantic-water-5jlgv?file=/src/App.tsx

Is it possible that you set up a repo?

[2020-04-11 07:24] ArgonAlex commented on #158
If I add `"allowSyntheticDefaultImports": true,` to your tsconfig.json and open up types.d.ts I see the error.

[2020-04-11 07:43] ArgonAlex commented on #158
Checking out this repo and running type checking with `./node_modules/.bin/tsc --noEmit` also shows the error (among others because there are duplicate @types/react packages installed according to the yarn.lock file, but that's inconsequential).

[2020-04-11 08:17] dbismut commented on #158
Right I see that now. I've published `7.0.13`, hope it fixes it.
Btw, I'm no typescript expert, so if you want to have a look at the project feel free!

[2020-04-11 08:24] dbismut commented on #158
Btw, regarding the duplicate react packages being installed, I've tried to follow this [SO response](https://stackoverflow.com/questions/52399839/duplicate-identifier-librarymanagedattributes).

Looks like it worked, thanks for the help on all this!

[2020-04-13 06:03] durad commented on #157
Yup, it's working now! I'll close the issue. Thank you!

[2020-04-13 06:03] #157 closed

[2020-04-13 22:17] ArgonAlex commented on #158
Looks good. Thanks!

[2020-04-13 22:17] #158 closed

[2020-04-14 04:07] sanjanind opened #159 "Why doc and examples are in beta?"
It's quite confusing. In production we only use stable version and while tried the example by changing it to a stable version nothing works without error.

Why ??? If you have drastic change then keep examples and docs in both versions.

It's a big issue for the beginner. Can I get those examples in a stable version of both `react-spring` and  `react-use-gesture`

[2020-04-14 06:22] dbismut commented on #159
Hi for a start. I’m sorry that your experience hasn’t been great, but this is not an airline company, you don’t get to complain with that  tone.

Developing is a rewarding experience but is also frustrating at times and I understand why you might be upset. However that’s not a reason to pass along your mood to others.

So rephrase your question and I’ll see what I can do.

[2020-04-14 06:22] #159 closed

[2020-04-15 08:07] elitenoire commented on #149
I updated from `7.0.8` to `7.0.13` and the issue still persists, well from `7.0.9` upwards.

One thing to note that on tap, I'm calling set state which causes a rerendering and I get the false tap.

But without set state, it's working.

Codesandbox with edited code is [here](https://codesandbox.io/s/charming-cache-7lzx4)

Thank you.

[2020-04-15 09:09] dbismut commented on #149
@elitenoire hmmm... I see a different issue with dragging on desktop this time. Are you using the Chrome inspector or mobile device?

[2020-04-15 10:12] dbismut commented on #149
Ok so this is a better working version of your sandbox:
https://codesandbox.io/s/falling-fire-lthyw?file=/src/index.js

I do see the issue with setState, I'll investigate. Let me change the title of the issue.

[2020-04-15 11:12] dbismut commented on #149
I published `7.0.14` with a fix for this @elitenoire.

[2020-04-15 11:32] sanjanind commented on #159
@dbismut I'm working on the `6.0.10` version but while I referred the doc `https://use-gesture.netlify.com/docs/options` most of the things are not working.

It will be helpful if I have the API doc version of the latest stable release. Else it is useless to spend time on this beta document. Most of these use cases are not backward compatible.

I hope you understand the concern.

[2020-04-15 17:54] ecumene opened #162 "useHover doesn't fire when component is mounted"
The `useHover` hook is not fired when the component is first mounted, and a mouse is within the components bounds.

**CodeSandbox:** https://codesandbox.io/s/charming-forest-f1cjv

I know this might be a little bit of a challenge, and I'm happy to make a PR if required 😄

[2020-04-15 18:01] ecumene commented on #162
After skimming the codebase, it wouldn't be too hard to fix this by adding an option to the generic config (or by default) to enable `hovering` on `mouseover` events. Thoughts on this?

[2020-04-15 19:19] dbismut commented on #162
Hi! I hadn’t thought of this but you’re right, could be useful. You mean setting hovering on `mousemove` events right?

[2020-04-15 21:29] ecumene commented on #162
That's correct! I have a hack in my code currently, where `mousemove` sets hovering to true. But that doesn't fit the case where the mouse is on the element, but doesn't move at all...

The only thing I can think to go further is to perhaps use a ref to calculate if you're in those bounds, set hovering to true if you are, except asking users to bind a ref along with `{...bind()}` is a lot haha

So

[2020-04-15 22:17] dbismut commented on #162
It could be relatively simple to set `hovering: true` and trigger `onHover` when the mouse moves if the gesture wasn't active already, but it wouldn't solve the problem with the mouse not moving when the component mounts and it's fairly easy to do in user land.

At the end of the day this lib shouldn't try to hack the behavior of native handlers. `onMouseEnter` is only triggered when the mouse ent

[2020-04-16 00:01] joeshub commented on #159
While in my opinion documentation is probably one of the most important factors in adoption, I think the point @dbismut is making still stands here, in that the *mood passing* is not helpful in an open source setting, where developers are spending their free time to devote to building something for the entire community. I mean there’s always sending in a PR.

[2020-04-16 00:49] ecumene commented on #162
If you believe the definition of hovering should be only mouse enter / mouse leave events, by all means keep it how it is! My use case isn't everyone elses, for sure

However, hover could mean "this happens whenever the users cursor is over the element", which is confusing when it only really means "this happens when the users cursor *enters* / *leaves* the element". The docs do say it is enter an

[2020-04-16 06:41] dbismut commented on #162
You’re right, using _hover_ as the action is confusing. It’s a CSS selector and from that perspective it should behave like it.

Since there’s a `domTarget` option, nothing would prevent the lib to check for the hover selector on the ref if that option is used. I just need to see how hacky this might be.

I’ll reopen the issue so that I can keep track of it. Thanks for the suggestion!

[2020-04-16 06:53] dbismut commented on #159
@sanjanind

1. You’re complaining about not using the latest stable version for `react-use-gesture`. **Latest version is v7**. I don’t have time to maintain documentation for all versions of this lib.

2. True, I’m using v9@next of react-spring in the docs because it doesn’t clutter the code as much as v8 and I thought would let the user focus on this lib rather than react-spring.

3. I’ve explain

[2020-04-16 13:50] ecumene commented on #162
Thanks for considering again 😆

Why do you need to keep track of the `domTarget`?  In the codesandbox I showed how you can achieve very similar results by not only enabling the hover on `mouseenter` and `mouseleave` but also `mouseover`

Is there a benefit to reading the DOM like that? I feel like it's bad practice to rely on refs for this purpose because the `:hover` pseudoclass could be disabled

[2020-04-16 14:15] dbismut commented on #162
But unless I'm missing something, `hovering` doesn't become true in your sandbox? You need to exit the cursor and move it back in?

[2020-04-16 14:41] ecumene commented on #162
![image](https://user-images.githubusercontent.com/6249465/79469929-5b076c80-7fdb-11ea-80a5-2b12193e8ea3.png)
My bad, I used the wrong event. `mousemove` works

(In my defense, `moseover` worked a couple of times for me)

[2020-04-16 15:20] dbismut commented on #162
So `mousemove` will work but won't make it if the component mounts from under. In your case you might as well use `onMove` from `useGesture`.

`mouseover` is triggered every time the element **or a child element** is entered. So my guess is that you may have it triggered when you moved your mouse from the gray area to the text element or something like that.

I'm not sure about what to do next. Th

[2020-04-16 18:40] ecumene commented on #162
I don't think option 2 is overkill, I think it would be a nice adjustment for this case. Sure it might add some complexity underneath, but that's what libraries are for... Am I right? 😆

IMO the current solution I have now is overkill since I have to export `hovering` to a state variable... It would clean up a lot of my code if `hovering` worked in this case

[2020-04-16 19:08] dbismut commented on #162
Overkill in the sense that the current mouse move listener does some calculations about the mouse movement under the hood (velocity, distance) which are not needed for the purpose of just hovering, I'll see how to find the leanest way to achieve this.

[2020-04-17 01:07] elitenoire commented on #149
Fix works, thank you.

[2020-04-17 01:07] #149 closed

[2020-04-17 05:56] Pipo93 commented on #158
I'm still getting an error in `7.0.14` with `@types/react` version `16.9.34`:
[code]

[2020-04-17 07:29] fightwithcrayon opened #163 "Chrome Responsive Design mode breaks `useDrag`"
When Chrome Dev Tools' Responsive Design mode has been activated, `useDrag` no longer responds to interactions/fires at all.

This may be a bug in Chrome Dev Tools, but only ever seen this behaviour with this package.

To reproduce:

1. Open Chrome Dev Tools, disable Responsive Design Mode so that it no longer automatically opens next time we open Chrome Dev Tools. Close Chrome Dev tools, refresh

[2020-04-17 14:18] dbismut commented on #163
I'll have to look in details as this is a pretty old example using old versions of react-three-fiber and react-spring.

NB: In the meantime, I've released 7.0.15 as I fixed a very minor bug that has no incidence on this particular issue.