[2021-06-29 14:41] smashercosmo commented on #300
One of the errors will be
[code]

[2021-06-29 15:33] smashercosmo commented on #300
Works now. Thx.

[2021-06-30 15:54] #322 closed

[2021-06-30 15:54] #324 closed

[2021-06-30 15:54] #325 closed

[2021-06-30 16:00] kousenlsn commented on #324
Sorry for the delay, I haven't had much time lately. But it seems it is still occurring

[2021-06-30 16:01] kousenlsn commented on #325
Sorry for the delay, I haven't had much time lately. But it seems it is still occurring

[2021-06-30 17:51] dbismut commented on #324
Would it be possible to set up a repro sandbox? Are you sure you've updated to the latest version?

[2021-07-01 06:44] awmleer commented on #278
I encountered the same problem with v9.1.3. May I ask is there any release schedule for v10?

[2021-07-01 07:03] dbismut commented on #278
@awmleer you can use v10 as of now.

[2021-07-01 07:07] awmleer commented on #278
@dbismut But it is still in beta. It is too risky for our project which has over ten thousands of users.

[2021-07-01 07:17] dbismut commented on #278
Well releasing it is just me removing the beta tag from the version number :) It actually fixes a lot of bugs from v9. Try it in your app and give it a run see if anything breaks. The upgrading process won't be simpler when v10 is out of beta. But to answer your question, within a couple of weeks I'll make v10 official.

[2021-07-01 07:19] awmleer commented on #278
@dbismut OK, I'll try it. Thanks a lot!

[2021-07-01 12:18] kousenlsn commented on #325
https://codesandbox.io/s/alt-key-use-gesture10005-csx80

[2021-07-01 12:25] kousenlsn commented on #324
Yes, I tried creating a [sandbox](https://codesandbox.io/s/scroll-use-gesturenext-ew2m2) to replicate but it seems to work in it, so I tried adding Next.js, which I'm using, but stills seems to still work, so perhaps it is some other conflict. But I'll try to figure it out here, thanks anyway.

Where the error happens btw:
![image](https://user-images.githubusercontent.com/14895129/124123342-9ad63

[2021-07-01 13:01] dbismut commented on #325
It's `altKey` not `altkey`.

[2021-07-01 13:06] kousenlsn commented on #325
Ops, my bad.

I just tested it as ``altKey``, and indeed, it works on 10.0.0-beta.15+, and not on beta.14

[2021-07-01 16:02] danielx-art opened #326 "Not able to useGesture"
So Im trying to implement a simple code:

[code]

but for some reason I'm getting the error
Unhandled Runtime Error
TypeError: Invalid attempt to destructure non-iterable instance.
In order to be iterable, non-array objects must have a [Symbol.iterator]() method.

I tried to useWheel and useDrag instead of useGesture, i tried using set instead of api in the spring, i tried the keyword 'domTarget'

[2021-07-02 00:55] danielx-art commented on #326
Found the problem, the keyword 'previous' is no longer a state of the wheel gesture!

[2021-07-02 00:55] #326 closed

[2021-07-04 18:03] #317 closed

[2021-07-04 18:10] dbismut commented on #317
Fixed in `10.0.0-beta.17`. For the record, Surface doesn't support touch events (at least on Chrome), and supporting touch events was how `@use-gesture` detected the presence of a touch screen. Now touchscreen is detected with either touch event support or `navigator.maxTouchPoints > 1`. Thanks again for your help on debugging this @Rafael09ED.

[2021-07-06 03:57] tim-soft commented on #300
I'm seeing this error for the `useGesture` hook + `onWheel`
[code]

This code works with v9 (had to rename `domTarget` to `target`, trying out v10 for some onPinch fixes
[code]

The error is thrown from this code in `packages/core/src/engines/WheelEngine.ts`: https://github.com/pmndrs/use-gesture/blob/v10/packages/core/src/engines/WheelEngine.ts#L20-L23

[2021-07-06 06:31] dbismut commented on #300
@tim-soft  can you specify the browser and version of use- gesture you're using?

[2021-07-06 06:35] tim-soft commented on #300
`"@use-gesture/react": "^10.0.0-beta.17"` and the latest Google chrome

[2021-07-06 07:28] dbismut commented on #300
@tim-soft should be fixed in `10.0.0-beta.18`, thanks for the report.

[2021-07-06 09:47] mordv commented on #300
With useGesture + transform

[code]

I'm getting warning
[code]

It works in 9.1.3. Maybe API has changed?

https://codesandbox.io/s/draggable-list-forked-phydt?file=/src/index.js:1049-1142

[2021-07-06 10:27] dbismut commented on #300
@mordv nope, genuine bug, good catch. I'll fix this in the afternoon. Thanks!

[2021-07-06 12:08] dbismut commented on #300
@mordv should be fixed :)

[2021-07-06 14:19] tim-soft commented on #300
@dbismut the onWheel handlers aren't getting fired at all now with `"@use-gesture/react": "^10.0.0-beta.19"`, although the console errors went away

[2021-07-06 14:27] tim-soft commented on #300
@dbismut mousewheel/trackpad are no longer firing the onWheel handler in `onPinch`, bug or feature?

[2021-07-06 14:31] dbismut commented on #300
@tim-soft hmmm are you able to share a sandbox? `onWheel` seem to fire normally (see [here]( https://codesandbox.io/s/practical-buck-yx4f8?file=/src/index.js), wheel over the pink square and look at the console), and `onPinch` seems to work properly as well so not sure what's happening.

[2021-07-06 14:40] tim-soft commented on #300
@dbismut in your own example, if I change `onWheel` to `onPinch`, the handler won't fire from using the mouse scroll wheel/trackpad https://codesandbox.io/s/elated-kilby-bs9vh

[2021-07-06 15:06] danielx-art opened #327 "Drag bounds not working dinamycally"
**Describe the bug**
Using react three fiber I'm trying to make the camera move vertically as I drag the canvas, to simulate scrolling on canvas environment. I have a inferior and a superior limit in wich the camera has to stay inside, and I would like to use the rubberband property, and so I'm using bounds that should update if the camera position is at the superior limit, not letting the camera

[2021-07-06 15:59] dbismut commented on #300
Hm on my MacBook Pro's trackpad it does work as expected...

[2021-07-06 16:31] tim-soft commented on #300
I'm on windows if that helps

[2021-07-06 17:38] dbismut commented on #327
@danielx-art haven't tried your sandbox, but bounds are only calculated when the gesture starts.

[2021-07-06 17:42] dbismut commented on #300
@tim-soft not really... Pinch should work when ctrl key is pressed.

[2021-07-06 17:51] tim-soft commented on #300
@dbismut I'll dig in later this week when I have some more time, thanks for checking

[2021-07-06 20:48] danielx-art commented on #327
So it is impossible to use the rubberband effect on scrolling to final of a page, for example?

[2021-07-06 20:55] dbismut commented on #327
Not sure I understand sorry. How is this impossible?

[2021-07-06 21:31] danielx-art commented on #327
Oh I see, so if I understand you correctly and the bounds are calculated when the gesture starts, then I still can update those bounds on each drag gesture by using the initial coordinates of the gesture and their distance to the bounds. Going to test that this minute and I'll report back!

[2021-07-06 23:26] danielx-art commented on #327
I was missing the fact that I can write bounds in terms of the canvas coordinates using transform exactly as they express in the documentation, but with flipped y to ensure the drag orientation. For some reason I believe that transform only worked if the bounds, even in canvas coordinates, would stay inside the viewport, I don't know why I tought that. I updated the sandbox to a version that works

[2021-07-06 23:26] #327 closed

[2021-07-07 05:58] dbismut commented on #327
I haven't done much 😅 glad you sorted this out!

[2021-07-07 23:20] mtrifonov-design opened #330 "PointerCapture set to Event Target"
Hello!
I'm using use use-gesture in react, and I have the following issue:

I have a `<Parent />` component using the `useDrag` hook, within it I have a `<Child />` component.
As soon as the drag gesture starts, the `<Parent />` component changes state, and amongst other things, the `<Child />` component is unmounted. This appears to be causing bugs, and the drag gesture doesn't work as expected.

[2021-07-08 07:16] dbismut commented on #330
Hi. Can you please provide a sandbox?

[2021-07-08 13:51] dbismut commented on #330
@mtrifonov-design I think I understand what's going on, I'll push a fix later today and you'll let me know how it works for you.

[2021-07-08 14:16] dbismut commented on #330
Pushed 10.0.0-beta.20, let me know if this helps.

[2021-07-08 14:59] mtrifonov-design commented on #330
@dbismut I tested the new version, and it works now. Thank you very much!

[2021-07-08 15:19] #330 closed

[2021-07-08 18:10] seflless commented on #300
@dbismut I'm getting the following using `10.0.0-beta.20`, macOS Chrome, and with next@10.2.3.
```use-gesture-core.esm.js?41ef:122 [@use-gesture]: You've created a custom handler that that uses the `domTarget` gesture but isn't properly configured.

Please add `domTargetAction` when creating your handler.```
Here's my code for context:
https://gist.github.com/seflless/810f907673df26fe551b996b1d053

[2021-07-08 18:12] dbismut commented on #300
@seflless `domTarget` is now `target`. The error message isn't really helping here (I'll fix this) but in theory you should have another one before that one no? In dev mode?

[2021-07-08 18:38] seflless commented on #300
Here's the stuff I cropped out. Should I be getting the warning twice?

![Screen Shot 2021-07-08 at 2 16 47 PM](https://user-images.githubusercontent.com/1845/124971429-27a56900-dff7-11eb-9482-4318f4175187.png)

I'm getting a new weirdness now, reading through links above to see if the event parameters and behaviors have changed. I upgraded because of needing a fix for where pinch gestures started

[2021-07-08 20:22] dbismut commented on #300
@seflless you should use `target` instead of `domTarget` as mentioned in my message above.

[2021-07-08 21:35] seflless commented on #300
Oh definitely. I did and that made that issue go away. I think I have it figured out now. Thanks for quick response!

[2021-07-09 06:46] cintiapinto opened #331 "onDrag event firing when I try to pinch"
Hi!

I have both `onDrag` and `onPich` event handlers defined in my `useGesture`.

The `onDrag` is working perfectly and as expected. However, when I try to add some logic to the `onPinch` event, I can see that they're not being fired successfully, and instead, `onDrag` events are being fired.

Any ideas on what I could be missing here?

Here's a snipped of my code

[code]

I am trying to add the

[2021-07-09 07:02] dbismut commented on #331
@cintiapinto Hey, issues templates are there for a reason, can you please provide which version you're using and a minimal repro sandbox?

[2021-07-09 10:07] pierreburel commented on #305
Hey @dbismut, fyi this doesn't seems to work anymore on beta20 (worked on beta19) : https://codesandbox.io/s/condescending-feynman-xzthd

[2021-07-09 10:10] dbismut commented on #305
@pierreburel dammit I knew this would break something. I'll add that usecase for test sandboxes and work on a fix.

[2021-07-09 11:57] dbismut commented on #305
@pierreburel I've reverted the behavior to beta19 in beta21. Sorry about this...

[2021-07-09 12:00] dbismut commented on #330
Hey @mtrifonov-design I've reverted back to using `target` and not `currentTarget` as this used to break the behavior on iPhones (for some reason capturing from `currentTarget` doesn't work properly). If you need to unmount the `target` element try using the options: `{ pointer: { capture: `false` } }`. This will stop using `setPointerCapture` and rely on attaching events to the `window`. Sorry ab

[2021-07-09 12:19] pierreburel commented on #305
No problem, it's a beta :) thanks for the quick answer!

[2021-07-09 13:47] mtrifonov-design commented on #330
@dbismut Alright, I will use the workaround then. Thank you for taking the time and informing me about this!

[2021-07-10 21:58] stokesman opened #332 "Unexpected velocity at end of drag gesture"
**Describe the bug**
Velocity seems to only be recalculated on movement events, making the last velocity likely to be inaccurate. This is notable mostly in cases where movement has stopped entirely.

**Sandbox**
https://codesandbox.io/s/use-gesture-drag-velocity-at-gesture-end-tu9kr?file=/src/index.js
Where it can be noted that dropping the draggable element after having ceased movement often stil

[2021-07-11 08:27] dbismut commented on #332
Hey @stokesman, first of all I'm happy that someone tried the vanilla version of this package. Let me know if there's something you'd like to be improved in the api.

Indeed this lib doesn't compute velocity for the last `pointerup` event (otherwise it would always be `0` since _most of the time_ the `pointerup` event coordinates are the same as the last `pointermove` event coordinates).

But I se

[2021-07-11 17:53] stokesman commented on #332
I had imagined something like that for a workaround in userland. In the library, I think the better solution would be to decouple velocity calculation from the input events. I suppose a `requestAnimationFrame` loop during the gesture to handle such calculations may do the trick but I could be missing something.

I appreciate the prompt reply though it's not an urgent matter on my end. Also it's gr

[2021-07-11 21:39] tim-soft commented on #300
@dbismut I built a slightly better sandbox, `onPinch` is only firing for me (windows + chrome) on a touch screen two-finger pinch, it does nothing from `ctrl + mousewheel` or two-finger zoom on trackpad like in v9, these only happen in `onWheel` now

https://codesandbox.io/s/funny-proskuriakova-6lj6l?file=/src/index.js

I'm not sure if this is intentional or not, I think I originally built out thi

[2021-07-12 07:43] dbismut commented on #332
@stokesman the lib is supposed to be "just" a wrapper around events, it's not using `requestAnimationFrame` at all at the moment so it triggers user handlers in sync with the browser dispatching events. I'm not even sure how to reconciliate the event loop with a `requestAnimationFrame` loop, I guess that would end up complexifying the gesture engine by quite a lot 😅

I'll give a shot at setting an

[2021-07-12 07:50] dbismut commented on #300
@tim-soft would there be a way to connect on [pmndrs Discord](https://discord.gg/poimandres)? There was an issue on Surface Pro hardware that I managed to solve, but maybe this is not sufficient.

[2021-07-12 14:24] dbismut commented on #332
For now relying on an arbitrary delay doesn't work consistently and results in some false positive / false negative... But it's an improvement over the previous logic, although less predictable.

[2021-07-13 12:50] danielx-art opened #333 "Gesture with wheel and drag bugs drag bounds."
### Discussed in https://github.com/pmndrs/use-gesture/discussions/329

<div type='discussions-op-text'>

<sup>Originally posted by **danielx-art** July  7, 2021</sup>
I have a canvas, and I want to move the camera down or up on the canvas, like scrolling a page, either by actually wheeling (useful on PC) or by dragging (to also be mobile friendly). If I wheel, I want the gesture to clamp at the p

[2021-07-13 12:52] dbismut commented on #333
Is this an issue?

[2021-07-14 04:39] natarius opened #334 "onDrag stops firing when cursor gets out of targets bounds"
**Describe the bug**
I am using useGesture to drag ThreeJS Fiber groups an am running into a issue where as soon as the mouse cursors leaves the bounds of the dragged object the onDrag event stops firing (see video)

Any idea whats going on?

Here is my code

[code]

**Sandbox or Video**
https://www.loom.com/share/a13f14b78330479495f82f95327e08b8

**Information:**
 - React Use Gesture version: 9.1

[2021-07-14 07:43] dbismut commented on #334
Hey, can you try upgrading to latest beta of `@use-gesture/react` see if this works by any chance?

[2021-07-14 12:26] danielx-art commented on #333
Seems buggy and inconsistent to me, with no solution or workaround, despite looking like a very common or simple problem that I don't find anyone talking about.

[2021-07-14 12:57] dbismut commented on #333
If that's an issue, can you please describe the expected behavior, and suggest a minimal repro sandbox, possibly not including r3f?

[2021-07-14 13:12] danielx-art commented on #333
I think one should expect the drag and wheel to be independent, and the drag bounds not to be influenced by the wheel gesture, but to be fixed in relation to the object's initial position, or maybe even, and that's a suggestion, it should be fixed in relation to another element. I don't think r3f should make it different, because it doesn't depend on the interaction with the canvas or anything, it

[2021-07-14 15:25] dbismut commented on #333
The drag bounds are not influenced by the wheel gesture.

Even if it was the case, I'm pretty sure there would be a simpler way to express it than a sandbox using r3f. Dealing with your sandbox complexity is just increasing overload and makes it harder for me to understand what's happening and where the problem comes.

I'm closing this in favor of your question that you've linked as I can't frame

[2021-07-14 15:25] #333 closed

[2021-07-14 17:29] natarius commented on #334
This one?

"@use-gesture/react": "^10.0.0-beta.21",

[2021-07-14 17:46] dbismut commented on #334
Yes.

[2021-07-15 17:58] natarius commented on #334
now it doesnt work at all

https://www.loom.com/share/978ac7203139448487c1cfb5e1d94910

[2021-07-16 07:57] dbismut commented on #334
@natarius thanks for the videos. I can try to help you with this, but ideally you would be able to share a minimal sandbox. Can you provide this?

[2021-07-16 08:01] dbismut commented on #331
As a sidenote, this is intended: you might want to drag while pinching. If you want to disable that behavior, you would need to use the `state.pinching` attribute in your `onDrag` handler and cancel or stop the drag gesture when it's set to `true`.

[2021-07-17 18:39] dbismut commented on #300
@tim-soft any chance we could chat?

[2021-07-18 17:42] stokesman commented on #332
Hi @dbismut, I was curious and tried the suggestion I had made. It didn't change how user handlers were triggered and it worked nicely testing manually. It broke a few unit tests (velocity wasn't as predicted by input event timestamps used for tests) so I decided try something else.

I looked at how the Popmotion library had implemented velocity tracking and adapted that. It works quite well so I'

[2021-07-19 00:48] cintiapinto commented on #331
Thanks @dbismut, I'll try that! 🙂

Sorry for not using the issues template, I only saw the bug template and I wasn't sure if this was a bug or not.

[2021-07-19 00:52] cintiapinto commented on #331
Update:

turns out I already had an if statement checking if it's not being pinched on my `onDrag` event listener before firing the drag event, but it's still getting fired when I'm trying to pinch to zoom:

I am trying to use this on `onDrag`:
```if (state.dragging && state.intentional && !state.pinching)```

I'll update my original comment to include more details on what I'm experiencing 🙂

[2021-07-19 02:03] cintiapinto commented on #331
Update:

I have tried checking that pinching is not set to true when dragging before firing my `onDrag` event but this is still not working.

I have the following check:
```if (state.dragging && state.intentional && !state.pinching)```

but drag events keep on being fired when I try to pinch.

I will update my original comment to include more details and the sandbox 🙂

[2021-07-19 07:19] feketegy commented on #334
This is also happening for me, but I can't put my finger on why it does that, it freezes sometimes inside the bounds as well.

[2021-07-19 07:40] vsemk commented on #334
Can confirm too. Seems to be only the case with the latest r3f (v7.0.5) though - so maybe an r3f bug?
Possibly related to https://github.com/pmndrs/react-three-fiber/issues/1502 ?

[2021-07-19 08:45] dbismut commented on #331
Hi @cintiapinto no worries, there's a discussion tab in this repo for questions, but let's keep this in this thread. Is this sandbox working for you: https://codesandbox.io/s/github/pmndrs/use-gesture/tree/v10/demo/src/sandboxes/card-zoom?

Also is this fixing it for you: https://codesandbox.io/s/fervent-elion-t34k5?file=/src/App.js

[2021-07-19 09:38] dbismut commented on #332
Thanks I'll have a look asap!

[2021-07-19 21:34] emcfarlane opened #338 "Movement values onDrag with scroll"
**Describe the bug**

On the desktop where scroll isn't disabled dragging an item out of bounds causes the movement value to be incorrect and drift from the mouse.

**Sandbox or Video**
https://codesandbox.io/s/romantic-satoshi-z8ugn?file=/src/App.tsx

https://user-images.githubusercontent.com/3036610/126230258-1c9cfaa8-e8d9-44e8-b8f7-7f1edac05da1.mov

**Information:**
 - '@use-gesture/react'
 - D

[2021-07-20 06:26] cintiapinto commented on #331
hi @dbismut, that worked perfectly. Thank you so much for your help! life saver 🙏

[2021-07-20 06:33] natarius commented on #334
going back to r3f 7.0.1 fixes the issue for me

[2021-07-20 08:13] dbismut commented on #334
@joshuaellis @drcmda any ideas where this might come from?

[2021-07-20 08:26] dbismut commented on #338
The problem that you have is that selecting the text from the dragged item also triggers the browser scrolling. You should probably add `user-select: none` to your CSS to disable selecting the text on your dragged element.

This isn't a simple problem by any means AFAIK, the logic would be to add scrolling logic when your dragged element comes near the edges of the scrollable parent. If your eleme

[2021-07-20 16:58] emcfarlane commented on #338
Thanks for the detailed response. Please feel free to close the issue. I'll update when I have a shareable demo.

[2021-07-20 17:17] #338 closed

[2021-07-20 18:55] emcfarlane commented on #338
I found some code you posted on a different issue for controlling the window scroll with react spring 😄. Modified it to use the api values to update the position and calculate the difference in height. It's a bit janky I think because of how I'm updating the `scrollDiff` var. Do you know how to make it smoother?

https://codesandbox.io/s/romantic-satoshi-z8ugn?file=/src/App.tsx

https://user-image

[2021-07-20 19:15] drcmda commented on #334
and 7.0.2 makes a problem? i went through the commits, there's nothing there:

https://github.com/pmndrs/react-three-fiber/commit/e356872b43d8eb182d497a98be798c8517a53366
https://github.com/pmndrs/react-three-fiber/commit/2d5d157c902e6c4a92ffe7671c1a09ed501f3d1c
https://github.com/pmndrs/react-three-fiber/commit/feca5ea320cc32f7c902bc71aa1a1acad66ecbdc

[2021-07-20 19:27] drcmda commented on #334
so this does not happen in 7.0.4? are you 100% sure? i think the pointerout issue is unrelated. im getting that even in 6.0.0 so it must be an ancient bugs that's still unfixed.

[2021-07-20 19:34] vsemk commented on #334
sorry, to be precise indeed the bug is reproducible in both 7.0.4 and 7.0.5. you can reproduce it here https://codesandbox.io/s/bezier-curves-nodes-3k4g6 by setting r3f at these versions

[2021-07-20 21:57] drcmda commented on #334
it's between 7.0.3 and 7.0.4. there were two prs, one adds forwardref to canvas and one adds attachFns. how in the world does that break events. must debug a little ... :-S

[2021-07-20 22:38] drcmda commented on #334
should be fixed. turns out this was, somehow, babels fault. it transpiled something into faulty es5 code.

[2021-07-21 22:32] FaridHosman opened #339 "Calling a setState function inside of useGesture can result in unexpected behavior"
**Describe the bug**
Calling a setState function inside of useGesture can result in unexpected behavior

**Sandbox or Video**
https://codesandbox.io/s/musing-lumiere-oxjo6?file=/src/App.js

In this example, as the user drags on the red square, dragCount goes from zero to 2 but rarely gets to 4, and then goes back to 2. Moving let count = 0 on line 7 somewhere outside of App() fixes the issue

**In

[2021-07-21 22:38] dbismut commented on #339
I'm not sure what you're trying to do here. `count` gets reassigned to `0` on every render and that's expected. Also setting state is not synchronous in React.

Closing this as this seems like a React specific question rather than anything else, unless I'm missing something.

[2021-07-21 22:38] #339 closed

[2021-07-21 22:42] FaridHosman commented on #339
You are right, it also happens onCLick. not a use-gesture issue. Sorry

[2021-07-22 11:55] dbismut commented on #334
Closing this, I'll reopen if the issue persists.

[2021-07-22 11:55] #334 closed

[2021-07-22 22:47] natarius commented on #334
Which version includes the fix?

[2021-07-23 06:28] dbismut commented on #334
@natarius @react-three/fiber v7.0.6

[2021-07-26 08:46] kutoman commented on #300
I'm still having following issues which I'm not facing in the desktop browsers:
on iOS webview: when I swipe horizontally `onPinch` gets always triggered even though one finger is used solely.
on Android webview: when I scroll vertically `onPinch` gets always triggered even though one finger is used solely.

using: @use-gesture/react: ^10.0.0-beta.21

this is the only part where I use the library'

[2021-07-26 08:55] dbismut commented on #300
Really hard for me to debug this as I can't reproduce the issue. What would help is someone pinging me on [pmndrs Discord](https://discord.gg/poimandres) so we can solve the issue together. @kutoman what's your hardware? Is there a way you could show me a sandbox?

[2021-07-26 13:16] aldibatyr opened #340 "useHover is not working with Cypress "mouseover / mouseenter" events"
**Describe the bug**

**Sandbox or Video**

![Screenshot from 2021-07-26 19-17-31](https://user-images.githubusercontent.com/47831819/126994892-520eac0e-c936-4d4d-a11f-f02ba6722026.png)

**Information:**
 - React Use Gesture version: 9.1.3
 - Device: PC
 - OS: Fedora
 - Browser Chrome

**Checklist:**
  - [X] I've read the [documentation](https://use-gesture.netlify.app/).
  - [N/A] If this is an i

[2021-07-26 13:17] dbismut commented on #340
This is a bug with Cypress rather than this lib no, isn't it?

[2021-07-26 13:17] #340 closed

[2021-07-27 08:12] kutoman commented on #300
there is one fortunate thing concerning the mentioned issues. I've recently noticed that both cases are actually reproducable in my desktop's chrome browser (with device mode enabled). So the mobile platforms might not be needed for reproduction.

@dbismut I'll contact you

[2021-07-27 15:45] dbismut commented on #300
@kutoman @tim-soft should be fixed in `10.0.0-beta.22`! Thanks for the help ;)

[2021-08-06 16:29] delaudio commented on #300
Hi! I've upgraded to v10 but I'm having problems with dragging. I switched from  `initial` to `from` but it seems I still need to change some logics. What should I change?
This is a simplified fork of the initial rocket example, without the rotation.

https://codesandbox.io/s/initial-rocket-forked-sbbo2

Thank you!

[2021-08-06 16:57] dbismut commented on #300
@delaudio try using `offset` instead of `movement`.

[2021-08-06 19:07] delaudio commented on #300
thank you @dbismut updated it with `offset` instead of `movement` and it's ok.

https://codesandbox.io/s/initial-rocket-forked-sbbo2

[2021-08-08 15:33] WojciechKo opened #344 "`usePinch` attached to the parent element behaves like attached to each child element separately"
**Describe the bug**
I bound `usePinch` to the CSS grid container and it works only when both fingers are placed on the same grid item. When you place fingers on a separated items, the callback isn't fired.
Can you please help me with this? I have no idea anymore how to make it work for the whole parent element instead of for each child element separately.

**Sandbox or Video**
https://codesandbox

[2021-08-08 16:26] dbismut commented on #344
Please upgrade to `@use-gesture/react` and report back. This bug is one of the many v10 solves.

[2021-08-08 18:20] WojciechKo commented on #344
I've updated to `10.0.0-beta.22` and it works as expected.
I decided to use "stable" version because [documentation](https://v10-beta--use-gesture.netlify.app/) contains not working example and I assumed it's a deep beta.
Anyway, thanks for your quick reply and this library!

[2021-08-08 19:55] dbismut commented on #344
I'm going to release v10 as stable soon now that I quitted my job and have some free time!

[2021-08-08 20:01] #344 closed

[2021-08-24 15:13] smashercosmo commented on #182
Do I understand correctly that this is no longer possible in v10?

[2021-09-02 11:16] justinLifelike opened #345 "(Drag) Swiping characters not working on Android phones"
**Describe the bug**
Swiping between characters works like a charm on IOS but does not work at all on Android.
I think that the problem could maybe be the fact that it detects a short swiping distance of less than 50.
That's what I have seen in the console whenever the swiping is not working, but why would this only be on android or browser?
So maybe the problem lies somewhere else?

**Sandbox or

[2021-09-02 13:03] dbismut commented on #345
Hi, I can't and won't help if there's no repro sandbox, your NDA shouldn't prevent you from trying to reproduce a bug.

[2021-09-02 13:03] #345 closed

[2021-09-02 14:02] dbismut commented on #182
Hi @smashercosmo sorry for the late response, can you try `10.0.0-beta.23`? Note that the correct syntax should now be, after upgrading to latest fiber version:

[code]

[2021-09-04 05:59] enheit opened #346 "Rubberband position is calculated incorrectly with snap interval functionality"
**Describe the bug**

I want to implement the list which can be dragged by a mouse and snapped to the closest row on mouse button release.

![closest-row-snap-interval](https://user-images.githubusercontent.com/8645216/132084148-8899f2ce-9ad3-40b5-bf2a-65c466727e57.png)

I use `useDrag` hook with `bounds` & `rubberband` properties as shown in the [documentation](https://v10-beta--use-gesture.netli

[2021-09-04 07:51] dbismut commented on #346
Hi @enheit, I think I understand what you're trying to achieve, but the diagonal lines don't help understanding how the snap works.

Here's what I think should be a functional sandbox: https://codesandbox.io/s/sweet-andras-wmkbs
What you should be looking at is line 29 and the `from` attribute.

**Here's a short explanation:** the `bounds` property works out of the box when the dragged element pos

[2021-09-04 16:06] enheit commented on #346
Agree, I had to use `0deg` with `50px` thickness to mimic the rows. But realized it after your answer. _(P.S. Without that background it almost impossible to notice that element is dragging on the gif animation)_

Yes, I use `@react-spring/web` to work with animation. Also, I tried to store my offsetValue inside
[code]
 and update it using `api.start({ offsetY: newOffsetY })` or `api.set(...)`. In

[2021-09-04 16:37] dbismut commented on #346
You could either use a ref or compute a state variable in the gesture handler at the end of the gesture (when `state.last` is `true`).

[2021-09-05 16:34] enheit commented on #346
@dbismut I applied `from` prop as you suggested in [your codesandbox example](https://codesandbox.io/s/sweet-andras-wmkbs). Rubberband works as expected with my snap functionality. Thank you.

I close this issue due that fact that I closed it on my side.

Thank you a lot

[2021-09-05 16:34] #346 closed

[2021-09-07 07:25] mordv commented on #300
Can't drag "drag me" card on https://v10-beta--use-gesture.netlify.app/ :)

[2021-09-07 15:45] smashercosmo opened #348 "Drag gesture breaks hover gesture"
**Describe the bug**
When drag gesture is specified, it breaks hover gesture. Any click on an item makes item non-hovered.

**Sandbox or Video**
https://codesandbox.io/s/use-gesture-bug-mgq2g

**How to reproduce**
1. Open codesandbox
2. Hover over green square
3. See that square becomes red
4. Now click on the square
5. See that square becomes green again

**Information:**
 - React Use Gesture ver

[2021-09-07 15:58] smashercosmo commented on #348
without onDrag handler everything works correctly

[2021-09-07 18:53] dbismut commented on #348
Looks like this is a r3f bug rather. Looks like adding pointer capture triggers pointer leave. Here's a demo reproducing the bug without use-gesture. Can you file this on r3f repo?

[2021-09-07 18:53] #348 closed

[2021-09-07 23:16] smashercosmo commented on #348
Alright, will do

[2021-09-08 07:58] dbismut commented on #300
@mordv that was painful to track down. Looks like it's actually a problem with react-spring, and conflicts between @react-spring**/three** and @react-spring**/web** `animated` component. I'll report this to the team.

[2021-09-13 05:46] mordv commented on #300
Buggy example with three-fiber https://v10-beta--use-gesture.netlify.app/docs/options/#transform

[2021-09-13 07:53] WartClaes opened #349 "useDrag is stuck on iOS when navigating between pages"
**Describe the bug**
When using the swipe gestures to go backwards/forwards in your browser history it is possible to break the `useDrag` functionality. This occurs when you initiate the gesture on an element which is bound to `useDrag`.

- open https://trbo.be/bugs/use-gesture/ on an iOS device
- navigate to other webpage
- go back
- swipe to go forward with your finger on the blue block.
- when

[2021-09-13 08:39] dbismut commented on #300
@mordv good catch again, was indeed a bug :) Should be fixe now in `10.0.0-beta.25` and subsequently in the docs.

[2021-09-13 13:47] Ziriax commented on #349
It seems this package is not handling the `lostpointercapture` and/or `pointercancel` events? Might this be the reason?

https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/lostpointercapture_event
https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/pointercancel_event

[2021-09-13 13:55] dbismut commented on #349
Can you try upgrading to `@use-gesture/react` which is in fact v10?

[2021-09-13 16:06] enheit opened #350 "I would like to extend the documentation of the velocity prop"
I didn't find how to open PR for the documentation and decided to open this issue here.

I was looking for the description of how the `velocity` prop is calculated and what this value means (`1.2`, `0.5`, `-0.2` etc). After a while, I was able to find in the source code that this value is actually px / ms. Would be nice to have it inside documentation like this.

Before

[code]

After

[code]

Wha

[2021-09-13 16:35] dbismut commented on #350
Hey, look at the upcoming change in v10 regarding velocity: https://github.com/pmndrs/use-gesture/blob/v10/.changeset/swift-carrots-shout.md

In other words the velocity momentum you're describing in v9 is gone (it wasn't very useful in real life scenarios).

I'll close the issue but we can continue discussing this here.

[2021-09-13 16:35] #350 closed

[2021-09-13 16:46] enheit commented on #350
@dbismut yes, I am already using the latest version of `use-gesture`. Is my proposal not valid for the v10? It seems like the values still px / ms? Am I wrong?

[2021-09-13 16:50] dbismut commented on #350
Oh right sorry. I'll add that then (although it wouldn't be pixels when using the `transform` option).

[2021-09-14 06:15] WartClaes commented on #349
I updated to `@use-gesture/react` and the issue is still there

[2021-09-14 10:32] dbismut commented on #349
Hi, indeed I can reproduce the issue on the docs website. Thanks for bringing that up.

I'm not exactly sure how to fix this yet: the issue is not so much about `pointercancel` (which is handled by the lib) or `lostpointercapture`, as those events don't seem to fire when starting the swipe forward or swipe back (which IMO is what we need).

I believe there might be a workaround with using touch ev

[2021-09-14 12:57] dbismut commented on #350
Done :)

[2021-09-15 13:46] smashercosmo opened #351 "Wrong typing for event handlers"
**Describe the bug**
Consider this code
[code]

onPointerUp and onPointerDown event handlers only receive event as an argument, but according to use-gesture types they receive `SharedGestureState & { args: any, event: ... }`

**Information:**
 - React Use Gesture version: 10.0.0-beta.25

**Checklist:**
  - [x] I've read the [documentation](https://use-gesture.netlify.app/).

[2021-09-15 13:51] #351 closed

[2021-09-15 14:01] apostolos commented on #218
@Linksku unfortunately, no. It's still broken and the bug is still unassigned:
https://bugs.chromium.org/p/chromium/issues/detail?id=1141207

There is something fundamentally broken in Blink's input handling (on Android & Windows), I doubt a workaround is possible on this one. It looks to me as some system-level gesture detection logic is breaking/taking over the event handling.

[2021-09-15 14:07] smashercosmo commented on #351
Oh, my bad, something confused me

[2021-09-15 15:58] #332 closed

[2021-09-15 21:45] Linksku commented on #218
After several hours, this solution seems to work:

[code]

I haven't fully tested it, but it never triggered `click` unexpectedly.

[2021-09-17 19:51] enheit commented on #173
I had a similar issue with `useDrag` function where `onClick` handler was triggered on the child elements during drag gesture. The `filterTraps: true` prop fixed this problem.

[2021-09-22 14:35] dbismut commented on #300
Closing as `10.0.0` is now out as a stable version!

[2021-09-22 14:35] #300 closed

[2021-09-24 13:32] ullatap commented on #260
I am using v10.0.0 and I am still getting the same behavior @samselikoff described above. Is there any update or a workaround for this issue?

[2021-09-24 15:19] dbismut commented on #260
Reopening @ullatap, will release a fix. Sorry about this, now Safari is showing the right behavior, and Chrome / Firefox aren't (you're actually experiencing the **opposite** problem @samselikoff had^^).

[2021-09-24 21:55] dbismut commented on #260
@ullatap I've given a stab at it on PR #354.

Just a bit of context: Safari with magic trackpads uses WebkitGestureEvents which provide `scale` and `rotation` as attributes (most probably Safari actually calculates these properties as it knows the actual positions of the fingers on the trackpad). However, Chrome and Firefox interpret trackpad pinch as a wheel event with the ctrl key pressed (this

[2021-09-27 07:22] ullatap commented on #260
@dbismut thank you for the fast reply and the explanation. I tested the sandbox version in Chrome, Firefox and Safari and it works well in all 3 (no sensitivity issues detected). :)

To clarify, the behavior I detected in my app was that in Chrome (and Samsung Internet browser) pinching was over-sensitive at first but after zooming in unzooming became very slow. Hope this can be fixed with the pat

[2021-09-27 08:27] dbismut commented on #260
Oh ok. So just so that I'm sure I understand, the bug you're facing is experienced on an Android device right?

[2021-09-27 08:27] dbismut commented on #260
Oh ok. So just so that I'm sure I understand, the bug you're facing is experienced on an Android device right?

[2021-09-27 08:34] ullatap commented on #260
Yes, on Samsung Galaxy.

[2021-09-27 12:31] dbismut commented on #260
Does that sandbox behave correctly on your device? https://codesandbox.io/s/gesture-pinch-d9seu
I've tried Chrome on an Android phone and it works like it should I think.

[2021-09-27 12:39] ullatap commented on #260
Yes, tested it on Chrome on my Android and it works great.

[2021-09-27 14:08] #260 closed

[2021-09-27 20:38] david-buck opened #356 "Browse Docs button on main page of docs site not working"
**Describe the bug**

Browse Docs button on the main page of docs site not working

**Sandbox or Video**

https://raw.githubusercontent.com/pmndrs/use-gesture/main/documentation/pages/index.mdx

[code]

ends up as

[code]

In the output code

**Information:**
MacOS 10.14.7
Chrome 94

[2021-09-27 20:44] david-buck opened #357 "UseDrag action-sheet example not working for v10"
Supplied example in use-gesture docs

![image](https://user-images.githubusercontent.com/5119820/134982311-c189b6b9-7dfe-49a4-83a0-ab57fc32a71f.png)

https://codesandbox.io/s/github/pmndrs/use-gesture/tree/v10/demo/src/sandboxes/action-sheet

When dragging throws this error:

TypeError
Cannot destructure property 'Symbol(Symbol.iterator)' of 'undefined' as it is undefined.

[code]

![image](https:

[2021-09-28 06:49] dbismut commented on #356
Thanks! Should be fixed now!

[2021-09-28 06:49] #356 closed

[2021-09-28 06:50] dbismut commented on #357
Indeed, thanks for pointing this out, `vxvy` is removed in v10 in favor of `velocity` which is now a vector. I've updated the repo, should be fixed now.

[2021-09-28 06:50] #357 closed

[2021-09-29 03:38] david-buck opened #358 ""API" link in docs nav missing trailing slash"
Sorry, this is another tiny one

![image](https://user-images.githubusercontent.com/5119820/135198911-ad2e5e22-50de-4d77-8ea5-0a4f8c4f2763.png)

The API link in the docs header is missing a trailing slash so when it's clicked, the sidebar navigation doesn't show as active

![image](https://user-images.githubusercontent.com/5119820/135198972-7c38945d-ee3e-4d1d-b295-739a915b0f24.png)

Can be fixed o

[2021-09-29 10:44] #358 closed

[2021-09-29 10:44] dbismut commented on #358
Wow nice catch! Thanks for reviewing the doc site btw. If there's anything you'd want to improve please submit ideas / PR. Writing docs is not my strongest suit, so if there's anything you'd think would be better phrased or explained let me know!

[2021-09-29 12:47] laclance commented on #241
yeah I have that problem, added my own long press handler but now useDrag 's down variable is getting stuck on true, so dragging happens after long press even without clicking again

[2021-09-29 14:54] dbismut commented on #241
@laclance would you mind elaborating a bit more and possibly submit a sandbox?

[2021-09-29 20:34] david-buck commented on #358
The docs are really good. I'm not a strong developer, but I managed to track down a solution to an issue by reading the docs.

If I find any more things, I'll join them together in a PR.

[2021-09-30 08:01] laclance commented on #241
So the problem if you press or hold after swiping then a swipe will always get triggered at the same time. This was not the case until I upgraded from react-use-gesture.

https://codesandbox.io/s/laughing-einstein-23kd2

[2021-09-30 08:31] dbismut commented on #241
@laclance thanks for the sandbox. Can you describe what you're trying to achieve feature-wise? The code seems a bit complex at first glance.

[2021-09-30 08:37] laclance commented on #241
sorry I tried to remove as much code as I could, so basically my our app has many objects that have difference functionality, when pressed, long press or swiped (e.g select, edit, delete, respectively, with animations) and also switch screen by swiping when on mobile.

[2021-09-30 08:41] laclance commented on #241
it's been a while since I created the hooks but I believe most of the complexity came about when trying to get the events working on multiple objects, for example when the container and items within the container all need press, hold and swipe events.

[2021-09-30 14:24] dbismut commented on #241
@laclance Have a look at this https://codesandbox.io/s/great-tu-kzc8m?file=/src/App.tsx

[2021-10-04 21:29] lostfictions opened #361 "Document createUseGesture"
Hi there. I was looking at use-gesture examples and was a little confused by the usage of `createUseGesture` in one of them:

https://github.com/pmndrs/use-gesture/blob/e5d1cac5970cc837b769c7b18b3730a03179d3a0/demo/src/sandboxes/card-zoom/src/App.jsx#L7

I looked over all the docs but couldn't seem to find an explanation or rationale for it anywhere. Finally, I dug through the issues and discovere

[2021-10-04 21:50] dbismut commented on #361
Hi @lostfictions good catch, I completely forgot to mention that API. At this point I'll have to be honest and confess that there's not a huuuge difference between importing a hook like `useDrag` or the full `useGesture` hook (a couple of KB). Not sure why is that, looks like tree shaking is done properly, I'll probably have to investigate further at some point.

Anyway, point taken, I'll document

[2021-10-04 22:28] lostfictions commented on #317
Unfortunately, I'm still experiencing an issue with this on `10.0.2` in Chrome. It might be a quirk with [Flatpak](https://www.flatpak.org/) sandboxing somehow, or maybe it's some kind of deliberate anti-fingerprinting measure.

`navigator.maxTouchPoints` reports `0` (and `'ontouchstart' in window` is also `false`), but `touchstart` etc listeners that are actually attached work fine (eg. [these](h

[2021-10-05 05:12] dbismut commented on #317
Hi @lostfictions, thanks for the detailed explanation. Just to clarify 100%, could you please link to the dysfunctional sandbox and provide your hardware / software details?

[2021-10-05 06:23] lostfictions commented on #317
Oops, forgot to link the non-working sandbox! It's [this one](https://codesandbox.io/s/github/pmndrs/use-gesture/tree/main/demo/src/sandboxes/card-zoom) from the official examples.

This is happening in Ubuntu 20.04 x64,  with Chrome 94.0.4606.71. The device is a Lenovo laptop with a touchscreen, similar to [this model](https://www.lenovo.com/us/en/p/laptops/yoga/yoga-2-in-1-series/yoga-9-14itl5/8

[2021-10-05 07:45] laclance commented on #241
thank you, I ended up just implemented everything myself, wasn't to difficult but that might be helpful if I need more animations.

[2021-10-05 08:34] dbismut commented on #317
The problem is that `'TouchEvent' in window` does return `true` on I believe all browsers regardless of the hardware actually supporting touch (it does on my Macbook at least). I'm not sure what to do there... Would you mind moving this conversation on Discord so we can have 1 on 1 chat and run some tests? I'm [on pmndrs Discord](https://discord.com/invite/poimandres).

[2021-10-05 17:41] meotimdihia opened #362 "Typescript: this expression is not callable. Type 'void' has no call signatures"
**Describe the bug**
This expression is not callable.
  Type 'void' has no call signatures
![msedge_2021-10-06_00-39-45](https://user-images.githubusercontent.com/300961/136074764-5f866ec0-0858-41dd-9c45-cc2dbf54b0c7.png)

**Sandbox or Video**
The official demo has this bug too: https://codesandbox.io/s/github/pmndrs/use-gesture/tree/v10/demo/src/sandboxes/draggable-list?file=/src/App.tsx

**Infor

[2021-10-05 19:51] dbismut commented on #362
Thanks for reporting this, but it's not a bug in the lib :)

Here's the linting in a properly configured project:

<img width="623" alt="image" src="https://user-images.githubusercontent.com/5003380/136088794-4c0e8be9-5680-413c-9ddb-5d6f40525bc6.png">

I've just add `tsconfig.json` files to all typescript sandboxes and now it works fine: the official example link is actually: https://codesandbox.i

[2021-10-05 19:51] #362 closed

[2021-10-06 06:44] meotimdihia opened #364 "useDrag, active is true even after cancel"
**Describe the bug**
useDrag, active is true even after cancel
**Sandbox or Video**
This is the same as the official demo in the documentation, I only added 2 lines to show count in the console:
https://codesandbox.io/s/adoring-dew-e9yh7?file=/src/App.tsx:1142-1148
The problem is easier to debug when you open a new window: https://e9yh7.csb.app/
and try to slide back and forward 20 times, and chec

[2021-10-06 15:38] smashercosmo opened #365 "drag event fires earlier than pointerdown event"
**Describe the bug**
When both onDrag and onPointerDown handlers are specified, onDrag executes earlier than onPointerDown. Maybe it's by design, but looks very counterintuitive to me.

**Sandbox or Video**
If it's not something obvious, I can provide sandbox, that demonstrates the issue

**Information:**
 - React Use Gesture version: 10.0.2

**Checklist:**
  - [X] I've read the [documentation](ht

[2021-10-06 16:39] dbismut commented on #365
I don’t see the use case I’m sorry. Drag starts when the `pointerdown` event is fired. The fact that your own `pointerdown` logic comes after or before the drag handler being fired is an implementation detail.

 Please provide a sandbox demonstrating the problem and I’ll reopen.

[2021-10-06 16:39] #365 closed

[2021-10-06 17:04] dbismut commented on #364
Hey, it's hard to identify where the bug might come from but I've just made a small change to the `cancel` function in PR #366. Can you try this sandbox and see if it does the same?

https://codesandbox.io/s/gesture-viewpager-d81jr

[2021-10-06 17:11] meotimdihia commented on #364
@dbismut: it works with the demo and with my website too. 😀

[2021-10-06 17:42] dbismut commented on #364
Great, let's push a release then. Hopefully it won't break anything else 🙈

[2021-10-06 17:50] smashercosmo commented on #365
Well, as I said it's a bit counterintuitive. I mean, how can you even start dragging something if you haven't pressed mouse button first?
Here is codesandbox that demonstrates the issue https://codesandbox.io/s/loving-danilo-3yd8t?
Currently if you need to perform some logic before drag you have to do something like this
[code]

This check is being performed every time event is being fired. Seems

[2021-10-06 18:07] dbismut commented on #365
The `onPointerDown` handler is also used by the drag gesture. Yes, the lib could chain logic belonging to "native" handlers **before** the gesture handlers, but then you would argue that `onPointerEnd` should be fired **after** the drag is released.

Plus, the drag gesture has a lot of options, adapts its handlers depending on the device capabilities, meaning using `onPointerDown` to add to the dr

[2021-10-06 18:09] smashercosmo commented on #365
Alright, thx for the explanation and the tip)

[2021-10-13 07:48] yangvw opened #367 "Triggering event handlers from right mouse button"
In https://github.com/pmndrs/use-gesture/issues/57, it was mentioned that auxiliary mouse buttons can trigger drag events, too. But as of "@use-gesture/react": "^10.0.2", that feature seems to be removed.

Can we add it back, maybe with an option to turn it on?

[2021-10-15 07:10] dbismut commented on #224
@AdrienLemaire sorry, this is too abstract for me, I'd need more details about the failing tests, error messages etc. All I can tell is that tests work fine on the repo.

[2021-10-23 16:39] Emiliano-Bucci opened #373 "Possible issue in iOS15?"
**Describe the bug**
It seems that when using the useDrag hook, when the search bar moves itself (by dragging up/down), the hook doesn't work as expected anymore. Even using all kind of `touch-action` combinations, the hook seems broken. I believe the hook stops working correctly the moment Safari detects a vertical swipe and the search bar moves.

**Sandbox or Video**
https://react-spring-carouse

[2021-10-23 18:43] #373 closed, assigned to dbismut

[2021-10-28 11:52] timoxley opened #374 "TypeScript: useDrag & @react-three/fiber: Types of property 'onClick' are incompatible. MouseEventHandler vs ThreeEvent"
`useDrag` seems to work fine with `@react-three/fiber` components, but TypeScript complains about the handlers being attached by `{...bind()}`.

e.g.
[code]

[code]

**Sandbox**

https://codesandbox.io/s/fervent-blackburn-3p8db?file=/src/index.tsx

**Information:**
 - React Use Gesture version: [e.g. v10.1.1]

**Checklist:**
  - [x] I've read the [documentation](https://use-gesture.netlify.app/).

[2021-10-28 12:34] TTiole opened #375 "Separate movement and offset bounds"
I hope it's alright if I write this as a blank issue since there's no feature request template.

## Requested feature

Expose API for bounding movement and offset separately. A proposed API would be as follows:
`bounds: Bounds | {movement?: Bounds, offset?: Bounds}`

The same would apply for scaleBounds and angleBounds

If bounds are directly passed to the bounds config then apply those bounds to

[2021-10-28 16:06] timoxley opened #376 "`useDrag` can get stuck in "down" state"
It seems possible to get stuck in a state where `down` is always `true`, this seems to happen (sometimes) under certain conditions:
* mouse button (trackpad) is currently down
* window is resized while dragging (e.g. via keyboard shortcut)
* mousebutton is clicked/released outside the window

**Edit:** Doesn't even need resize, just releasing the mouse while outside the drag element seems to be en

[2021-10-29 17:21] #375 closed, assigned to nobody

[2021-10-31 12:14] timoxley commented on #376
Oh ugh, yeah you can get this same bug just by moving the cursor too fast and releasing the mouse, no resize necessary. See example below from the docs:

https://user-images.githubusercontent.com/43438/139582269-c03e63fb-65fd-4132-9fe6-a696ab76111c.mp4

In this case, the onDrag event handler doesn't actually fire again until the cursor hovers over the drag target again.

So there appears to be two

[2021-10-31 14:50] dbismut commented on #376
@timoxley I can't reproduce. I believe this is not about the mouse moving too fast, but maybe your screen recording app coming on the foreground while dragging. This lib has a lot of options, but in its simplest form, it relies on core web API.

- when pointer is pressed, the dragged target captures the event pointer id. This means that all pointer events from now on will propagate to the element

[2021-10-31 15:52] jzombie commented on #349
I had an issue on Android where pointercancel was being fired when I didn't expect it to, and seemed to resolve it by just using { pointer: { touch: true }.

[2021-10-31 16:09] timoxley commented on #376
@dbismut I'll see if I can whip up a sandbox but note the only reason I started recording was because I was seeing the issue, so it can't be something specific to the screen recording behaviour.

[2021-10-31 16:36] dbismut commented on #376
Could be command-tab app switching, back and forth. This would be a weird bug if this was indeed about the mouse speed.

[2021-10-31 17:03] dbismut commented on #349
@jzombie very likely you didn't properly set `touch-action` on your draggable element as mentioned in the docs.

[2021-10-31 17:07] timoxley commented on #376
@dbismut What OS/Browser are you on? Can you try again with CPU throttling enabled in DevTools?
![image](https://user-images.githubusercontent.com/43438/139593800-59c7d9e5-9ef4-4b3c-9708-403d4f1aebab.png)

With CPU throttling enabled I'm able to get it to happen almost every time using the first demo on https://use-gesture.netlify.app/docs/state/

No screen recording, no cmd-tabbing, no resizing w

[2021-10-31 17:09] jzombie commented on #349
I did, actually.  Noticed it on my Android device, then used BrowserStack to do some testing with as well, and noticed it happening on some devices, but not others, using the same Chrome version.  It might be related to some other specifics of my implementation, though, but all I know is using the touch events resolved it, and it is consistent on iOS as well.

Just very happy the touch events work

[2021-10-31 17:16] dbismut commented on #376
MBA M1, Mac OS 12.0.1, Chrome 95, using the trackpad. Already had set CPU throttling to x6, can't reproduce I'm sorry... I'm happy to get in touch on [Discord](https://discord.gg/poimandres) if you'd like, so we can at least isolate that issue!

[2021-11-01 02:30] jackwlee01 opened #377 "Diagonal or custom axis constraint?"
Is it possible to define a custom axis at a given angle? I have a requirement to constrain movement along a 30 degree axis, but it appears the available constraints are only for the x and y axis?

[2021-11-01 06:12] dbismut commented on #377
This is a relatively exotic request, I don't think it would make sense to implement it in the lib.

Just to clarify: do you just want the dragged element to follow a 30deg slope, or do you want the drag gesture (ie the cursor) to start with a 30deg slope?

[2021-11-02 00:13] jackwlee01 commented on #377
No worries, I thought that may be the case.

I want the dragged element to follow a 30deg slope.

[2021-11-02 05:15] dbismut commented on #377
In that case it should be fairly easy to implement this in your handler.

What the `axis` option does is more than just nullifying the other axis movement, it actually doesn't trigger the drag at all if the initial movement is on the other axis.

That means that if you start the movement on the other axis than the one you've specified, even the axis you have movement logic for will remain null unt

[2021-11-02 05:15] #377 closed

[2021-11-02 05:44] jackwlee01 commented on #377
Thanks, I'll look into implementing it in my handler.

[2021-11-02 21:19] NachoVazquez opened #379 "Threshold config not working for wheel on the latest version"
**Describe the bug**

Moving from v9 to v10 makes the threshold for the wheel gesture to start working.

**Sandbox or Video**

https://codesandbox.io/s/lethargy-forked-uxcg9?file=/src/index.js

Follow the Instruction in the import section.

**Information:**
 - React Use Gesture version: ^10.0.0
 - Device: [Macbook Pro]
 - OS: [Catalina]
 - Browser [Chrome 95]

**Checklist:**
  - [x] I've read the

[2021-11-02 21:23] dbismut commented on #379
Hmm the example doesn't use `threshold`, is that expected?

[2021-11-03 03:14] NachoVazquez commented on #379
This modified version has it, I only used the example because it was already set up.

But it happens without lethargy too (which is the extra piece here).

Thanks for taking a look.

[2021-11-03 09:46] #379 closed

[2021-11-03 10:09] dbismut commented on #379
@NachoVazquez should be fixed in latest release! Thanks for letting me know, rookie mistake.

[2021-11-03 12:04] NachoVazquez commented on #379
Awesome thanks for taking care so quickly!

[2021-11-03 14:54] marcusstenbeck commented on #224
I finally sorted this after a few hours after discovering that my `config.transform()` ended up returning invalid values.

[This line](https://github.com/pmndrs/use-gesture/blob/main/packages/core/src/engines/Engine.ts#L230) will cause `state.intentional` to be `false`, and then fail silently.

[2021-11-03 15:14] dbismut commented on #224
Feel free to submit a PR, I'm open to it.

[2021-11-04 08:40] marcusstenbeck commented on #224
@dbismut Done @ #382

[2021-11-04 12:15] dbismut commented on #224
@marcusstenbeck released in `@10.1.3`, thanks for your help.

[2021-11-04 12:29] Kryword opened #384 "touch event after onDrag is not triggered if done fast enough"
**Describe the bug**
If there's a drag event and just after that we try to tap on an element(part of the drag event), it will not register the tap as a click. This works fine on desktop but not on touch mode. In desktop after swiping it will allow you to click and detects the click instantly, while on touch mode it doesn't, it is required a double click, or waiting somewhere around 300-1000 ms(cou

[2021-11-04 12:47] dbismut commented on #384
The `onClick` handler is not part of the API, it's just passed to `bind` as is. You should experience the same behavior if you had done:

[code]

In other words, what you're observing shouldn't be dependent on the lib implementation.

[2021-11-04 13:11] Kryword commented on #384
Interesting, main problem we're seeing is that the onDrag event is executed when we do the click just after swipe(with props.tap set to true, which is correct), but there's no onClick event after that propagated. Somewhere after the onDrag the event is lost, we're not sure if it is from useGesture, React or Chrome itself.

When doing the tap without swiping, the onDrag event is executed with the s

[2021-11-04 13:31] dbismut commented on #384
As you've noted there's the `tap` state property that indicates whether the gesture was a tap, but the logic isn't the same as `onClick`, and requires `{ drag: { filterTaps: true } }` to be passed to the config object.

The difference with `onClick` is that `tap` is `true` when the global displacement is inferior to `3`.

As far as I know, `onClick` is triggered as long as the cursor is released *

[2021-11-04 15:09] Kryword commented on #384
Sorry, I did not provide the exact configurations we used in our application for the onDrag function. We did try it also with filterTaps and had the same result, not getting the onClick event triggered. With the cursor inside the target element.

It is only triggered if we wait after doing a swipe some time, if trying to click inmediately(less than ~300ms) it's not executing it, from responsivenes

[2021-11-04 16:30] dbismut commented on #384
Hm. I think it would be worth trying with a very minimal useDrag hook such as this one https://codesandbox.io/s/eloquent-goldwasser-tt17y

And try adding the `onClick` handler as a react prop.

Lmk if you can reproduce the same behavior.

PS: also, does the issue persist in both iOS and Android devices?

[2021-11-05 18:16] mysterybear opened #385 "Feature Request: richer pointer.buttons API"
mysterybear — 02/11/2021
https://use-gesture.netlify.app/docs/options/#pointerbuttons I want to be able to listen to left clicks and right-clicks, but I seem to only be able to use this to stipulate a necessary combination (like an AND combination, rather than an OR one)

dbismut — 03/11/2021
@mysterybear indeed not feasible out of the box
Either we make an option like pointer.buttons: -1 which wo

[2021-11-07 10:01] dbismut commented on #385
@mysterybear just submitted PR #386 that should address all this. Have a look at the linked sandbox and let me know if this works out for you.

https://codesandbox.io/s/optimistic-maxwell-l1yr3

[2021-11-08 12:18] mysterybear commented on #385
looks good to me @dbismut :+1:

[2021-11-08 12:25] mysterybear commented on #385
Sorry my bad, if I add 3 to the options (which should require left and right click together) it doesn't work

[2021-11-08 12:52] dbismut commented on #385
@mysterybear I don't have an external mouse to test this, and there's no specific logic in the lib that handles combinations, it only relies on `event.buttons`. I've added you on Discord so we can chat about this.

[2021-11-08 13:20] mysterybear commented on #385
@dbismut I've tested and it makes sense. The reason it doesn't work is because the buttons specified in the pointer options are the buttons for initiating the drag movement, and it's impossible(?) to initiate a gesture with a combination of buttons because you can't actually press each button at precisely the same time (one will always be pressed before another) therefore the event that triggers t

[2021-11-08 13:20] #385 closed

[2021-11-13 11:34] dbismut opened #391 "v10.2 improvements"
- [ ] Better tree shaking (don't include native handlers logic in hooks)
- [ ] Make sure the `eventOptions.capture` option doesn't apply to [non compatible handlers](http://localhost:3000/app/orders/ckvtsyqa000403c1ttttjlf81)
- [ ] Specific package for r3f to handle better typings

[2021-11-15 03:58] jzombie opened #392 "Pointer touch set to true is no longer calling drag handler"
**Describe the bug**
pointer.touch: true no longer working on mobile

**Sandbox or Video**
https://codesandbox.io/s/dawn-wood-ovi8f?file=/src/App.js
Test link:  https://ovi8f.csb.app/

In the test, if you touch the top box on mobile, it won't execute the drag handler.  The bottom box proceeds just fine.  I've ensured touch-action is set to none on the draggable element, as shown in the code sandbo

[2021-11-15 04:00] jzombie commented on #392
This was originally working in my codebase, and stopped working after rebuilding package-lock.json from scratch.  Updated to latest @user-gesture/react and still experiencing issue.

[2021-11-15 06:20] awmleer commented on #392
Seems like it is related to this line of code:
https://github.com/pmndrs/use-gesture/blob/ec3b80a398d9e240d8ed91faf99fd1790c1ef4e8/packages/core/src/engines/DragEngine.ts#L87

I encountered the same issue and after I manually set `pointer.buttons` to `-1`, it works.

[2021-11-15 06:43] dbismut commented on #392
Sorry about this, I'll release a fix today.

[2021-11-15 06:47] awmleer commented on #392
@dbismut I've submitted a pull request. I tested on my project and it looks ok. Please take a look at it. Thanks a lot! This bug is due to the operation priority.

[2021-11-15 07:25] #392 closed

[2021-11-15 17:39] Kryword commented on #384
Hello, sorry for the delay. I've prepared a reproducer using the provided minimal useDrag hook:
https://codesandbox.io/s/rough-feather-vl2h3?file=/src/App.js

It seems the click is only lost if we have set `touch-action: none` in css on the draggable element. If touch-action is not set, it will work fine and the clicks are not captured/removed. Not sure how it could be fixed from the library side.

[2021-11-15 19:31] jzombie commented on #392
Hi @awmleer thanks for the patch.

I revisited what I was working with and was able to get it to work with the pointer events correctly, but if I wind up in the dilemma I was in before, I'll keep this in mind.

[2021-11-17 08:00] dbismut commented on #384
@Kryword I really can't reproduce I'm sorry. Based from the minimal hook, you can see that there's hardly any reason why it would have any impact on how the `onClick` handler behaves. I'm going to close this now, but feel free to comment in this thread.

[2021-11-17 08:00] #384 closed

[2021-11-17 09:39] Kryword commented on #384
Hello, no problem, thanks to your minimal hook, the reproducer will be useful for fixing it in the end. We found out indeed it is a chrome bug, not yet fixed. For more information: https://bugs.chromium.org/p/chromium/issues/detail?id=1141207&q=%22touch-action%22&can=2

We'll report this to them with the extra information and the reproducer and we hope they can tackle it. Thanks a lot for your hel

[2021-11-29 22:11] CAYdenberg opened #401 "onPinch deltas on Mac trackpad are cumulative"
**Describe the bug**

When monitoring onPinch states, the values reported by `state.delta[0]` become greater and greater in magnitude on each successive event, and do not reset even when the gesture ends.

My understanding of the documentation is that the delta simply represents the total change for one event (not one gesture).

**Sandbox or Video**

https://codesandbox.io/s/bold-beaver-w0opf?file

[2021-11-30 08:07] dbismut commented on #401
Hi! Feel this is going to be either simple or a headache 😅

First, let me just say that this lib handles three ways of pinching:

- pinching with fingers: in that case scale is calculated as the ratio between the initial distance between finger 1 and finger 2 and the current one.
- pinching with the Magic Trackpad on Safari: in that case the lib relies on [WebkitGestureEvent](https://developer.app

[2021-11-30 18:28] CAYdenberg commented on #401
Please do. I'm a bit bound by this, so I'm willing to contribute a fix, but can't make any commitment on when I'll get to it.

[2021-11-30 20:35] mordv opened #402 "xy isn't affected by transform in 10.0.0+"
Hi! I was relying on `xy` to be transformed by the transform function. After an update, I've noticed it's not the case anymore: [Codesandbox](https://codesandbox.io/s/transform-xy-9t8q4?file=/src/Box.js:829-832). Is that intentional?

[2021-12-01 01:41] alvinalexander commented on #362
I am having the same error using typescript 4.3.5. Looking at the type definition for `useDrag` I see

[code]
Even though `Config['target']` is not defined in my code, the typescript compiler still treats the return value from useDrag as `void`. My workaround was to assigna a ref to the `target` attribute and omit the use of `{...bind()}` completely

[2021-12-01 07:18] dbismut commented on #362
@alvinalexander Please provide a sandbox. As seen above this was a documentation error. In any case changing code logic because of type potential error is never a good idea.

[2021-12-01 11:47] dbismut commented on #402
Hi @mordv thanks for this. This was a rather heavy fix tbh since I realized the way I applied the transform function wouldn't perform correctly if the function doesn't have a `[0,0]` origin. Therefore I had to adjust some internals, hence the version bump to `10.2.0` which also transforms `xy`.

Let me know how it goes.

[2021-12-01 19:58] Blackhardd commented on #362
...
"moduleResolution": "node"
...
In tsconfig.json causes this error. No idea how to fix this at this time.
https://codesandbox.io/s/intelligent-christian-9kwye?file=/src/App.tsx

[2021-12-01 20:19] Blackhardd commented on #362
Looks like
`"strictNullChecks": false`
in tsconfig.json may cause this error.

[2021-12-02 08:09] dbismut commented on #362
@Blackhardd I'm not sure why this would cause an error.
@alvinalexander There's some tests in the lib for types, and that use case should be covered here.

https://github.com/pmndrs/use-gesture/blob/72e579d0698e619b2464d51c1559efd1cbba9cfa/packages/react/src/types.test.ts#L20

The lib is now up to date with TypeScript `4.5.2`, maybe upgrading your TS version could help.

However, the sandbox here

[2021-12-02 09:19] Blackhardd commented on #362
![image](https://user-images.githubusercontent.com/6304775/144393100-aa0b15df-3ba7-4c53-b15d-011640b80557.png)
https://codesandbox.io/s/intelligent-christian-9kwye?file=/src/App.tsx

[2021-12-02 09:49] dbismut commented on #362
Hm ok actually you're right about `"strictNullChecks": false`, didn't know `undefined` and `null` would be completely ignored, but now reading the docs that make sense. Well, this isn't something I can fix as far as I know.

[2021-12-02 09:54] meotimdihia commented on #362
In my case, I have tried to upgrade to TypeScript `4.5.2` and it solved the problem.

[2021-12-02 18:06] #402 closed

[2021-12-03 00:12] alvinalexander commented on #362
@dbismut It's a little hard to provide a sandbox because the error only occurs at build time when I run `tsc -b` locally. I don't get an error from the vscode language server during development. I could provide more context about my local setup if that is helpful. In short, I am running node `v16.12.0` with typescript `4.3.5`.  I am working in a monorepo managed by nrwl.   I don't have `strictNull

[2021-12-03 00:13] alvinalexander commented on #362
I will try upgrading TS

[2021-12-06 15:40] Emiliano-Bucci commented on #376
@dbismut Hi! If this can somehow help, i also get the down state always as true (as well as pressed=true) when i assign `pan-y` to the container and then i drag vertically. Somehow, those values get stucked and aren't cleared again.

Hope can helps!

[2021-12-06 15:57] dbismut commented on #376
@Emiliano-Bucci that's super helpful indeed. Makes sense now. I'll try to see how I can fix this.

[2021-12-06 16:12] #376 closed

[2021-12-06 16:13] dbismut commented on #376
Let me know if this happens to be fixed in `10.2.1`!

[2021-12-07 23:12] uelibaumgartner opened #409 "useDrag swipe triggers in the wrong direction for certain devices"
**Describe the bug**
Two quick swipes in a row trigger the wrong swipe direction (possible due to a weird interaction with react spring).

We encounter this bug only with Firefox and only for a specific device type. But there it's so bad it basically makes our app unusable. To better understand this issue I stripped down everything to the bare essentials: [https://omkth.csb.app/](https://omkth.csb

[2021-12-07 23:14] dbismut commented on #409
Hi, please make a sandbox so I can have a proper look. Thanks.

[2021-12-11 22:08] softmarshmallow opened #410 "`da.scaleValue` is always `0`"
[code]

The value of `console.log("scaleValue", scaleValue, da);` is always 0.

Code referenced https://codesandbox.io/s/219jx?file=/src/index.js:396-809

[2021-12-11 23:09] dbismut commented on #410
What device are you using? It would be great if you'd fill the information at the bottom of the issue template, this makes things easier for me.

[2021-12-12 12:57] softmarshmallow commented on #410
I made it work using
`offset#scale`

[code]

Related - https://github.com/gridaco/designto-code/pull/97

[2021-12-12 14:53] dbismut commented on #410
I'm closing since this is a discussion and you're being super vague.

[2021-12-12 14:54] #410 closed

[2021-12-12 19:26] softmarshmallow commented on #410
That's bit rude but ok

[2021-12-16 07:41] CKGrafico commented on #362
+1 any fix?

[2021-12-16 07:55] dbismut commented on #362
@CKGrafico this issue is closed because I can't identify it, so I'm not even working on it. You're welcome to submit a sandbox highlighting a problem.

[2021-12-20 22:02] uelibaumgartner commented on #409
So I created the codesandbox - Hope this helps.

I understand that it probably isn't feasible to try to fix this if you can't reproduce it. Anyways, if you have some suspicion on what it could be I can offer my assistance by checking it for you.

Then something a bit off-topic: On chrome mobile onClick events (e.g. on the heart) are not registered right after swiping. I was planning to raise anoth

[2021-12-25 22:28] docduo commented on #376
No, I can reproduce this issue in the latest version @dbismut

[2021-12-26 17:48] docduo commented on #376
If this can help, I can only reduce the issue (which is very annoying because it's on Chrome, so it's represent a lot of users), using the macbook trackpad. I have an additionnal logitech mouse and I can not reproduce the issue with the mouse.

[2021-12-29 17:13] TPME commented on #409
Hi @dbismut , I am having the same issue as documented here. Any chance you could please look into this?

[2021-12-29 17:14] dbismut commented on #409
@TPME what hardware / browser please?

[2021-12-29 19:25] TPME commented on #409
@dbismut Sorry, I was specifically talking about the issue that the onClick event is not registered right after swiping. I end up having to tap twice (instead of just once). I can also re-create the bug in the code sandbox @uelibaumgartner linked in the original post now.

I am using a Samsung S20 with Chrome Browser (latest).

[2021-12-29 19:44] dbismut commented on #409
@TPME Oh right ok. Sorry I've let this issue stall a bit. I don't have an android device around unfortunately so I can't reproduce on my iPhone (Firefox, Safari, Chrome seem to work properly).

[2022-01-02 22:35] megabuz commented on #376
I see the same issue on chrome with MacBook trackpad. It does not reproduce constantly, but when it does `pointerup` event is not caught and it can be logged in an outer element.

[2022-01-02 22:52] dbismut commented on #376
@megabuz I'm not sure I understand the last bit, can you elaborate?

[2022-01-02 23:27] megabuz commented on #376
Sorry for the confusion.
In the structure similar to
[code]
Console log will be triggered if drag is stuck in "down" state. In case if drag works fine, log will not be fired

[2022-01-02 23:30] dbismut commented on #376
Thanks for clarifying. Is there a way to get Chrome stuck in down true mode somehow?

[2022-01-03 13:28] megabuz commented on #376
I didn't find the way to constantly reproduce it. It looks like in some random occasions `pointerup` event is not handled properly, but I can't see why.

[2022-01-03 13:37] timoxley commented on #376
@dbismut maybe worth reopening this issue?

[2022-01-05 18:01] Blunderchips commented on #362
Still seems to be failing

[2022-01-05 18:23] Blunderchips commented on #362
Code snippet take from the README

[code]

![image](https://user-images.githubusercontent.com/7081037/148268575-b40d48ed-6177-4324-b108-819be2270405.png)

[2022-01-05 18:43] dbismut commented on #362
@Blunderchips there seems to be unrelated errors in your screenshot. Please submit a sandbox on codesandbox showing the issue and I'll consider discussing this further.

[2022-01-06 17:18] jantimon opened #418 "filterTaps disables all click events in Jest"
**Describe the bug**

the `filterTaps` option works great in all browser however in JEST it prevents child listeners from working.

I am only guessing but maybe the following line doesn't work well as JEST is not able to get real size measurements:
https://github.com/pmndrs/use-gesture/blob/9217f29802b8e4d87dab42e2cbd7313d2179ffea/packages/core/src/engines/DragEngine.ts#L210

**Sandbox or Video**

[2022-01-06 19:09] dbismut commented on #418
Hey, thanks for reporting this.

The `filterTaps` option checks if the drag is an actual drag or a tap (it does this by checking whether the displacement is greater than `3px`). If the drag is a drag, then it prevents the `click` event to propagate (the `click` listener is added using `capture: true` so that events bubble down).

https://github.com/pmndrs/use-gesture/blob/9217f29802b8e4d87dab42e2c

[2022-01-07 07:59] jantimon commented on #418
After some further investigation I found out that `fireEvent.click` does not trigger `mouseDown` and `mouseUp` therefore `state.tap` is always false

There is a helper library which triggers a full click which works:

[code]

Could we set `state.taps = true` by default?

[2022-01-07 08:04] dbismut commented on #418
Oh right.

You mean setting `state.tap = false` on `pointerDown` then?

I'd have to make sure there's no collaterals.

[2022-01-07 08:56] jantimon commented on #418
Rather here:

https://github.com/pmndrs/use-gesture/blob/9217f29802b8e4d87dab42e2cbd7313d2179ffea/packages/core/src/engines/DragEngine.ts#L29

[2022-01-07 09:03] dbismut commented on #418
Yes, that's what I meant, but I would have to restore `state.tap` to a falsy value as soon as the gesture starts, as people might rely on it before `pointerUp`. In any case it wouldn't make sense to have `state.tap = true` when the user drags things around.

[2022-01-07 09:27] jantimon commented on #418
Oh I see - good point

[2022-01-07 18:53] odusseys opened #419 "Pinch and wheel mutually exclusive ?"
**Describe the bug**

I am trying to handle both pinch and wheel gestures. However using the code below, only one of the handlers is able to fire (wheel, in this case). Note that I have tried putting "target" only on the shared config object or only on the individual configs - same result.
Is this on purpose ? I couldn't find anything pointing towards it in the docs.

[code]

**Information:**
 - R

[2022-01-07 18:57] dbismut commented on #419
Hi, are you able to provide a sandbox? Thanks.

[2022-01-09 01:02] do-kevin commented on #362
Setting `strictNullChecks: true` in my tsconfig.json fixed it for me.

[2022-01-10 09:56] dbismut commented on #419
https://codesandbox.io/s/upbeat-hermann-zr1m3?file=/src/App.jsx:791-910

This seems to be working as intended.

[2022-01-10 14:01] jescowuester commented on #401
@dbismut  Could we also normalize this between mac / windows somehow? Right now, the offset on Windows (chrome) is much larger than on mac (chrome).

[2022-01-10 14:24] dbismut commented on #401
I guess this depends on the wheel velocity, which is not something that I guess could be hardware related and possibly configured by each user. This is not something we can normalize.

I might be wrong but as of now I wouldn't know how to manage this.

[2022-01-11 16:24] #419 closed

[2022-01-14 04:37] Rabbitzzc opened #422 "mouse/touch in iframe, the parent element can't drag"
**Describe the bug**
Here's an example,I code an iframe in div element and I can't drag the mouse over the iframe...

**Sandbox or Video**
[(https://codesandbox.io/s/mobile-slide-height-s5g33?file=/src/App.jsx&resolutionWidth=320&resolutionHeight=675)](https://codesandbox.io/s/mobile-slide-height-s5g33?file=/src/App.jsx&resolutionWidth=320&resolutionHeight=675)

https://user-images.githubuserconte

[2022-01-14 08:25] Rabbitzzc commented on #422
I changed the demo, added customEvent. May be I should know `use-gesture` how to listen and which events are listened to...

[2022-01-14 13:08] PROCW opened #423 "don't work onDragEnd event in mobile browser for gesture"
**Describe the bug**

I added my source.

[code]
[duck-machine.vercel.app](https://duck-machine.vercel.app/) in mobile web browser.
OnDragEnd should be called when the Knob button is rotated and the mouse button is released, but it is not called.
But this is worked in pc browser.

**Information:**
 - React Use Gesture version: [10.2.4]
 - Device: [iPhoneX]
 - Browser [Chrome browser]

[2022-01-14 13:28] dbismut commented on #423
Please provide a sandbox.

[2022-01-14 13:46] dbismut commented on #423
I'm asking for a minimal repro sandbox. Building it on your end reduces my time fixing the bug by 90%, also because you might figure out the bug isn't in the lib itself.

[2022-01-14 16:02] PROCW commented on #423
Sorry, if you give me email, I can invite in github.

[2022-01-14 16:21] dbismut commented on #422
Have a look at this option https://use-gesture.netlify.app/docs/options/#window
(PR for reference: https://github.com/pmndrs/use-gesture/pull/43)

However, it won't work in your case since your iframe is part of the render tree. To make it work we would need the `window` to accept refs I guess.

[2022-01-14 16:23] dbismut commented on #423
@PROCW Here's a sandbox taken from the example using `onDragEnd`. Performs as expected.
https://codesandbox.io/s/agitated-firefly-zikvb?file=/src/App.tsx

[2022-01-16 14:12] Rabbitzzc commented on #422
I don't know, I tried the `window`, but it's not work.

I think `use-gesture` listen some event, so I  added some listen manually, but it's not work also.

[code]

[2022-01-16 16:23] megabuz commented on #376
I did a small research of my case.
I have a bunch of draggable elements on the page, specifically there is a container, that has useDrag handler and elements in the container also using useDrag.

Anyway when I move elements, sometimes they loose pointer capture. So I receive `lostpointercapture` in element drag handler and `pointerUp` after that goes to my container drag handler.

I do not know wh

[2022-01-19 06:41] #422 closed

[2022-01-19 21:00] #423 closed

[2022-01-21 21:13] uelibaumgartner commented on #409
@dbismut I just good feedback, that this is very likely an issue tied to this specific device of this user. Therefore I'll close this issue.

For the other think where onClick events are not triggered that @TPME also is affected, I will raise a separate issue and with a better codesandbox, that really highlights the issue.

[2022-01-21 21:13] #409 closed

[2022-01-21 21:18] dbismut commented on #409
Thanks! Sorry I let this one stalled, just got a new job that takes me away from OSS.

[2022-01-24 18:13] odusseys opened #431 "Bounds do not seem to be respected if target is larger than bounds"
**Describe the bug**
Consider the following situation:
- a large canvas contained in a smaller viewport
- we attach a wheel gesture to the viewport with bounds which are smaller than the canvas
- the gesture state is incorrect: the offset is correct but the distance however is not subject to bounds
- this results in having to scroll the viewport in the opposite direction several times before being

[2022-01-25 05:59] softmarshmallow opened #432 "Mac onWheel with metaKey is not triggered as Pinch gesture"
ctrl key + scroll is recognized as pinch gesture, but on mac, metakey + scroll does not work as pinching.
We need extra config to enable this behaviour.

[2022-01-25 06:01] dbismut commented on #432
Please provide an example of the requested API.

[2022-01-25 10:59] dbismut opened #433 "Exclude children from the gesture"
cc @odusseys

### Discussed in https://github.com/pmndrs/use-gesture/discussions/428

<div type='discussions-op-text'>

<sup>Originally posted by **odusseys** January 19, 2022</sup>
Hi,
Is there a way to exclude specific children of an element from triggering the gesture / getting events as they should ? For example, is there a way to correctly select text within a draggable elements ?</div>

[2022-01-25 11:16] dbismut commented on #431
Is this what you're trying to achieve? https://codesandbox.io/s/sad-microservice-gdhum?file=/src/App.js

[2022-01-25 13:25] odusseys commented on #433
Responding to your last comment: it doesn't feel very idiomatic (in a react sense, but I understand the lib is meant to work for all JS frameworks including vanilla) to
- be passing around / working with dom objects unless it's a last resort / building a library, so as a consumer of a react lib it is always much more appreciable to work with components, hooks and refs
- send objects bottom-up in t

[2022-01-25 13:34] odusseys commented on #431
yes sorry - but actually if you pay attention to what happens in your sandbox, here's what happens
- try dragging quickly towards the left
- immediately after stopping, drag towards the right
you will see that the square will remain immobile for a moment before starting to drag again
However, if you pause for a second after finishing the first gesture and drag the other way, it will start moving i

[2022-01-25 13:45] dbismut commented on #431
Inertia is a classic problem when working with wheel, that's why libs like [Lethargy](https://github.com/d4nyll/lethargy) exist. I can see if there's anything I can do about this.

[2022-01-25 13:47] dbismut commented on #433
Can you point at where react-dnd is using the context api? Honestly it feels a bit convoluted to be using a `<Provider />` for a lib such as use-gesture, but I'm happy to reconsider.

[2022-01-25 13:48] odusseys commented on #431
just saw in the doc right before you answered hehe, I'm trying it out to see if I can cancel the gesture as soon as it goes to inertia and my bounds are reached - but I think this should be done by the lib

[2022-01-25 14:04] odusseys commented on #431
Also using lethargy, I don't see any way of stopping the gesture - state.event.preventDefault() (passive set to false) does nothing and the gesture keeps going

[2022-01-25 14:34] odusseys commented on #431
Found the bug

In packages/core/src/engines/CoordinatesEngine.ts

![image](https://user-images.githubusercontent.com/7863870/150996076-6f40d03d-7e5d-4fff-b352-d788edc5a901.png)

Here, you compute the offset based on the last offset (which is clamped to bounds) and the movement, which is not. Therefore, when the inertia has passed the bounds, you need to scroll a lot more to make the offset catch u

[2022-01-25 14:45] odusseys commented on #433
the provider could be used optionally (only if you need a child to get access to the gesture / the gesture state)
react-dnd has the provider here https://react-dnd.github.io/react-dnd/docs/api/dnd-provider
but it's a bit different since all hooks / HOC subscribe to this provider, as a means to declare useDrag anywhere inside and useDrop anywhere else, and have both communicate without passing any

[2022-01-29 17:39] softmarshmallow opened #435 "onPinch delta value is state sensitive"
the pinch delta value is not consistent by its movement.

https://user-images.githubusercontent.com/16307013/151671332-563ef25d-db53-44f1-a0a5-d82263602ec6.mov

What you are seeing is that sacling delta being messed up by the time passes.
at one point, the delta gets very small, that you can't see the scaling.

repo:
- https://github.com/gridaco/designto-code
- https://github.com/gridaco/designto-

[2022-01-29 17:41] dbismut commented on #435
How exactly am I suppose to debug this? Please edit your issue following the issue's template and I'll reopen.

[2022-01-29 17:41] #435 closed

[2022-01-29 17:48] dbismut commented on #435
Just to clarify: I'm not going to debug your app. Please provide a MINIMAL repro sandbox.

[2022-01-29 20:12] dbismut commented on #433
Would you be up for a PR? Note that the core package is platform agnostic (ie not React specific).

[2022-01-29 20:16] dbismut commented on #431
@odusseys `offset` is clamped further in the logic.

First `offset` is calculated as if it wasn't clamped.

https://github.com/pmndrs/use-gesture/blob/1b9cd356198093c5544593609a05666dc2370c6b/packages/core/src/engines/Engine.ts#L301

Then `offset` is clamped.

https://github.com/pmndrs/use-gesture/blob/1b9cd356198093c5544593609a05666dc2370c6b/packages/core/src/engines/Engine.ts#L320-L321

And fina

[2022-01-29 20:33] dbismut commented on #431
Thinking about this further: I get your point.
The logic that I mentioned above is generic to all gestures. Indeed, the offset to catchup but that makes sense on a drag let's say.

Let's say you drag an element until it's blocked by the bounds to its left, and then you continue dragging further left with your mouse (off the bounds). The element will catch up only when your mouse is back within the

[2022-02-01 23:41] goleary opened #437 "Docs search is broken"
**Describe the bug**

![image](https://user-images.githubusercontent.com/16123225/152069719-955f1389-0263-4dd9-b353-e3da2f4ace78.png)

This error shows up in the console:
[code]

**Information:**
 - OS: Windows 11
 - Browser: Chrome

[2022-02-02 00:07] goleary opened #438 "tapsThreshold in docs, but not released"
Thanks for the great package!

I tried to follow the docs and make use of `tapsThreshold`, but kept getting type errors.

Only after digging in to the repo did I notice this was just added a few days and is evidently not on the released version of the package.

[2022-02-02 05:11] dbismut commented on #438
Indeed, docs are built on main merge, not on release, but that should be fixed today.

[2022-02-02 08:37] #432 closed

[2022-02-03 12:50] #431 closed

[2022-02-03 13:50] #438 closed

[2022-02-04 08:27] odusseys commented on #433
I am under water with work but I'm putting a task in my todos to do this as soon as things clear out, would love to help

[2022-02-07 03:09] awmleer opened #441 "useDrag with `pointer: { touch: true }` stucks on iOS after pulling the home bar"
**Describe the bug**

Open the codesandbox below on iOS devices. When you drag the gray box, it follows. Then, hold the gray box with one finger, and pull the iOS home bar up with another finger **at the same time**. And then, release the two fingers. Now, the gray box get stuck. No matter how you drag it, it won't move or trigger the callback of `useDrag`.

If you comment line 17, which is `point

[2022-02-11 16:49] #441 closed

[2022-02-11 16:53] dbismut commented on #441
Hey @awmleer thanks for the detailed issue. This should be fixed in [10.2.6](https://www.npmjs.com/package/@use-gesture/react/v/10.2.6)!

[2022-02-14 08:00] awmleer commented on #441
Great! It works now!

[2022-02-15 19:10] spencerkordecki opened #445 "Documentation - Redeclaration of `const`"
**Describe the bug**
Within the documentation at the link below, there's a few examples that use a pattern like this:

[code]

The problem is that if someone copy/pastes this example, ESLint throws an error because the `x` and `y` variables used on line 2 and 4 of the example collide with each other. While a user could certainly just disable ESLint for that line, it's also of note that the example

[2022-02-15 19:12] dbismut commented on #445
This is your lint rule that prevents naming conflicts in variables even though they're not in the same scope.

[2022-02-15 19:13] #445 closed

[2022-02-16 15:32] menaka123 opened #448 "UseDrag do not work in ios 12.5"
**Describe the bug**

**Sandbox or Video**

**Information:**
 - React Use Gesture version: 9.1.3
 - Device: ios simulator (ipad air)
 - OS: ios 12.5
 - Browser safari

[2022-02-16 15:36] dbismut commented on #448
Please update the lib to its latest version, earlier versions aren't supported. Also don't expect anyone to test something in a simulator running a 3 year old OS. Thanks.

[2022-02-16 15:36] #448 closed

[2022-02-17 08:52] Rabbitzzc opened #449 "confirm delay option default value..."
**Describe the bug**

[code]
the `defaultValue` should be '180ms'.
<img width="780" alt="image" src="https://user-images.githubusercontent.com/26913511/154439737-4031495f-beb4-4967-8037-69a8499db390.png">

[2022-02-17 08:55] dbismut commented on #449
`180ms` is the default value when delay is `true`. But by default delay is set to `0ms`.

[2022-02-17 08:55] #449 closed

[2022-02-17 20:06] mordv opened #450 "movement is [0,0] after .requestPointerLock() is called."
https://codesandbox.io/s/pensive-http-gdkm9j?file=/src/Box.tsx:1262-1286 (click on canvas to lock the pointer)

[2022-02-17 20:11] #450 closed

[2022-02-27 11:42] looeee opened #451 "Attempting to render useDrag hook in Snowpack results in a TypeError but works in other build systems"
Attempting to render `useDrag` hook in Snowpack results in a TypeError. The same code in CRA or standard Codesand react template renders correctly.

[Codesandbox with snowpack](https://codesandbox.io/s/react-snowpack-forked-o6rhl6?file=/src/index.jsx:0-555): error
[Standard react codesandbox](https://codesandbox.io/s/react-typescript-forked-ni3u7o?file=/src/index.tsx:0-555): works

[code]

Result:

[2022-02-28 16:08] dbismut commented on #451
Hey @looeee thanks for the detailed report. I'll have a look as soon as I can.

[2022-02-28 18:02] dbismut commented on #451
Damn Snowpack is hard to debug, no wonder why I ended up using Vite for the demo folder... I have no idea why this fails, especially since it builds properly. Since I cannot manage to integrate Snowpack as a package in `@use-gesture` monorepo with preconstruct, I'm not sure I'll have the patience to fix this any time soon. As far as I'm concerned, this is for Snowpack to solve.

[2022-03-01 04:06] looeee commented on #451
Yeah it's the first time I've used Snowpack for a project and I'm definitely on the fence - I've had quite a few weird issues, although this is the first deal breaker. I'll try Vite if it can't be easily resolved.

I switched to Snowpack after a frustrating couple of hours trying to get CRA to load WASM with the correct mimetype. Snowpack solved that problem, but caused this one. Feels like I'm pl

[2022-03-02 19:48] yeefun commented on #376
@dbismut I have the similar issue, but it's hard to reproduce. Could you expose an option `pointer.mouse` like `pointer.touch`? If we find the pointer events have some problems, we can choose to use the mouse events.

[2022-03-02 20:07] yeefun opened #455 "Indeed tap, but state.tap is still false"
**Describe the bug**

It related to `filterTaps`, but it's hard to reproduce.

https://github.com/pmndrs/use-gesture/blob/2d943428cc1242f773248ebe85760513bd136c52/packages/core/src/engines/DragEngine.ts#L230-L235

Sometimes, users indeed tap, but `state.tap` is still `false`. It cancels other click events because of `event.stopPropagation()`. I have traced the source code, but it seemed no problem

[2022-03-03 21:27] dbismut commented on #437
Thanks for raising this. I had to upgrade the documentation packages which took some time!

[2022-03-03 21:27] #437 closed

[2022-03-03 21:38] evancloutier opened #457 "Weird useDrag bounds behaviour when using delta in drag logic"
**Describe the bug**
When using the `delta` and providing an HTMLElement as `bounds` to a `useDrag` hook, the boundary is not obeyed and the boundaries almost act as literal edges – the delta values seem to drastically increase once they're outside the boundaries.

The expectation here is that the boundaries would act as intended and prevent the dragging element to move outside of the bounding DOM

[2022-03-04 17:32] lucax88x opened #458 "Hard to explain, handlers on different components looks like they deny the final drag with down: false"
**Describe the bug**
I'll probably try to create a sandbox, but It'll require some time, in the meantime I wanted to post a quick video about the "problem".

You can see I have a "tabs" component in the screen, that I can drag on the x axis, and as soon as I leave my finger ({down: false}) I try to put the tab to the correct position, and this works flawlessly.

The problem is that when I open thi

[2022-03-04 22:53] goleary opened #459 "Drag gesture behaves erratically with Apple Pencil"
Thanks for all of your work on this library!

**Describe the bug**

Note that while we are using a drag gesture, it does not correspond to any element being dragged across the screen. We are watching for "drags" across static elements (to select them), so we aren't using `touch-action:none`.

We're unable to trigger the `onDragStart` handler using an Apple Pencil as input device.

- when apple pen

[2022-03-05 08:35] alekseyBatuhtin commented on #338
I have the same issue with dragging and scrolling, but the solution with `scrollDiff` has the problem.

https://codesandbox.io/s/compassionate-rain-36ddxh

https://user-images.githubusercontent.com/20453923/156874637-f80d17ae-2bf7-4acb-90d6-0fbb2ed7b29d.mp4

It looks like we should add `scrollDiff` into movement value when calling next `onDrag` handler. But using `memo` is a weird path, I think so

[2022-03-05 13:52] #457 closed

[2022-03-05 13:57] dbismut commented on #459
I think I understand but I'm not sure I got it right in full. Would it be possible to follow this conversation on the [Discord channel](https://ptb.discord.com/channels/740090768164651008/740093202987483156)?

[2022-03-05 14:41] dbismut commented on #458
Have a look at this sandbox: https://codesandbox.io/s/use-gesture-template-forked-ygn4tz
The yellow rect acts as some sort of handle for the menu to the right. I've left it yellow so you can actually see it, but you can have it transparent if you want.

Let me know what you think, whether it matches the usecase.

[2022-03-06 00:51] looeee commented on #451
Hey, since there's been no response over on Snowpack (and hardly any activity on the repo at all) for a week,  I'll close this issue for now.

I'll report back here if they respond with anything useful and we can reopen this if necessary.

[2022-03-06 00:51] #451 closed

[2022-03-06 01:04] goleary commented on #459
Sure, will follow up in the Discord channel early next week!

[2022-03-07 09:08] #455 closed

[2022-03-07 17:45] #458 closed

[2022-03-12 15:20] Nicolerobinn opened #467 "OnPinch update scale error"
**Describe the bug**

**Sandbox or Video**

**Information:**
 - React Use Gesture version: [ v7.0.2]
Google Chrome 101.0.4919.0
**Checklist:**
  I've read the [documentation](https://use-gesture.netlify.app/).

[2022-03-12 15:23] dbismut commented on #467
Closing until you actually follow the issue template.

[2022-03-12 15:23] #467 closed

[2022-03-18 22:07] herbievine opened #471 "Unable to get ralative coordinates of an element."
**Describe the bug**
I was trying to recreate the card effect as displayed [here](https://codesandbox.io/s/vigilant-tdd-w3ngdw), but noticed, that if you want the element to actually be used in a website, you don't have access to its x and y position (I created an example of what I mean [here](https://codesandbox.io/s/sleepy-saha-nudz2v)). I found a workaround using the `onMouseLeave` and `onMouse

[2022-03-19 16:46] dbismut commented on #471
You're not using the latest version of use-gesture.

[2022-03-19 16:46] #471 closed

[2022-03-20 12:48] herbievine commented on #471
Well, could you show me how to do it then? I've tried for hours and asked on SO... Thanks

[2022-03-24 13:51] teamchong commented on #362
one quick fix is add a ! to the assignment of the bind variable to indicate it is not void

instead of
const bind = useScroll(........)

do this
const bind = useScroll(........)!

[2022-04-06 18:17] smalljiaot commented on #362
the other option is to do const bind:any = useDrag(); that way you dont have to mess with tsconfig.

[2022-04-12 19:56] Sorkstryparen commented on #66
Is there any example with v.10 regarding this?
Can't get @dbismut sandbox example above to work with latest versions of react-gesture and react-spring.
Even after changing dragDelay to delay 🤔

[2022-04-20 05:25] jacob-lcs opened #485 "Clicking on the screen with another finger while dragging an element interrupts the dragging behavior"
**Describe the bug**

Clicking on the screen with another finger while dragging an element interrupts the dragging behavior, unless you remove the dragging finger and start dragging again

**Sandbox or Video**

codesandbox link: https://codesandbox.io/s/confident-beaver-556uec

https://user-images.githubusercontent.com/40483898/164155641-e7c6963d-fd89-4eaf-9659-4892b5ef0c91.MP4

I looked at the so

[2022-04-20 05:40] dbismut commented on #485
Fair enough, that could / should be fixed, thanks for reporting this. This bug should only occur with `preventScroll` option set.

I'd need to run some tests to make sure we could safely remove those lines (the gesture cleaning might be done elsewhere).

[2022-04-22 13:56] ukrutt opened #486 "touch-action on iOS Safari"
**Describe the bug**
On iOS 15.4.1, Safari browser, the `touch-action` behaviour suggested in https://use-gesture.netlify.app/docs/extras/#touch-action does not work well. If I try to drag the boxes horizontally, I need to slide *perfectly horizontally* -- if not, the drag stop and the screen scrolls instead.  NOTE: it works very well with the Chrome browser on iOS!

A workaround/solution to this

[2022-04-22 13:58] dbismut commented on #486
I've noticed that for a while and this is just infuriating. Chrome works ok but for some reason pan-y stopped working properly in Safari. This is absurd. In those situations I'm now looking at methods similar to https://kor-ui.com/components/swipe-actions involving overflow.

[2022-04-24 01:37] krispya commented on #162
I was running into this issue but in a slightly different scenario. I have popover menus inside a parent with hover styles that the user can cancel by hitting escape (or some other userland interaction that isn't pointer related) but the hover state remains stale on the parent since there was technically no pointerout event.

https://user-images.githubusercontent.com/7064954/164951993-4f957e0d-4df

[2022-04-24 03:34] krispya commented on #162
I'm not sure why, but using `target` with a ref instead of spreading `bind` fixes this issue for me.

[2022-04-24 07:35] dbismut commented on #162
Indeed. I'll close this, thanks for the tip!

[2022-04-24 07:35] #162 closed

[2022-04-28 11:27] hkalexling commented on #280
@dbismut Oops I am dumb I missed the `pointer.capture` part. Thanks!

[2022-05-12 21:43] FRMR1 commented on #101
@dotlouis Nice one, that works well. Thanks.

[2022-05-14 13:15] #485 closed

[2022-05-14 13:19] dbismut commented on #485
Sorry for the long wait, should now be fixed!

[2022-05-16 11:48] awmleer opened #494 "Open a new page will lock the scroll of the old page"
**Describe the bug**

Open the codesandbox below. The web page should be able to scroll normally. Then click on one of the cards. It'll open a new page. Switch back to the sandbox page and you'll find the whole page can't be scrolled.

Seems like the scroll lock doesn't get released… Also I found this bug only occurs when `preventScroll` is set to `true` and in `@use-gesture/react` v10.2.13.

I th

[2022-05-16 12:03] dbismut commented on #494
Indeed. This is must be due to this commit: https://github.com/pmndrs/use-gesture/commit/6896094b312da0efadbdad15e81f4fc0f8dc0b26#diff-bdb226cd6a706170fbb3438b6eefc36f52e23458ac4190aace4c5d11c89d3a11, I knew this would fire back somehow.

[2022-05-16 18:28] #494 closed

[2022-05-17 01:12] awmleer commented on #494
v10.2.14 works now. Thanks!

[2022-05-23 09:48] awmleer opened #497 "After clicking the slide, the first drag event get ignored"
**Describe the bug**

Open the codesandbox below on **iOS Safari**. Drag the slides and they should work properly. Then click (tap) on the slide. And then, try to drag it. You'll find the first dragging get ignored. You need to drag twice to flip the slide.

Besides, v10.2.12 does not have this bug. So this seems to be related with #494 and #485. 😅

**Sandbox or Video**

https://codesandbox.io/s/f

[2022-05-23 10:48] dbismut commented on #497
I'm beginning to die inside 😅
I've spotted the issue and understand where it comes from, not sure how I'm going to solve this though.

[2022-05-23 11:03] #497 closed

[2022-05-23 11:04] dbismut commented on #486
You can also use `preventScroll: true` as a config option in `useDrag`.

[2022-05-23 11:04] #486 closed

[2022-05-23 11:05] dbismut commented on #497
Took less than I thought, should be fixed in next release @awmleer.

[2022-06-02 02:20] do-kevin opened #501 "TypeScript Error: Movement is not part of state"
**Information:**
 - Use Gesture version: ^10.2.4
 - TypeScript

**Bug**
I am getting an error complaining about state's movement. I've tried removing my node_modules and upgrading the package, but it still shows up. `movement` is still part of `state` on my console.log.

On hover, it says

[code]

**Screenshots**
![gesture linting bug](https://user-images.githubusercontent.com/40156784/171534657-b

[2022-06-03 08:00] #501 closed

[2022-06-14 05:33] weiliang903 commented on #88
Hello everyone, I found a solution to simulate drop events that solved my problem perfectly. [mdn](https://developer.mozilla.org/en-US/docs/Web/API/Document/elementFromPoint)`Document.elementFromPoint(x, y)` can i use 100% mobile browser compatible

[code]

[code]

[2022-06-21 14:09] SteveoKr opened #507 "Typescript: Type incompatibility error when using Gesture with the vanilla package"
**Describe the bug**
When using the vanilla package in combination with Typescript, the `Gesture` class shows a type incompatibility error for the handlers.

After looking a bit through the underlying type definitions I noticed that the `Target` type in `packages/core/src/types/utils.ts` depends on `React.RefObject` even though the core package does not have a dependency on React types. This resul

[2022-06-21 14:22] dbismut commented on #507
Ah yeah I see, thanks for the heads up. Ref objects are ultimately `{ current: any }` so I guess I can just cast it without using React. Will release a fix asap.

[2022-06-23 08:25] dbismut commented on #507
Hey @SteveoKr would you mind testing https://github.com/pmndrs/use-gesture/pull/508 if this solves the issue on your end?

[2022-06-23 13:39] SteveoKr commented on #507
Thanks for the quick fix! I tested it and there was still an issue with the onDrag handler. I added the corresponding suggestion to #508.

[2022-06-23 13:47] #507 closed

[2022-06-23 14:35] dbismut commented on #507
Hey @SteveoKr the new version is now out. Let me know if it works out for you!

[2022-07-06 15:30] linonetwo commented on #501
![截屏2022-07-06 23 25 44](https://user-images.githubusercontent.com/3746270/177586941-b1ee6886-d87d-4b45-83f2-697d458bd8c3.png)
![截屏2022-07-06 23 26 18](https://user-images.githubusercontent.com/3746270/177587032-957af225-e89e-49f0-a134-49da01d47c75.png)

[2022-07-06 16:36] dbismut commented on #501
I won't reopen without a sandbox.

[2022-07-07 00:02] breauxna commented on #401
@dbismut just wondering if there is any progress on this? It's a blocker for upgrading from the old react-use-gesture package for me since this is how it behaved previously. If there isn't any progress, do you have some advice on how to emulate the old pinch delta behavior? Should I use memo to store the movement and get movement - memoMovement?

[2022-07-07 10:30] dbismut commented on #401
Hey @breauxna would you mind sharing a sandbox that would show the problem with the current version of use-gesture?

[2022-07-07 22:50] breauxna commented on #401
Hey @dbismut thanks for the quick reply. So we are currently using the onPinch gesture to handle zooming on a canvas. We are taking the delta coming from the onPinch gesture, scaling it and then adding or subtracting it to our current zoom level.  We are also clamping it within some min and max scale bounds. Since the new delta on onPinch isn't relative to the current gesture (not sure if that's r

[2022-07-08 06:49] dbismut commented on #401
@breauxna just to clarify, onPinch now gives you directly scale and rotation. There's no need for multiplying delta to approximate the zoom. If you look at the exemples such as https://githubbox.com/pmndrs/use-gesture/tree/main/demo/src/sandboxes/card-zoom you should have a good indication on what to do to migrate from older versions.

[2022-07-08 15:38] breauxna commented on #401
@dbismut good to know, thanks again for your quick response! Unfortunately it seems like that sandbox isn't working anymore :/
[code]

[2022-07-08 18:21] dbismut commented on #401
Weird @breauxna. On which device?

[2022-07-08 19:30] breauxna commented on #401
I'm using Chrome (103) on an Intel Mac (OS X 10.15)

[2022-07-09 07:45] dbismut commented on #401
@breauxna there seems to be something weird with codesandbox. Can you try saving the sandbox (this will fork it) and reload the page? It should work properly afterwards (or just use that sandbox https://codesandbox.io/s/green-currying-1siy43).

[2022-07-09 20:10] dmagunov opened #515 "On iOS drag stops working after press-and-hold gesture fired on it"
**Describe the bug**

On iOS drag stops working after press-and-hold gesture fired on it

**Sandbox or Video**

Sandbox:
https://codesandbox.io/s/hidden-rain-1h4oc9

Video:

https://user-images.githubusercontent.com/3579475/178121049-2c886219-003d-4ae7-b29b-94a611e84db6.MP4

**Information:**
 - Use Gesture version: >= 9.4.5
 - Device: iPhone13 Pro Max
 - OS: iOS 15.5
 - Browser: Chrome

**Checklis

[2022-07-11 15:45] dmagunov commented on #515
I just cloned, an existing [example](https://codesandbox.io/s/github/pmndrs/use-gesture/tree/main/demo/src/sandboxes/card-zoom), which is failing on the latest version

[2022-07-11 16:04] dbismut commented on #515
That example pulls the latest version of the lib while the sandbox you link uses 10.1.6, hence me asking. In any case I'm able to reproduce with the latest version, thanks for posting the bug.

[2022-07-11 16:28] dmagunov commented on #515
Thanks, just to clarify, an example sandbox is failing on the latest version, that is why I downgraded the library

<img width="1775" alt="Screenshot 2022-07-11 at 18 26 17" src="https://user-images.githubusercontent.com/3579475/178312412-865aa444-e7bc-472d-b0a3-3e8e33a47ac9.png">

<img width="2045" alt="Screenshot 2022-07-11 at 18 22 44" src="https://user-images.githubusercontent.com/3579475/1783

[2022-07-11 16:48] dbismut commented on #515
It's not failing. Codesandbox is failing for some reason. Not sure what happens there but if you fork it and reload the page it works 🤷‍♂️

[2022-07-13 07:49] ty888 opened #516 "Can't zoom in or out in iframe"
**Describe the bug**

**Sandbox or Video**
https://codesandbox.io/s/an-niu-lei-xing-antd-4-21-6-forked-t7h1wx?file=/demo.js
**Information:**
 - Use Gesture version: [e.g. v10.2.10]
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]

**Checklist:**
  - [ ] I've read the [documentation](https://use-gesture.netlify.app/).
  - [ ] If this is an issue with drag, I've

[2022-07-13 07:51] dbismut commented on #516
I won't be able to help without a sandbox.

[2022-07-13 09:57] dbismut commented on #516
Can you please tick the two checkboxes from the issue template? As it seems you haven't set touch-action anywhere.

[2022-07-13 09:57] #516 closed

[2022-07-13 12:58] ty888 commented on #516
@dbismut help

[2022-07-13 13:11] dbismut commented on #516
So the bug occurs on your laptop?

[2022-07-14 01:46] ty888 commented on #516
yes, happens in my project

[2022-07-14 01:46] ty888 commented on #516
yes, happens in my project

[2022-07-14 08:56] ty888 commented on #516
@dbismut I've tried using pointerEvents: "none" on the iframe, but that blocks me all.

[2022-07-14 09:18] dbismut commented on #516
It's touch-action

[2022-07-14 09:48] ty888 commented on #516
So there is no solution for this problem on laptops

[2022-07-14 13:22] dbismut commented on #516
This lib doesn't do much magic. It doesn't interfere with events.

This shows a working sandbox with iFrame zoom and container zoom both working.
https://codesandbox.io/s/cant-zoom-in-or-out-in-iframe-516-forked-xi0ogo

[2022-07-15 14:46] Cuppachino commented on #501
I was able to recreate the issue by selecting "Use VS Code's Version 4.8.0-dev.20220714" over the workspace version, which in my case was 4.7.4

in the status bar, left of your selected language mode, click the curly braces.
![image](https://user-images.githubusercontent.com/92656523/179246936-493f0596-79b1-4515-b2fb-471ac9ff9589.png)

![image](https://user-images.githubusercontent.com/92656523/17

[2022-07-22 20:12] Linksku opened #523 "filterTaps with preventDefault disables all clicks?"
**Describe the bug**
I'm using use-gesture to handle the back swipe gesture myself, so in browsers with a builtin back swipe gesture, it'll go back twice. I wanted to use `preventDefault` to disable the builtin gestures. However, if I enable `preventDefault`, it seems to disable all clicks. I assumed `filterTaps` would ignore all taps/clicks.

I tried calling handling the `touchstart` event myself

[2022-07-22 21:01] tnrich commented on #401
@breauxna you said:

Where is the relative delta found? I'm looking for it here:
[code]
Is it somewhere here:
<img width="555" alt="image" src="https://user-images.githubusercontent.com/2730609/180567775-d58aa463-21f0-4990-b3cf-b64462fa4f20.png">

I am not interested in a delta that varies based on the internally kept scale calculated by usePinch and just want a relative delta based on how much a

[2022-07-22 21:15] dbismut commented on #401
`delta` is, as mentioned in the docs, the difference between the current `movement` and the previous `movement`. In other words, it's the delta of the scale (which yes, is calculated internally, except for when the lib uses `WebkitGestureEvents` which natively return `scale`).

To get the delta you want I guess you could try to use `state.values` and use `memo` to compute the delta in the handler.

[2022-07-22 21:23] tnrich commented on #401
@dbismut I think this is probably not the right library for my use case then unfortunately as all I want is to get the simple delta of the actual wheel/pinch (my use case has various ways of controlling the "zoom" state of a custom dna viewer component - pinching as well as a draggable slider).

That's a bit unfortunate cause I like the hook interface provided by this library. You sure there's no

[2022-07-22 21:37] dbismut commented on #401
Maybe you could jump on the Discord and we could chat about your use case. I'm kinda interested at why you wouldn't be able to use this lib, even if you have other ways of controlling the zoom!

[2022-07-22 21:41] tnrich commented on #401
@dbismut sure! How do I find your channel?

[2022-07-25 19:18] tnrich commented on #401
Thanks @dbismut  I was able to put something together using the `from` option since I was controlling the scale level externally. Here's the relevant code:

[code]

This can be found in the OVE repo here - https://github.com/TeselaGen/openVectorEditor

[2022-08-07 10:53] benslv opened #528 "Animations stuttering on Firefox when dragging elements"
**Describe the bug**
Animated elements (using `@react-spring/web`) move in a stuttery/low-framerate motion when dragged in Firefox. This same motion is absolutely fine when using Google Chrome.

I checked to see if this was an issue with `@react-spring/web` but upon switching out the `@use-gesture/react` package with (the now deprecated) `react-use-gesture` the stuttery behaviour disappears and el

[2022-08-07 10:59] dbismut commented on #528
I'm currently on my phone, but in both cases (new use-gesture and old react-use-gesture) react-spring with `immediate: true` seems to stutter when animating with style directly is smooth.

There could be a bug in the lib so take this with a bit of salt but it doesn't do heavy math and just basically fires events when they come. So there's no reason why use-gesture would cause a lag here.

[2022-08-07 11:15] benslv commented on #528
Interesting, okay. I suppose I could maybe "crosspost" this issue over on the react-spring repo and see what they think about it. I don't want to spam too much and, honestly, I'd love to be able to fix it myself but I think it's very much out of my depth.

[2022-08-07 16:08] dbismut commented on #528
I had already reported this to the react-spring team (either Discord, DM or GitHub), this is exactly what I had set up this sandbox in the first place. I'm going to analyze this a bit more later on.

[2022-08-07 17:31] dbismut commented on #528
@benslv I'm on my Mac now. I've updated everything to its latest package, and also added my animation lib (far from stable) into the mix. I'm using Firefox and I'm not seing any difference between the old / new use-gesture package, no matter the animation lib being used. Lmk your feelings, and feel free to close if this looks like a non-issue.

[2022-08-08 21:36] #528 closed

[2022-08-10 14:58] plalance commented on #433
I personnally use @vueuse/gesture based on this library...

I have the same problem : my users want to still select texts or have a "normal" behavior of the website.

As i didn't found anything in gesture options and as the "target" option juste do nothing (= event still triggered on children)

what i did is basically check if the dom element of the state.event is the one i want based on classList

[2022-08-10 15:54] michelecocuccio opened #529 "Missing types in useWheel hook"
Hello! Thanks for the awesome library!

I have noticed that the properties `last` and `memo` are not typed correctly in the `useWheel` hook. I have followed the example provided to[ use wheel with Lethargy ](https://codesandbox.io/s/lethargy-2coe8?file=/src/index.js) but when this is used with Typescript it throws an error as the properties `last` and `memo` that are contained in the `SharedGestur

[2022-08-10 15:58] uni0ue opened #530 "filterTaps causes links and buttons not to be clickable on keyboard"
**Describe the bug**
When `filterTaps` is set to `true` focused links or buttons can't be clicked by keyboard anymore. This is an accessibility and usability issue as [interactive elements must be able to be activated using a keyboard](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Keyboard#interactive_elements_must_be_able_to_be_activated_using_a_keyboard).

This is

[2022-08-10 16:02] dbismut commented on #529
Thanks for raising an issue. Can you please send a repro sandbox as asked in the issue template? Thanks

[2022-08-10 16:29] dbismut commented on #529
There are other closed issues about a similar problem. It's likely to be your local typescript config.

https://github.com/pmndrs/use-gesture/issues/501

I'll reopen if you're able to submit a repro sandbox on Codesandbox.

[2022-08-10 16:30] #529 closed

[2022-08-10 17:32] dbismut commented on #530
Hi @uni0ue thanks for raising an issue. Here is a minimal repro sandbox for reference: https://codesandbox.io/s/exciting-thompson-10gidk

I'll see if a fix is possible.

[2022-08-10 17:58] #530 closed

[2022-08-10 18:13] dbismut commented on #530
Should be fixed in 10.2.18!

[2022-08-16 15:47] stephenhmarsh commented on #240
thank you so much for the example.  someone should add this to the docs.

[2022-08-27 19:31] steos commented on #314
Hello!

I just ran into this issue while writing an e2e test simulating a drag interaction.
However, when I set `delay: true` the delta is not just off by the `filterTap` threshold but it seems to swallow the entire first mousemove, no matter what the delta is.

For example, issuing the following events:
- mousedown
- mousemove(10,10)
- mouseup

and logging the useDrag state in the callback only r

[2022-08-28 14:28] dbismut commented on #501
@Cuppachino seems like TS 4.8 does introduce this bug. I'm not sure why tbh.

<img width="796" alt="image" src="https://user-images.githubusercontent.com/5003380/187079092-9fd6ee88-d662-4773-a42c-ecdbdd608890.png">

[2022-08-28 14:57] dbismut commented on #501
[Here's a minimal repro on TS Playground.](https://www.typescriptlang.org/play?ts=4.8.0-beta#code/C4TwDgpgBA4hDOwCuAnCBpCIoF4oHIATFAQwHN8oAfAsASwDsBjAC3wCh3RIoBhAewC2g-gwDKwEsGh4A3lBEA3CIIgNgALigBtBkkEAjCCgA0UPYeMBdKAF8u4aABFSZCVJl8hI8ZOlQAMih5QjpEEmYILV19I1NzWOs7Bx4ABUZWd388AWFRLOgg+QiyABsohMsUZPZGaRQAMxImaALg9igoYnIAfi0XcgKOqHpmFj6odLGh+xToADEkUtK4RFQIAoAeTGwIAA9pBkJ4WARkNB2APlwoADlRW6XSkgNyzYLt

[2022-08-28 15:29] dbismut commented on #501
Ok after some investigation, this is because of the simplification of the NonNullable mapped type.

[code]

Fix is incoming.

[2022-08-30 08:04] dbismut commented on #501
Should be now fixed in 10.2.19.

[2022-08-31 12:07] datner opened #537 "typebug, useScroll has no xy parameters"
**Describe the bug**
pretty straightforward, the types got broken once I upgraded my typescript from 4.7 to 4.8

**Sandbox or Video**
<img width="707" alt="image" src="https://user-images.githubusercontent.com/22598347/187673567-8f0715e2-c975-44a7-b4e7-b070af616317.png">

**Information:**
 - Use Gesture version: v10.2.11 through v10.2.19 tested
 - Device: Macbook pro
 - OS: idk latest, doesn't rea

[2022-08-31 12:17] datner commented on #537
I technically can send you the repo, but it's quite big and I am not sure it'll be productive, but the tsconfig is pretty easy to send

[code]

[2022-08-31 12:31] datner commented on #537
for whats its worth, `typescript` published a new minor like 4 hours ago. Which might have re-broke it? 🤔

[2022-09-05 17:49] dbismut commented on #537
@datner here's a small repo. Just run yarn install and yarn tsc. I'm not getting any errors on my end so I'll close until further notice..

[nyw1ln.zip](https://github.com/pmndrs/use-gesture/files/9491496/nyw1ln.zip)

[2022-09-05 17:49] #537 closed

[2022-09-15 21:59] a-type opened #544 "Typings break in TypeScript with moduleResolution: NodeNext"
**Describe the bug**
When using the library in a TypeScript project that is using ESM (NodeNext) module resolution, typings for top-level hooks are available but their parameter types are broken and uninferrable.

I notice when using `Go to Definition` in my editor that I can only get as far as `@use-gesture/react/dist/declarations/src/useDrag.d.ts`. My editor's TypeScript cannot seem to bridge th

[2022-09-29 23:29] jtaccinelli commented on #157
@dbismut

Hey - this is an issue that seems to have made a comeback :(

![image](https://user-images.githubusercontent.com/69351250/193159624-027f5747-c790-411d-991f-947704c44e84.png)

is it possible to have this looked into again?

[2022-09-30 03:39] dbismut commented on #157
Hey @jtaccinelli what is the version of use gesture you're using and what version of typescript?

[2022-10-31 20:17] tokarchyn opened #551 "Exception thrown when holding ctrl and simultaneously scroll the wheel on the mouse fast enough"
**Describe the bug**
Exception thrown when holding `ctrl` and simultaneously scroll the wheel on the mouse fast enough.

[code]

**Sandbox or Video**
Card-zoom sandbox from the documentation: https://codesandbox.io/s/github/pmndrs/use-gesture/tree/main/demo/src/sandboxes/card-zoom

**Information:**
 - Use Gesture version: 10.2.21
 - Device: Laptop
 - OS: Windows 11
 - Browser Chrome

**Checklist:*

[2022-11-01 00:04] LSafer commented on #551
Same with Firefox with the exception `P2 is undefined` (also reading `clientX`)

[2022-11-01 07:49] dbismut commented on #551
I'm not able to reproduce... Are both your machines running windows? Are you using a trackpad? @LSafer @tokarchyn

[2022-11-01 16:33] VillePakarinen commented on #222
Hey, @richarddd, any chance you could share a codesandbox of what you ended up doing?

[2022-11-01 18:17] LSafer commented on #551
I think it got something to do with tracking pointerIds

My setup was: Next.js + useSpring + useGuesture + mouse and a touch screen
with the ref passed in the options and not using the returned binding function and with onDrag and onPinch being setup

When I tracked touches count on `onDrag` it says 1, when I use one finger or the mouse.
But after a while (not sure why), it starts saying 2. Even t

[2022-11-01 19:34] dbismut commented on #551
Tracking pointer ids can be a complex problem. Would you mind sharing a sandbox so I can have a look? Also are you using a Microsoft Surface by any chance?

[2022-11-01 21:57] LSafer commented on #551
@dbismut Ok, it might take a while though and no I use `second screen` feature in my galaxy tab to test touch input (I use a windows desktop PC with keyboard and mouse)

[2022-11-01 22:43] LSafer commented on #551
Sorry I couldn't reproduce it. I haven't committed the code until I changed it to a working solution

The code was using `react-image-lightbox` and I was searching for another solution since it doesn't work on react 18

[2022-11-02 01:59] LSafer commented on #551
Umm, actually, the error occurs one this demo page:

https://codesandbox.io/s/github/pmndrs/use-gesture/tree/main/demo/src/sandboxes/card-zoom

Click `Open in a new window` and zoom using `CTRL` + `mouse wheel`

[2022-11-02 08:28] dbismut commented on #551
@LSafer thank you very much I'll have to get some hardware to reproduce this. Just so you know, pointer ids bug exists because I wanted the lib to support multi hands gestures, so two hands being able to interact pinching two different objects at the same time. This requires some logic that's a bit hard to master cross-devices...

[2022-11-02 21:39] kriskolve opened #552 "onDrag + onClick with threshold and filterTaps does not work as expected"
**Describe the bug**
When using onDrag and onClick handlers together inside useGesture it is desirable to isolate drag Events from Click events. It should be possible to do this with threshold:<some number> and filterTaps:true so that:
1) when clicking (without moving the mouse) only the onClick event fires.
2) When Dragging only the dragging associated events fire, no onClick at the end.

_Actual

[2022-11-14 14:14] barconvizit opened #555 "Got "Type 'undefined' is not assignable to type 'DragBounds'" inside bounds config of useDrag function"
**Describe the bug**
Hi, I'm getting a typescript compiling error for the callback parameter when the bounds attribute of the config object is defined as a callback.
For some reason the type is inferred as a union of several types including undefind which is the cause of the problem.

The full detailed error:
[code]
<img width="419" alt="image" src="https://user-images.githubusercontent.com/109509

[2022-11-14 16:09] dbismut commented on #555
@barconvizit not able to reproduce. Please test this sandbox locally and tell me if you see the same error.
https://codesandbox.io/s/strange-leaf-rfj1fs?file=/tsconfig.json

If the sandbox doesn't seem right to you, please fork it and send it back to me.

[2022-11-16 09:34] #555 closed

[2022-11-16 10:52] dbismut commented on #555
Sure don't hesitate to post what was wrong so it might be helpful for others ;)

[2022-11-17 08:34] barconvizit commented on #555
I had some logic which didn't return a value so the actually inferred return value type was a union with undefined :/

[2022-11-17 09:55] ClemensDinkel opened #556 "{...bind()} from useDrag is not callable"
From a div I call the bind() function provided by the useDrag hook as follows.
[code]
It works as it is supposed to, but typescript isn't happy about what I'm doing. It tells me the following:
<img width="673" alt="image" src="https://user-images.githubusercontent.com/66182913/202410255-b6682e91-50f2-4f59-9237-93751da44533.png">

This is the definition of the function in which I use the useDrag ho

[2022-11-17 10:02] dbismut commented on #556
Hey, please provide a sandbox or GitHub repro. Thanks!

[2022-11-17 11:04] dbismut commented on #556
I had a closer look and it might be because of your tsconfig and strict null checks. Can you paste it here?

[2022-11-17 12:16] ClemensDinkel commented on #556
[code]

This is the underlying base json which is extended 2 times (we have a monorepo structure)
The extensions (in case they're important) are:

(react.json)
[code]

(project.json)
[code]

[2022-11-20 11:29] lindabeslist commented on #551
I have the same error on windows11 in chrome in the sandbox on desktop. You can reproduce it to drag the cart a bit to the right and zoom in and out with ctrl key and scrolling with the mousewheel.
![image](https://user-images.githubusercontent.com/7568777/202899328-55a6ce00-93d1-4b1b-9f0e-9839f78d0fd0.png)

[2022-11-30 07:32] gunters63 commented on #556
One workaround would be to pass {} or undefined as the options parameter to useDrag